<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:py="http://genshi.edgewall.org/"
	  py:strip="">

		<div id="footer">
			<div class="links">
				<p>
					See also:
					<a href="http://wordpress.org">WordPress.org</a> &bull;
					<a href="http://bbpress.org">bbPress.org</a> &bull;
					<a href="http://buddypress.org">BuddyPress.org</a> &bull;
					<a href="http://ma.tt">Matt</a> &bull;
					<a href="http://bbpress.org/feed/" title="RSS Feed for Articles">Blog RSS</a>
				</p>
			</div>
			<div class="details">
				<p>
					<a href="http://twitter.com/buddypressdev" class="twitter">Follow BuddyPress on Twitter</a> &bull;
					<a href="http://buddypress.org/about/gpl/">GPL</a> &bull;
					<a href="http://buddypress.org/contact/">Contact Us</a> &bull;
					<a href="http://buddypress.org/terms/">Terms of Service</a>
				</p>
			</div>
		</div>

<script type="text/javascript">
  var _qevents = _qevents || [];
  (function() {
   var elem = document.createElement('script');
   elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge")
               + ".quantserve.com/quant.js";
   elem.async = true;
   elem.type = "text/javascript";
   var scpt = document.getElementsByTagName('script')[0];
   scpt.parentNode.insertBefore(elem, scpt);
  })();
</script>
<script type="text/javascript">_qevents.push( { qacct:"p-18-mFEk4J448M"} );</script>
<noscript><img src="//pixel.quantserve.com/pixel/p-18-mFEk4J448M.gif" style="display: none;" border="0" height="1" width="1" alt=""/></noscript>

</html>
