{# buddypress.trac — header markup, injected at the start of <body> by the shared site_header.html. #}
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P24PF4B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <dl id="accessibility">
        <dt>Skip to:</dt>
        <dd><a href="#content" title="Skip to content">Content</a></dd>
    </dl>
    <div id="wporg-header">
        <div id="header-inner">
			<button id="mobile-menu-button" aria-expanded="false"><span class="screen-reader-text">Toggle Menu</span></button>
            <ul id="wporg-header-menu">
                <li><a href="https://buddypress.org/about/">About</a></li>
                <li><a href="https://buddypress.org/blog/">News</a></li>
                <li><a href="https://codex.buddypress.org/">Codex</a></li>
                <li><a href="https://developer.buddypress.org">Develop</a></li>
                <li class="current"><a href="https://buddypress.trac.wordpress.org">Make</a></li>
                <li><a href="https://buddypress.org/support/">Forums</a></li>
                <li><a href="https://buddypress.org/download/">Download</a></li>
            </ul>

            <h1><a href="https://buddypress.org">BuddyPress.org</a></h1>
        </div>
    </div>
