@import "../variables-site/variables-site";

.locale-banner {
	background: $color__green;
	padding: 8px;
	padding: 0.5rem;
	text-align: center;
	@include font-size(ms-unitless(ms(-2)));
}

@media ( min-width: 67rem ) {
	.locale-banner {
		margin: 16px auto 0;
		margin: 1rem auto 0;
		max-width: $size__site-main;
	}
}
