@import "../variables-site/variables-site";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	// Override wp4.css.
	background: transparent;
	border: none;
	padding: 0;

	border-left: 2px solid $color__border;
	color: #82878c;
	font-style: italic;
	margin: 16px 0;
	margin: 1rem 0;
	padding-left: 16px;
	padding-left: 1rem;

	cite {
		@include font-size( ms-unitless( ms(-2) ) );
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 2px;
	margin: 80px auto;
	margin: 5rem auto;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";
@import "notices";
@import "banners";
