@import "../variables-site/variables-site";

/* User badges */

.by-moderator {
	box-shadow: -4px 0 0 white, -6px 0 0 $color__moderator;
}
.by-plugin-author,
.by-plugin-contributor {
	box-shadow: -4px 0 0 white, -6px 0 0 $color__plugin-author;
}

.by-theme-author,
.by-theme-contributor {
	box-shadow: -4px 0 0 white, -6px 0 0 $color__theme-author;
}

.author-badge {
	position: absolute;
	top: 14px;
	left: -4px;	
	padding: 2px 6px;
	color: white;
	font-size: 0.6rem;
	letter-spacing: 1px;
	border-radius: 0 2px 2px 0;
}

.author-badge-moderator {
	background-color: $color__moderator;
}

.author-badge-plugin {
	background-color: $color__plugin-author;
}

.author-badge-theme {
	background-color: $color__theme-author;
}

#bbp-user-replies-created {
	.author-has-badge {
		box-shadow: none;
		border-left-style: solid;
		border-left-width: 3px;
	}

	.by-moderator {
		border-left-color: $color__moderator;
	}

	.by-plugin-author,
	.by-plugin-contributor {
		border-left-color: $color__plugin-author;
	}

	.by-theme-author,
	.by-theme-contributor {
		border-left-color: $color__theme-author;
	}

	.author-badge {
		position: inherit;
		float: left;
		margin: 2px 0 6px -8px;
	}
}
