ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.unstyled {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.meta-list {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0.5rem 0;
		font-size: 0.8rem;
		border-top: 1px solid #eee;
	}
}