/**
 * Theme Name: bbPress.org 2013
 * Theme URL: http://bbPress.org
 * Description: A WordPress theme for bbPress.org
 * Author: John James Jacoby
 * Author URI: http://jaco.by
 * Version: 2.1
 * Template: bb-base
 * Tags: bbpress, gray, 508, compliance, fixed width, widgets, gallery
 */

/**
 * See bb-base/style-bbpress.css
 */
