$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #eee;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #21759b;
$color__link-visited: #4ca6cf;
$color__link-hover: #d54e21;
$color__text-main: #32373c;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Colors
$color__wp-blue: #0073aa;
$color__base-gray: $color__text-main;
$color__green: #C7E8CA;