/* =Admin CSS
----------------------------------------------- */
#wporg_parsed_ticket {
  width: 100px;
}

#ticket_info_icon {
  font-size: 14px;
  color: #a00;
}

#ticket_status .spinner {
  position: relative;
  bottom: 4px;
  float: none;
}

.attachment_controls {
  margin-bottom: 10px;
  display: block;
}

/* Explanations */
.post-type-wporg_explanations .add-new-h2 {
  display: none;
}

.expl-row-actions {
  display: block;
}
.expl-row-actions a {
  display: inline-block;
}
.expl-row-actions a:first-child {
  padding-right: 6px;
  padding-left: 0;
}
.expl-row-actions a:nth-child(n+2) {
  padding-left: 8px;
  border-left: 1px solid #ccc;
}

.status {
  font-weight: bold;
}
.status.pending {
  color: red;
}
.status.publish {
  color: green;
}

.post-type-wp-parser-function .form-table th,
.post-type-wp-parser-class .form-table th,
.post-type-wp-parser-method .form-table th,
.post-type-wp-parser-hook .form-table th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-type-wp-parser-function .form-table td,
.post-type-wp-parser-class .form-table td,
.post-type-wp-parser-method .form-table td,
.post-type-wp-parser-hook .form-table td {
  padding: 10px;
}
.post-type-wp-parser-function .form-table td p,
.post-type-wp-parser-class .form-table td p,
.post-type-wp-parser-method .form-table td p,
.post-type-wp-parser-hook .form-table td p {
  margin-top: 0;
}
