/**
 * Autocomplete Css
 *
 * Mainly overrides for awesomplete.css
 */
div.awesomplete > ul > li:hover {
	background: hsl(200, 40%, 90%);
}

div.awesomplete > ul > li[aria-selected="true"] {
	background: hsl(200, 40%, 80%);
	color: #404040;
}

div.awesomplete mark {
	color: #404040;
}

div.awesomplete li:hover mark, div.awesomplete li[aria-selected="true"] mark {
	background: hsl(65, 100%, 49%);
}

.devhub-wrap div.awesomplete > ul {
	max-height: 13.5em;
	color: #404040;
	margin-top: -.9em;
	overflow: auto;
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.9));
}

.devhub-wrap .searchform label div.awesomplete > input,
.devhub-wrap div.awesomplete {	
	width: 100%;
}

.devhub-wrap .searchform div.search-post-type {
	clear: both;
}

.devhub-wrap .searchform,
.devhub-wrap .searchform div:first-child,
.devhub-wrap div.awesomplete {
	/* Needs to be visible for the awesomplete popup */
	overflow: visible;
}

div.awesomplete > ul > li:hover {
	color: black;
}

div.awesomplete > ul:before {
	content: none;
}
