/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

body {
  background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
a img {
  border: 0;
}

/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

hr {
  background-color: #dfdfdf;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}

/* Text elements */
p {
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* Form Elements */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
  font-weight: 300;
}

button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.home .devhub-wrap #content {
  padding: 0;
}
.home .devhub-wrap .site-header {
  margin-bottom: 0;
}

.devhub-wrap {
  padding-bottom: 1.5em;
  /* Text meant only for screen readers */
  /* Clearing */
  /* =Content
  ----------------------------------------------- */
  /* =Media
  ----------------------------------------------- */
  /* Make sure embeds and iframes fit their containers */
  /* =Comments
  ----------------------------------------------- */
  /* =Widgets
  ----------------------------------------------- */
  /* Make sure select elements fit in widgets */
  /* Search widget */
  /* =Infinite Scroll
  ----------------------------------------------- */
  /* Globally hidden elements when Infinite Scroll is supported and in use. */
  /* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
  /*
   * Header area
   */
  /*
   * section styles
   */
  /* Comments */
  /*
   * Content
   *
   */
}
.devhub-wrap *,
.devhub-wrap *:before,
.devhub-wrap *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.devhub-wrap #content, .devhub-wrap #content-area {
  padding: 0 10px;
}
.devhub-wrap #content .toc-heading, .devhub-wrap #content-area .toc-heading {
  clear: left;
}
.devhub-wrap #content table, .devhub-wrap #content-area table {
  border: 1px solid #f0f0f0;
}
.devhub-wrap #content table th, .devhub-wrap #content-area table th {
  padding: 1em;
  border-bottom: 1px solid #f0f0f0;
  background: #f0f0f0;
}
.devhub-wrap #content table td, .devhub-wrap #content-area table td {
  padding: 0.8em 1em;
}
.devhub-wrap #content-area,
.devhub-wrap .inner-wrap {
  margin: 0 auto;
  max-width: 60em;
}
.devhub-wrap .page-header {
  margin-top: 1em;
}
.devhub-wrap a {
  color: #21759b;
}
.devhub-wrap .site-main h2,
.devhub-wrap .site-main h3,
.devhub-wrap .site-main h4,
.devhub-wrap .site-main h5,
.devhub-wrap .site-main h6 {
  color: #1e1e1e;
  margin-bottom: 1.5rem;
}
.devhub-wrap #headline h2 a {
  color: #555;
  font-weight: 300;
  font-size: 28px;
  line-height: 1em;
  text-shadow: #fff 0px 1px 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.devhub-wrap h1 {
  font-size: 28px;
  font-size: 3rem;
  line-height: 32px;
  line-height: 3.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.devhub-wrap h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26px;
  line-height: 2.6rem;
  font-weight: 300;
}
.devhub-wrap h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: 300;
}
.devhub-wrap h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  border-bottom: none;
  font-weight: 300;
}
.devhub-wrap h4 .dashicons {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 22px;
  line-height: 2.2rem;
  height: 22px;
  width: 22px;
  height: 2.2rem;
  width: 2.2rem;
}
.devhub-wrap main {
  font-size: 1.5rem;
}
.devhub-wrap a.button,
.devhub-wrap button,
.devhub-wrap input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
.devhub-wrap a.button,
.devhub-wrap button,
.devhub-wrap input[type="button"],
.devhub-wrap input[type="reset"],
.devhub-wrap input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.1;
  float: none;
  height: auto;
  padding: .6em 1.8em;
  text-decoration: none;
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}
.devhub-wrap a.button:hover,
.devhub-wrap button:hover,
.devhub-wrap input[type="button"]:hover,
.devhub-wrap input[type="reset"]:hover,
.devhub-wrap input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  background: #f0f0f0;
}
.devhub-wrap a.button:focus, .devhub-wrap a.button:active,
.devhub-wrap button:focus,
.devhub-wrap button:active,
.devhub-wrap input[type="button"]:focus,
.devhub-wrap input[type="button"]:active,
.devhub-wrap input[type="reset"]:focus,
.devhub-wrap input[type="reset"]:active,
.devhub-wrap input[type="submit"]:focus,
.devhub-wrap input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.devhub-wrap a.button.shiny-blue,
.devhub-wrap button.shiny-blue,
.devhub-wrap input[type="button"].shiny-blue,
.devhub-wrap input[type="reset"].shiny-blue,
.devhub-wrap input[type="submit"].shiny-blue {
  background-color: #21759b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
  background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
  background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
  background-image: -o-linear-gradient(top, #2a95c5, #21759b);
  background-image: linear-gradient(to bottom, #2a95c5, #21759b);
  border-color: #21759b;
  border-bottom-color: #1e6a8d;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
}
.devhub-wrap a.button.shiny-blue:hover,
.devhub-wrap button.shiny-blue:hover,
.devhub-wrap input[type="button"].shiny-blue:hover,
.devhub-wrap input[type="reset"].shiny-blue:hover,
.devhub-wrap input[type="submit"].shiny-blue:hover {
  background-color: #278ab7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
  background-image: -moz-linear-gradient(top, #2e9fd2, #21759b);
  background-image: -ms-linear-gradient(top, #2e9fd2, #21759b);
  background-image: -o-linear-gradient(top, #2e9fd2, #21759b);
  background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
  border-color: #1b607f;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.devhub-wrap input[type="checkbox"],
.devhub-wrap input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
.devhub-wrap input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.devhub-wrap input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
.devhub-wrap button::-moz-focus-inner,
.devhub-wrap input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
.devhub-wrap input[type="text"],
.devhub-wrap input[type="email"],
.devhub-wrap input[type="url"],
.devhub-wrap input[type="password"],
.devhub-wrap input[type="search"],
.devhub-wrap textarea {
  padding: 3px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.devhub-wrap input[type="text"]:focus,
.devhub-wrap input[type="email"]:focus,
.devhub-wrap input[type="url"]:focus,
.devhub-wrap input[type="password"]:focus,
.devhub-wrap input[type="search"]:focus,
.devhub-wrap textarea:focus {
  color: #111;
}
.devhub-wrap textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}
.devhub-wrap .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.devhub-wrap .screen-reader-text:hover,
.devhub-wrap .screen-reader-text:active,
.devhub-wrap .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}
.devhub-wrap .clear:before,
.devhub-wrap .clear:after,
.devhub-wrap .entry-content:before,
.devhub-wrap .entry-content:after,
.devhub-wrap .comment-content:before,
.devhub-wrap .comment-content:after,
.devhub-wrap .site-header:before,
.devhub-wrap .site-header:after,
.devhub-wrap .site-content:before,
.devhub-wrap .site-content:after,
.devhub-wrap .site-footer:before,
.devhub-wrap .site-footer:after {
  content: '';
  display: table;
}
.devhub-wrap .clear:after,
.devhub-wrap .entry-content:after,
.devhub-wrap .comment-content:after,
.devhub-wrap .site-header:after,
.devhub-wrap .site-content:after,
.devhub-wrap .site-footer:after {
  clear: both;
}
.devhub-wrap .hentry {
  margin: 0 0 1.5em;
}
.devhub-wrap .byline,
.devhub-wrap .updated {
  display: none;
}
.devhub-wrap .single .byline,
.devhub-wrap .group-blog .byline {
  display: inline;
}
.devhub-wrap .page-content,
.devhub-wrap .entry-content,
.devhub-wrap .entry-summary {
  margin: 1.5em 0 0;
}
.devhub-wrap .page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.devhub-wrap .page-content img.wp-smiley,
.devhub-wrap .entry-content img.wp-smiley,
.devhub-wrap .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.devhub-wrap .wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.devhub-wrap .wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.devhub-wrap .wp-caption-text {
  text-align: center;
}
.devhub-wrap .wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.devhub-wrap .site-main .gallery {
  margin-bottom: 1.5em;
}
.devhub-wrap .site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.devhub-wrap .site-main .gallery dd {
  margin: 0;
}
.devhub-wrap embed,
.devhub-wrap iframe,
.devhub-wrap object {
  max-width: 100%;
}
.devhub-wrap .comment-content a {
  word-wrap: break-word;
}
.devhub-wrap .bypostauthor {
  background: #eee;
}
.devhub-wrap .widget select {
  max-width: 100%;
}
.devhub-wrap .widget_search .search-submit {
  display: none;
}
.devhub-wrap .infinite-scroll .paging-navigation,
.devhub-wrap .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
.devhub-wrap .infinity-end.neverending .site-footer {
  display: block;
}
.devhub-wrap .site-header {
  background: none repeat scroll 0 0 #F7F7F7;
  border-bottom: 1px solid #DFDFDF;
  height: 62px;
  margin-bottom: 1em;
}
.devhub-wrap .site-branding {
  width: 100%;
}
.devhub-wrap .site-branding a {
  text-decoration: none;
  color: #606060;
}
.devhub-wrap .site-branding .site-title {
  color: #555555;
  float: left;
  font-size: 28px;
  line-height: 1em;
  padding-left: 9px;
  padding-top: 18px;
  text-shadow: 0 1px 0 #FFFFFF;
  font-weight: 300;
}
.devhub-wrap .breadcrumbs {
  font-size: 13px;
  font-size: 1.3rem;
}
.devhub-wrap .breadcrumbs .active {
  font-weight: 600;
}
.devhub-wrap .breadcrumb-trail {
  margin-bottom: 1.25em;
}
.devhub-wrap h1.entry-title,
.devhub-wrap h1.page-title {
  font-weight: 300;
  font-size: 37px;
  font-size: 3.7rem;
  color: #606060;
  text-align: center;
}
.devhub-wrap h1.entry-title a,
.devhub-wrap h1.page-title a {
  text-decoration: none;
  color: #606060;
}
.devhub-wrap h1.single-entry-title,
.devhub-wrap h2.entry-title {
  text-align: left;
  font-size: 30px;
  font-size: 3rem;
  padding: 0 0 24px;
  padding: 0 0 2.4rem;
}
.devhub-wrap h1.single-entry-title a,
.devhub-wrap h2.entry-title a {
  text-decoration: none;
  color: #606060;
}
.devhub-wrap .home-landing .section {
  padding: 30px 0%;
  padding: 3rem 0%;
}
.devhub-wrap .color.section {
  color: #fff;
}
.devhub-wrap .section.blue {
  background: #0F3D57;
  padding: 30px 0;
  padding: 3rem 0;
}
.devhub-wrap .section.blue .box {
  text-align: center;
}
.devhub-wrap .section.blue .box .widget-description {
  padding: 1em 15%;
}
.devhub-wrap .section.blue .widget-title {
  font-size: 62px;
  font-size: 6.2rem;
  line-height: 78px;
  line-height: 7.8rem;
}
.devhub-wrap .section.blue .widget-title .dashicons {
  font-size: 84px;
  font-size: 8.4rem;
  line-height: 84px;
  line-height: 8.4rem;
  height: 84px;
  width: 84px;
  height: 8.4rem;
  width: 8.4rem;
  margin-right: 16px;
  margin-right: 1.6rem;
}
.devhub-wrap .section.gray {
  background: #797878;
  color: #fff;
}
.devhub-wrap .section.gray h2,
.devhub-wrap .section.gray h3,
.devhub-wrap .section.gray h4 {
  color: #fff;
}
.devhub-wrap .section.gray .inner-wrap {
  max-width: 700px;
  max-width: 70rem;
  margin: 0 auto;
}
.devhub-wrap .section.gray .inner-wrap .code-ref-left {
  float: left;
  width: 70%;
  clear: none;
}
.devhub-wrap .section.gray .inner-wrap .code-ref-right {
  float: left;
  width: 30%;
  clear: none;
}
.devhub-wrap .section.gray .inner-wrap .go {
  float: right;
}
@media (max-width: 43em) {
  .devhub-wrap .section.gray .inner-wrap .code-ref-left,
  .devhub-wrap .section.gray .inner-wrap .code-ref-right {
    float: none;
    width: 100%;
    padding: 1.5em 10%;
    clear: both;
    text-align: center;
  }
  .devhub-wrap .section.gray .inner-wrap .go {
    float: none;
  }
}
.devhub-wrap .section.gray .widget-title {
  font-weight: 300;
  font-size: 40px;
  font-size: 5rem;
  line-height: 50px;
  line-height: 5rem;
}
.devhub-wrap .section.gray .widget-title .dashicons {
  font-size: 50px;
  font-size: 5rem;
  line-height: 50px;
  line-height: 5rem;
  height: 50px;
  width: 50px;
  height: 5rem;
  width: 5rem;
}
.devhub-wrap .section.gray .widget-description {
  margin-left: 65px;
  margin-left: 6.5rem;
}
.devhub-wrap .section.light-gray {
  background: #f2f2f2;
  color: #606060;
}
.devhub-wrap .section.light-gray .widget-title {
  color: #606060;
  font-weight: 600;
}
.devhub-wrap .section.light-gray .widget-title a {
  color: #2D96C2;
}
.devhub-wrap .section.light-gray a {
  color: #606060;
  text-decoration: none;
}
.devhub-wrap .section .home-primary-content {
  max-width: 600px;
  max-width: 60rem;
  margin: 0 auto;
}
.devhub-wrap .box {
  padding: 30px;
  padding: 3rem;
  float: left;
  clear: none;
}
.devhub-wrap .section.search-section {
  padding-bottom: 0;
}
.devhub-wrap .reference-landing .section.search-section {
  padding-top: 0;
}
.devhub-wrap .searchform {
  overflow: hidden;
  height: auto;
  margin-bottom: 1em;
}
.devhub-wrap .searchform input[type="text"], .devhub-wrap .searchform input[type="submit"] {
  height: 50px;
  height: 5rem;
  margin-bottom: 1em;
  width: 100%;
}
.devhub-wrap .searchform input[type="submit"] {
  width: 85px;
  width: 8.5rem;
  float: left;
}
.devhub-wrap .searchform label {
  width: 560px;
  width: 56rem;
  max-width: 100%;
  margin-right: 15px;
  display: inline-block;
  float: left;
}
.devhub-wrap .searchform label .search-field input[type="text"] {
  width: 100%;
}
.devhub-wrap .searchform div {
  overflow: auto;
}
.devhub-wrap .searchform .search-post-type label {
  border-right: 1px solid #ccc;
  float: none;
  width: inherit;
  margin-left: 1em;
  margin-right: 0;
  padding-left: 0;
  padding-right: 1.3em;
}
.devhub-wrap .searchform .search-post-type label input {
  padding-left: 0.5em;
}
.devhub-wrap .searchform .search-post-type label:last-child {
  border-right-width: 0;
}
.devhub-wrap .search-results-summary {
  font-style: italic;
  margin-bottom: 1em;
}
.devhub-wrap .reference-landing .section, .devhub-wrap .search-section {
  max-width: 700px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5em 0;
}
.devhub-wrap .reference-landing .section h2,
.devhub-wrap .reference-landing .section h3,
.devhub-wrap .reference-landing .section h4 {
  margin-bottom: 1em;
  color: #404040;
}
.devhub-wrap .reference-landing .section h2.widget-title,
.devhub-wrap .reference-landing .section h3.widget-title,
.devhub-wrap .reference-landing .section h4.widget-title {
  margin-bottom: 0;
}
.devhub-wrap .reference-landing .section.search-guide {
  padding-bottom: 0;
}
.devhub-wrap .reference-landing .section.section.topic-guide, .devhub-wrap .reference-landing .section.section.new-in-guide {
  padding-top: 0;
}
.devhub-wrap .reference-landing .box,
.devhub-wrap .sidebar .box {
  padding: 0;
  border: 2px solid #cccccc;
  background-color: #eeeeee;
}
.devhub-wrap .reference-landing .box ul,
.devhub-wrap .sidebar .box ul {
  padding: 2em;
}
.devhub-wrap .reference-landing .box .widget-title,
.devhub-wrap .sidebar .box .widget-title {
  padding: 10px 30px;
  padding: 1rem 30px;
  font-size: 16px;
  font-size: 1.6rem;
}
.devhub-wrap .reference-landing .box .widget-content,
.devhub-wrap .sidebar .box .widget-content {
  padding: 16px 30px;
  padding: 1.6rem 3rem;
}
.devhub-wrap #sidebar {
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 5px #d0d0d0;
  background-color: #f0f0f0;
}
.devhub-wrap #sidebar > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.devhub-wrap #sidebar > ul li h2.widgettitle {
  background-color: #d0d0d0;
  color: #8a8989;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.devhub-wrap #sidebar > ul li ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 15px 0;
  counter-reset: item;
}
.devhub-wrap #sidebar > ul li ul li:before {
  content: counter(item);
  counter-increment: item;
  background-color: #d0d0d0;
  width: 25px;
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  padding: 3px 0;
  font-size: 13px;
  border-radius: 50%;
  vertical-align: top;
}
.devhub-wrap #sidebar > ul li ul li a {
  font-size: 16px;
  color: #4b4b4b;
  font-weight: bold;
}
.devhub-wrap #sidebar > ul li ul li > a {
  display: inline-block;
  width: 225px;
}
.devhub-wrap #sidebar > ul li ul li ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 35px;
}
.devhub-wrap #sidebar > ul li ul li ul li {
  padding-left: 20px;
}
.devhub-wrap #sidebar > ul li ul li ul li:before {
  content: none;
}
.devhub-wrap #sidebar > ul li ul li ul li a {
  font-weight: normal;
  font-size: 14px;
  display: inline;
  margin-left: -20px;
}
.devhub-wrap #sidebar > ul li ul li ul li ul {
  margin-left: 20px;
}
.devhub-wrap #sidebar .current-menu-item > a {
  font-weight: bold !important;
  color: #246998;
}
.devhub-wrap .menu-item-has-children {
  padding-bottom: 15px;
}
.devhub-wrap .reference-landing .box ul {
  padding: 0;
  overflow: hidden;
}
.devhub-wrap .three-columns .box {
  width: 31%;
  margin: 1.15%;
}
.devhub-wrap .two-columns .box {
  width: 48%;
  margin: 1% 1% 1% 0;
}
.devhub-wrap #sidebar,
.devhub-wrap .no-bullets,
.devhub-wrap .sidebar .widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.devhub-wrap .horizontal-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.devhub-wrap .horizontal-list li {
  display: inline;
}
.devhub-wrap .horizontal-list li a {
  padding: 0px 40px;
  padding: 0 4rem;
  border-left: 1px solid #ccc;
}
.devhub-wrap .horizontal-list li:first-child a {
  padding-left: 0;
  border-left: none;
}
.devhub-wrap .view-all-new-in {
  font-style: italic;
}
.devhub-wrap .box.transparent {
  background: none;
  color: #fff;
}
.devhub-wrap .box.transparent h2,
.devhub-wrap .box.transparent h3,
.devhub-wrap .box.transparent h4 {
  color: #fff;
}
.devhub-wrap .box.gray {
  background: #fff;
  border: 1px solid #d8d8d8;
}
.devhub-wrap .box.gray .widget-title {
  color: #666666;
  background: #d8d8d8;
  text-transform: uppercase;
}
.devhub-wrap .box .unordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 30px;
  line-height: 3rem;
}
.devhub-wrap .widget-description {
  font-style: italic;
  font-weight: 300;
}
.devhub-wrap .wp-parser-class, .devhub-wrap .wp-parser-function, .devhub-wrap .wp-parser-hook, .devhub-wrap .wp-parser-method {
  border-bottom: 1px solid #dfdfdf;
}
.devhub-wrap .wp-parser-class h1, .devhub-wrap .wp-parser-function h1, .devhub-wrap .wp-parser-hook h1, .devhub-wrap .wp-parser-method h1 {
  margin: 24px 0;
  padding-left: 100px;
}
.devhub-wrap .wp-parser-class h1 a, .devhub-wrap .wp-parser-function h1 a, .devhub-wrap .wp-parser-hook h1 a, .devhub-wrap .wp-parser-method h1 a {
  margin-left: -100px;
  color: #24831d;
  font-family: monospace;
  font-size: 20px;
}
.devhub-wrap .wp-parser-class h1 a .hook-func, .devhub-wrap .wp-parser-function h1 a .hook-func, .devhub-wrap .wp-parser-hook h1 a .hook-func, .devhub-wrap .wp-parser-method h1 a .hook-func {
  color: #888888;
}
.devhub-wrap .wp-parser-class h1 a .arg-type, .devhub-wrap .wp-parser-function h1 a .arg-type, .devhub-wrap .wp-parser-hook h1 a .arg-type, .devhub-wrap .wp-parser-method h1 a .arg-type {
  color: #cd2f23;
}
.devhub-wrap .wp-parser-class h1 a .arg-name, .devhub-wrap .wp-parser-function h1 a .arg-name, .devhub-wrap .wp-parser-hook h1 a .arg-name, .devhub-wrap .wp-parser-method h1 a .arg-name {
  color: #0f55c8;
}
.devhub-wrap .wp-parser-class h1 a .arg-default, .devhub-wrap .wp-parser-function h1 a .arg-default, .devhub-wrap .wp-parser-hook h1 a .arg-default, .devhub-wrap .wp-parser-method h1 a .arg-default {
  color: #000000;
}
.devhub-wrap .wp-parser-class h1 a:hover, .devhub-wrap .wp-parser-function h1 a:hover, .devhub-wrap .wp-parser-hook h1 a:hover, .devhub-wrap .wp-parser-method h1 a:hover {
  border-bottom: 1px dotted #21759b;
}
.devhub-wrap .wp-parser-class h2, .devhub-wrap .wp-parser-function h2, .devhub-wrap .wp-parser-hook h2, .devhub-wrap .wp-parser-method h2 {
  font-family: Georgia, Times, serif;
  margin-bottom: .5em;
}
.devhub-wrap .wp-parser-class .parameters p, .devhub-wrap .wp-parser-function .parameters p, .devhub-wrap .wp-parser-hook .parameters p, .devhub-wrap .wp-parser-method .parameters p {
  margin-bottom: 0;
}
.devhub-wrap .wp-parser-class .parameters dd .desc .type, .devhub-wrap .wp-parser-class .parameters dd .desc .required, .devhub-wrap .wp-parser-function .parameters dd .desc .type, .devhub-wrap .wp-parser-function .parameters dd .desc .required, .devhub-wrap .wp-parser-hook .parameters dd .desc .type, .devhub-wrap .wp-parser-hook .parameters dd .desc .required, .devhub-wrap .wp-parser-method .parameters dd .desc .type, .devhub-wrap .wp-parser-method .parameters dd .desc .required {
  font-style: italic;
}
.devhub-wrap .wp-parser-class .parameters dd .default, .devhub-wrap .wp-parser-function .parameters dd .default, .devhub-wrap .wp-parser-hook .parameters dd .default, .devhub-wrap .wp-parser-method .parameters dd .default {
  font-style: italic;
}
.devhub-wrap .wp-parser-class .parameters .param-hash, .devhub-wrap .wp-parser-function .parameters .param-hash, .devhub-wrap .wp-parser-hook .parameters .param-hash, .devhub-wrap .wp-parser-method .parameters .param-hash {
  margin-left: 1.2em;
  margin-bottom: 0.5em;
}
.devhub-wrap .wp-parser-class .learn-more, .devhub-wrap .wp-parser-function .learn-more, .devhub-wrap .wp-parser-hook .learn-more, .devhub-wrap .wp-parser-method .learn-more {
  background-color: #f1f1f1;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px;
}
.devhub-wrap.archive .wp-parser-class h1 a, .devhub-wrap.archive .wp-parser-function h1 a, .devhub-wrap.archive .wp-parser-hook h1 a, .devhub-wrap.archive .wp-parser-method h1 a, .devhub-wrap.search .wp-parser-class h1 a, .devhub-wrap.search .wp-parser-function h1 a, .devhub-wrap.search .wp-parser-hook h1 a, .devhub-wrap.search .wp-parser-method h1 a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #21759b;
  font-weight: normal;
}
.devhub-wrap.archive .wp-parser-class div.sourcefile, .devhub-wrap.archive .wp-parser-function div.sourcefile, .devhub-wrap.archive .wp-parser-hook div.sourcefile, .devhub-wrap.archive .wp-parser-method div.sourcefile, .devhub-wrap.search .wp-parser-class div.sourcefile, .devhub-wrap.search .wp-parser-function div.sourcefile, .devhub-wrap.search .wp-parser-hook div.sourcefile, .devhub-wrap.search .wp-parser-method div.sourcefile {
  color: #999999;
  font-style: italic;
}
.devhub-wrap .single .wp-parser-class, .devhub-wrap .single .wp-parser-function, .devhub-wrap .single .wp-parser-hook, .devhub-wrap .single .wp-parser-method {
  border-bottom-style: none;
}
.devhub-wrap .source-content {
  overflow: auto;
}
.devhub-wrap .source-code-links {
  margin-left: 2em;
  margin-top: 1em;
}
.devhub-wrap .source-code-links span:first-child {
  display: none;
  border-right: 1px solid #999;
  margin-right: 1em;
  padding-right: 1em;
}
.devhub-wrap .source-code-container {
  border-right: 1px solid #dfdfdf;
  overflow-x: auto;
  overflow-y: hidden;
}
.devhub-wrap .show-complete-source, .devhub-wrap .less-complete-source {
  display: none;
}
.devhub-wrap .loop-pagination {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.devhub-wrap .comment-list,
.devhub-wrap .comment-list ol {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.devhub-wrap .comment-list li {
  padding: 2rem 1.5rem 1rem;
  border: 0 solid #eee;
  border-bottom-width: 1px;
  background: #fff;
}
.devhub-wrap .comment-list li:first-child {
  padding-top: 1rem;
}
.devhub-wrap .comment-list .avatar {
  float: left;
  width: 2.5em;
  height: 2.5em;
  margin: -0.5em 1em 0.5em 0;
  padding: 0.125em;
  border: 1px solid #eee;
}
.devhub-wrap .comment-author-attribution {
  font-weight: bold;
}
.devhub-wrap .comment-meta {
  margin: 0 0 1.5em 0;
  font-size: 0.75em;
}
.devhub-wrap .comment-content {
  margin-left: 60px;
  margin-left: 3.75rem;
  margin-left: 0;
  clear: both;
}
.devhub-wrap .comment-content ol {
  list-style: decimal inside;
  margin: 0 0 1.5em 0;
  border-top: none;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}
.devhub-wrap .comment-content ul {
  list-style: square inside;
  margin: 0 0 1.5em 0;
  border-top: none;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}
.devhub-wrap .comment-content li {
  border: none;
  padding: 0;
}
.devhub-wrap #respond {
  overflow: hidden;
}
.devhub-wrap .comment-list #respond {
  margin: 1.5em 0 0;
}
.devhub-wrap #respond .log-in-out a {
  font-style: italic;
}
.devhub-wrap #reply-title small a {
  font-style: italic;
}
.devhub-wrap #respond #submit {
  float: left;
  margin: 0 0 1.5em;
}
.devhub-wrap #content-area.has-sidebar {
  float: none;
  margin: 0 auto;
  width: 60em;
}
.devhub-wrap .has-sidebar main {
  float: right;
  width: 67%;
  margin: 0;
  clear: none;
  padding: 0 12px;
  padding: 0 1.2rem;
}
.devhub-wrap .has-sidebar .widget-area {
  float: left;
  overflow: hidden;
  width: 30%;
  margin-left: -55px;
  margin: 0;
  clear: none;
}
.devhub-wrap .has-sidebar .widget-area .widget {
  width: 100%;
}
.devhub-wrap nav.post-navigation .nav-links a {
  width: 49%;
  display: inline-block;
}
.devhub-wrap nav.post-navigation .nav-links a[rel="prev"] {
  text-align: left;
}
.devhub-wrap nav.post-navigation .nav-links a[rel="next"] {
  text-align: right;
}
.devhub-wrap .table-of-contents {
  float: right;
  width: 200px;
  background: #f5f5f5;
  border: 1px solid #d6d6d6;
  margin: 0 0 0 10px;
  z-index: 1;
  position: relative;
}
.devhub-wrap .table-of-contents h2 {
  margin: 0;
  padding-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 3px;
  background: #d0d0d0;
  color: #8a8989;
}
.devhub-wrap .table-of-contents ul,
.devhub-wrap .table-of-contents ol {
  margin: 10px 20px;
}
.devhub-wrap .table-of-contents ul ul,
.devhub-wrap .table-of-contents ul ol,
.devhub-wrap .table-of-contents ol ul,
.devhub-wrap .table-of-contents ol ol {
  margin-right: 0;
}
.devhub-wrap ul.items {
  margin-bottom: 8px !important;
  list-style-type: none !important;
  padding-right: 10px;
}
.devhub-wrap ul.items li {
  padding-bottom: 6px !important;
}
.devhub-wrap ul.items li ul li,
.devhub-wrap ul.items li ul li ul li {
  padding-bottom: 0 !important;
}
.devhub-wrap ul.items li a {
  color: #555 !important;
}
.devhub-wrap .comment-author {
  float: left;
}
.devhub-wrap .user-note-voting {
  font-size: 1.5em;
  clear: left;
  float: left;
  margin-top: -5px;
  margin-right: 10px;
}
.devhub-wrap .user-note-voting-up .dashicons, .devhub-wrap .user-note-voting-down .dashicons {
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: #000;
}
.devhub-wrap .user-note-voting-up {
  margin-left: -9px;
}
.devhub-wrap .user-note-voting-count {
  margin-right: -2px;
}
.devhub-wrap .user-voted.user-note-voting-up .dashicons {
  color: green;
}
.devhub-wrap .user-voted.user-note-voting-down .dashicons {
  color: red;
}

@media (max-width: 60em) {
  .devhub-wrap {
    max-width: 100%;
    width: 100%;
  }
  .devhub-wrap #content,
  .devhub-wrap #content-area,
  .devhub-wrap .inner-wrap {
    max-width: 100%;
    padding: 0 13px;
  }
  .devhub-wrap #content-area .has-sidebar,
  .devhub-wrap .inner-wrap .has-sidebar {
    width: 100%;
  }
  .devhub-wrap .site-branding .site-title {
    padding-left: 0;
  }
}
@media (max-width: 43em) {
  #content-area.has-sidebar main {
    float: right;
    width: 96%;
    margin: 0 auto;
    clear: both;
    padding: 0 12px;
    padding: 0 1.2rem;
  }
  #content-area.has-sidebar .widget-area {
    float: none;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    clear: both;
  }
  #content-area.has-sidebar .widget-area .widget {
    width: 100%;
  }

  .section .box,
  .home-primary-content,
  .reference-landing .section {
    float: none;
    width: 100%;
    padding: 1.5em 10%;
    clear: both;
    text-align: center;
    display: block;
  }

  .reference-landing .section .box,
  .sidebar .box {
    padding: 0;
    margin-bottom: 1.5em;
  }

  .home-primary-content .entry-content,
  .reference-landing .section {
    text-align: left;
  }

  .devhub-wrap .horizontal-list li {
    display: block;
  }
  .devhub-wrap .horizontal-list li a {
    border-left: none;
  }
  .devhub-wrap .horizontal-list li:first-child a {
    padding: 0 40px;
    padding: 0 4rem;
  }
  .devhub-wrap .reference-landing .searchform {
    text-alignment: center;
  }
  .devhub-wrap .reference-landing .searchform input[type="text"],
  .devhub-wrap .reference-landing .searchform input[type="submit"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
    float: none;
    clear: both;
  }
  .devhub-wrap .wp-parser-class h1, .devhub-wrap .wp-parser-function h1, .devhub-wrap .wp-parser-hook h1, .devhub-wrap .wp-parser-method h1 {
    padding-left: 45px;
  }
  .devhub-wrap .wp-parser-class h1 a, .devhub-wrap .wp-parser-function h1 a, .devhub-wrap .wp-parser-hook h1 a, .devhub-wrap .wp-parser-method h1 a {
    margin-left: -45px;
  }
  .devhub-wrap .two-columns .box {
    width: 99%;
  }
}
