<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="">

<?python
	scripts_version = '49'
	project_slug = req.environ['HTTP_HOST'].split(':')[0].split('.')[0]
	wporg_endpoint = '//make.wordpress.org/core/'
	is_bug_gardener = 'TICKET_EDIT_DESCRIPTION' in perm(resource)

	if project_slug == 'core':
		notifications_enabled = 1

	if project_slug == 'bbpress' :
		support_link = '//bbpress.org/forums/'
	elif project_slug == 'buddypress' :
		support_link = '//buddypress.org/support/topics/'
	else :
		support_link = '//wordpress.org/support/'

	profile_link = '//profiles.wordpress.org/'
	profile_to_edit = '//wordpress.org/support/profile/'

	# Fix https://meta.trac.wordpress.org/ticket/21
	try:
		for link in chrome['links']['alternate']:
			if link['class'] == 'rss':
				new_link = link['href'].split('/login?referer=')
				import urllib
				link['href'] = urllib.unquote(new_link[1])
	except (IndexError, KeyError):
		pass

 	field_types = [ 'milestone', 'priority', 'type', 'severity', 'version', 'component', 'keywords', 'focuses', ]

 	# Sorting function
 	def sort_nicely(field1, field2):
		try:
			idx1 = field_types.index(field1['name'])
		except ValueError:
			idx1 = 1000 # no match, push to the end

		try:
			idx2 = field_types.index(field2['name'])
		except ValueError:
			idx2 = 1000 # no match, push to the end

		return cmp(idx1, idx2)

	if ticket and 'fields' in locals():
 		# Sort the fields
 		fields.sort(cmp=sort_nicely)

 		# Re-generate fields_map for use within the ticket template
 		fields_map = {}
 		for i in xrange(0, len(fields)):
			fields_map[ fields[i]['name'] ] = i
?>

<!--! Styles and such. Load before first JS file (jquery.js) -->
<py:match path="head/script[contains(@src,'jquery.js')]">
	<!--! WP.org Global Header -->
	<xi:include href="wporg-head.html" />
	<meta name="viewport" content="width=device-width" />
	<link rel='stylesheet' href='//s.w.org/wp-includes/css/dashicons.min.css?20150710' type='text/css' />
	<link rel="stylesheet" type="text/css" href="//s.w.org/style/trac/wp-trac.css?${scripts_version}" />
	<link py:if="req.session['authenticated']" rel="stylesheet" href="//s.w.org/wp-includes/css/wp-auth-check.css?ver=3.9-alpha" type="text/css" media="all" />

	<script py:attrs="select('@*')"></script>

	<py:if test="req.environ['PATH_INFO'] == '/newticket'">
		<!--! Prevent Trac from focusing #field-summary on load, as this can scroll past the instructions -->
		<script>
		jQuery( document ).ready( function( $ ) {
			$("#field-summary").one( 'focus', function( event ) { return false; });
		});
		</script>
	</py:if>
</py:match>

<!--! Remove Trac logo and footer -->
<div py:match="div[@id='header']" py:strip=""></div>
<div py:match="div[@id='footer']" py:strip=""></div>

<!--! Notices and instructions when creating a new ticket -->
<py:if test="req.environ['PATH_INFO'] == '/newticket'">

	<py:match path="div[@id='content' and @class='ticket']/form">
		<div class="wp-notice newticket-not-here">
			<p><strong>ARE YOU IN THE RIGHT PLACE?</strong></p>

			<py:choose test="">
				<p py:when="project_slug == 'plugins' and ticket.component and ticket.component != 'not-listed'" class="support">
					<span class="dashicons dashicons-editor-help"></span>
					<strong>This is not for support.</strong><br />
					Please try this plugin's <a href="${support_link}plugin/${ticket.component}">support forum</a>.
				</p>
				<p py:otherwise="" class="support">
					<span class="dashicons dashicons-editor-help"></span>
					<strong>This is not for support.</strong><br />
					Please try the <a href="${support_link}">support forums</a>.</p>
			</py:choose>

			<py:choose test="project_slug">
				<p py:when="'plugins'" class="security">
					<span class="dashicons dashicons-lock"></span>
					<strong>Do not report potential security vulnerabilities here.</strong><br />
					Please email <a class="mail-link" href="mailto:plugins@wordpress.org">plugins@wordpress.org</a>.
				</p>

				<p py:otherwise="" class="security">
					<span class="dashicons dashicons-lock"></span>
					<strong>Do not report potential security vulnerabilities here.</strong><br />

					See the <a href="//make.wordpress.org/core/handbook/reporting-security-vulnerabilities/">Security FAQ</a> and contact <a class="mail-link" href="mailto:security@wordpress.org">security@wordpress.org</a>.
				</p>
			</py:choose>
		</div>
		<py:if test="project_slug == 'core'">
		<div class="newticket-instructions">
			<p><strong>This form is for reporting bugs in WordPress.</strong> Here are some questions and tips to help you write a great bug report:</p>
			<ul>
				<li>Are you using either the latest version of WordPress, or the latest development version? If not, please update first.</li>
				<li>What steps should be taken to consistently reproduce the problem?</li>
				<li>Does the problem occur even when you deactivate all plugins and use the default theme?</li>
				<li>In case it's relevant to the ticket, what is the expected output or result? What did you see instead?</li>
				<li>Please provide any additional information that you think we'd find useful. (OS and browser for UI defects, server environment for crashes, etc.)</li>
			</ul>
			<p>You can search for existing tickets <a href="/search">here</a>. For more help, please see the <a href="//make.wordpress.org/core/handbook/reporting-bugs/">contributor handbook</a>.</p>

		</div>
		</py:if>
		<form py:attrs="select('@*')">
			${select('*|comment()|text()')}
		</form>
	</py:match>
</py:if>

<!--! New ticket modifications -->
<py:if test="req.environ['PATH_INFO'] == '/newticket'">

	<py:if test="'preview' in req.args">
		<py:match path="form[@id='propertyform']/div[@class='buttons']" once="true">

			<!--! security component alert on preview -->
			<py:if test="'Security' == ticket.component">
				<div class="wp-notice" id="wp-security-notice">
					<p><strong>Caution!</strong> This ticket was assigned to the Security component.</p>
					<p><strong>If this is a potential security vulnerability, DO NOT REPORT IT HERE.</strong></p>
					<p>Instead, read the <a class="ext-link" href="//codex.wordpress.org/FAQ_Security"><span class="icon">&nbsp;</span>Security FAQ</a> and email us at <a class="mail-link" href="mailto:security@wordpress.org"><span class="icon">&nbsp;</span>security@wordpress.org</a>.</p>
				</div>
			</py:if>

			<div py:attrs="select('@*')">
				${select('*|comment()|text()')}
			</div>

		</py:match>
	</py:if>

	<!--! force non-gardeners to preview before posting -->
	<py:if test="not is_bug_gardener and not 'preview' in req.args">
		<py:match path="form[@id='propertyform']/div[@class='buttons']" once="true">
			<div py:attrs="select('@*')">
				<input type="submit" name="preview" value="Continue to Preview" />
			</div>
		</py:match>
	</py:if>

</py:if>

<!--! Reports are collapsed by default but flicker because it waits for DOM ready to collapse them -->
<div py:match="div[@id='content' and @class='report']/div[@class='reports']//div" py:if="req.environ['PATH_INFO'] == '/report'" py:attrs="select('@*')" class="collapsed">
	${select('*|comment()|text()')}
</div>

<!--! Hack to remove 'arguments are missing' from reports with variables (which can be written as optional) -->
<py:if test="report and report.id and not 'REPORT_MODIFY' in perm(resource)">
	<div py:match="div[@id='warning' and @class='system-message']" py:strip=""></div>
</py:if>

<!--! reporter-feedback notice. deliberately shows for closed tickets other than 'fixed' -->
<py:match path="div[@id='content' and @class='ticket']//div[@id='ticketchange']" once="true">
	<div py:attrs="select('@*')">
 		${select('*|comment()|text()')}
	</div>
	<div class="wp-notice" id="wp-reporter-feedback-notice" py:if="ticket.reporter == req.authname and 'reporter-feedback' in ticket.keywords and ticket.resolution != 'fixed'">
		<p><strong>Howdy!</strong></p><p></p>
		<p>A contributor marked this ticket with the reporter-feedback keyword. <strong>That means we need feedback from you.</strong></p>
		<p>Please answer their questions and address their concerns, then remove the keyword, below.</p>
		<p>If this is a support question, you're better off in the <a href="${support_link}" class="ext-link"><span class="icon">&nbsp;</span>support forums</a>.</p>
	</div>
</py:match>

<!--! Remove 'wiki:Wikistart' and other wiki cruft from home page -->
<py:if test="req.environ['PATH_INFO'] == '/'">
	<py:match path="div[@id='pagepath']" py:strip="" />
	<py:match path="div[@id='ctxtnav']" py:strip="" />
	<py:match path="div[@class='trac-modifiedby']" py:strip="" />
	<py:match path="div[@id='altlinks']/h3" py:strip="" />
	<py:match path="div[@id='altlinks']/ul" py:strip="" />
</py:if>

<!--! Remove 'Replace existing attachment of the same name' checkbox for non-gardeners -->
<py:if test="not is_bug_gardener">
	<py:match path="form[@id='attachment']//div[@class='options']" py:strip="" />
</py:if>

<!--! License notes when uploading patches -->
<py:match path="form[@id='attachment']/div[@class='buttons']" once="true">
	<div class="wp-caution" id="wp-contributions-caution">
		<p>By contributing code to ${project.name}, you grant its use under the GNU General Public License v2 (or later).</p>
	</div>
	<div py:attrs="select('@*')">
		${select('*|comment()|text()')}
	</div>
</py:match>

<py:match path="form[@id='attachment']//input[@type='submit' and @value='Add attachment']" once="true">
	<input type="submit" value="Agree and Upload" />
</py:match>

<!--! Gravatars for the ticket reporter -->
<td py:match="td[@headers='h_reporter']" py:attrs="select('@*')">
	<a href="${profile_link + ticket.reporter}">
		<img class="avatar" src="//wordpress.org/grav-redirect.php?user=${ticket.reporter}&amp;s=36" srcset="//wordpress.org/grav-redirect.php?user=${ticket.reporter}&amp;s=72 2x" height="36" width="36" />
	</a>
    ${select('*|comment()|text()')}
</td>

<!--! Gravatars for the ticket owner -->
<td py:match="td[@headers='h_owner']" py:attrs="select('@*')">
	<a href="${profile_link + ticket.owner}" py:if="ticket.owner">
		<img class="avatar" src="//wordpress.org/grav-redirect.php?user=${ticket.owner}&amp;s=36" srcset="//wordpress.org/grav-redirect.php?user=${ticket.owner}&amp;s=72 2x" height="36" width="36" />
	</a>
    ${select('*|comment()|text()')}
</td>

<!--! Show number of Query results even when they fit on one page -->
<py:match path="div[@id='content' and @class='query']/form[@id='query']">
	<form py:attrs="select('@*')">
	${select('*|comment()|text()')}
	</form>
	<h2 class="report-result" py:if="not paginator.has_more_pages">Results <span class="numresults">(${paginator.num_items})</span></h2>
</py:match>

<!--! Show a create ticket button on search -->
<div py:match="div[@id='content' and @class='search']/h1">
	<h1 py:attrs="select('@*')">${select('*|comment()|text()')}</h1>
	<span class="create-new-ticket button button-large button-primary">
		<a href="https://wordpress.org/support/bb-login.php?redirect_to=https://${project_slug}.trac.wordpress.org/newticket">Create a new ticket</a>
	</span>
</div>

<!--! Demote the nav "Preferences" link to the footer. To hide from header (trac.ini): [metanav] prefs = disabled -->
<div py:match="div[@id='altlinks']" py:attrs="select('@*')">
    <a class="preferences-link" href="${href.prefs()}">Trac UI Preferences</a>
    ${select('*|comment()|text()')}
</div>

<!--! Remove anonymous 'Advanced' session management tab -->
<py:match path="div[@id='content' and @class='prefs']/ul[@id='tabs']/li[@id='tab_advanced']" once="true" py:strip=""></py:match>
<!--! remove useless 'Keyboard Shortcuts' preferences tab -->
<py:match path="div[@id='content' and @class='prefs']/ul[@id='tabs']/li[@id='tab_keybindings']" once="true" py:strip=""></py:match>

<!--! Email addresses are synced with Trac from WP.org, so remove the preference pane -->
<py:if test="req.environ['PATH_INFO'] == '/prefs' and req.session['email'] and req.session['authenticated']">
	<py:match path="div[@id='content' and @class='prefs']/div[@id='tabcontent']" once="true">
		<div id="tabcontent">
			Notifications are sent to the email listed in <a href="${profile_to_edit}${req.session['sid']}">your WordPress.org profile</a><py:if test="req.session['email']"> (${req.session['email']})</py:if>.
			<py:if test="notifications_enabled">
				Notification preferences can be configured <a href="//${wporg_endpoint}notifications/">here</a>.
			</py:if>
		</div>
	</py:match>
</py:if>

<body py:match="body" id="wordpress-org" class="${project_slug} trac wporg-make make-${project_slug}" py:attrs="select('@*')">
	<!--! WP.org Global Header -->
	<xi:include href="wporg-header.html" />

	<xi:include href="wporg-menu.html">
		<xi:fallback>
			<div id="headline" class="no-menu">
				<div class="wrapper">
					<h2><a href="/">${project.name}</a></h2>
				</div>
			</div>
		</xi:fallback>
	</xi:include>

	${select('*|comment()|text()')}

	<!--! WP.org Global Footer -->
	<xi:include href="wporg-footer.html" />

	<script py:if="is_bug_gardener">
	var wpBugGardener = true;
	</script>

	<script py:if="req.authname">
	var wpTracCurrentUser = "${req.authname}";
	</script>

	<!--! JavaScript -->
	<script src="//s.w.org/style/trac/jquery.caret.min.js?ver=2015-02-01"></script>
	<script src="//s.w.org/style/trac/jquery.atwho.min.js?ver=1.0.1"></script>
	<script src="//s.w.org/style/trac/wp-trac.js?${scripts_version}"></script>

	<!--! Check for security buzzwords on new tickets -->
	<script py:if="req.environ['PATH_INFO'] == '/newticket'" src="//s.w.org/style/trac/trac-security.js?${scripts_version}"></script>

	<!--! New ticket possibly related tickets for Core Trac -->
	<script py:if="req.environ['PATH_INFO'] == '/newticket' and project_slug == 'core'" src="//s.w.org/style/trac/trac-search.js?${scripts_version}"></script>

	<!--! Analytics for Core Trac -->
	<py:if test="project_slug == 'core'">
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-52447-27");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</py:if>

	<!--! Trac auth check -->
	<py:if test="req.session['authenticated']">
		<!--TRAC_WP_USER_IS_LOGGED_IN-->
		<div id="wp-auth-check-wrap" class="hidden fallback">
			<div id="wp-auth-check-bg"></div>
			<div id="wp-auth-check">
				<div class="wp-auth-check-close" tabindex="0" title="Close"></div>
				<div class="wp-auth-fallback"><p><b class="wp-auth-fallback-expired" tabindex="0">Session expired</b></p><p><a href="//wordpress.org/support/bb-login.php" target="_blank">Please log in again.</a> The login page will open in a new window. After logging in you can close it and return to this page.</p>
				</div>
			</div>
		</div>
		<script>
		function wp_trac_auth_check() {
			$.ajax( '${href('/')}' ).success( function( data ) {
				var addClass = -1 !== data.indexOf( '<!--TRAC_WP_USER_IS_LOGGED_IN-->' );
				$( '#wp-auth-check-wrap' ).toggleClass( 'hidden', addClass );
			});
		}
		jQuery(document).ready(function( $ ) {
			$('.wp-auth-check-close').click( function() {
				$( '#wp-auth-check-wrap' ).addClass( 'hidden' );
			});
			window.setInterval( wp_trac_auth_check, 5 * 60 * 1000 );
		});
		</script>
	</py:if>

	<!--! Trac notifications -->
	<py:if test="notifications_enabled">
		<script>
		(function() {
			var settings = { endpoint: '${wporg_endpoint}', authenticated: ${int(req.session['authenticated'])} };
			<py:if test="ticket and ticket.exists">
			settings.ticket = ${ticket.id};
			</py:if>
			wpTrac.notifications.init(settings);
		})();
		</script>
	</py:if>
</body>

<xi:include href="site-specific.html"><xi:fallback /></xi:include>
</html>
