{# WordPress.org override of Trac's ticket comment template (ticket_change.html).

  Ported from Genshi to Jinja2 for Trac 1.6. Adds, on top of core Trac:
    - gravatars + WordPress.org profile links for comment authors
    - special rendering for chat bots (slackbot / ircbot) and prbot
    - comment bodies rendered through wporg_wiki_to_html (abuse/DoS safety caps:
      100k char limit, <=1000 links, <=500 macros, huge code blocks truncated)

  REQUIRES a companion Trac plugin registering these functions into the Jinja2
  template context (Genshi allowed inline <?python?>; Jinja2 does not):
    - wporg_sanitize_user_nicename(name)                          -> str
    - wporg_wiki_to_html(context, wikidom, escape_newlines=None)  -> Markup
    - wporg_prbot_strip_meta(text)                                -> str
        (strips a leading {{{#!comment ...}}} block and lstrip()s)

  Arguments (as passed by Trac 1.6 ticket.html / ticket_preview.html):
   - change: the change data
   - hide_buttons=False: hide all buttons (Edit, Reply)
   - cnum_edit=None: the comment number being edited
   - edited_comment: the current value of the comment editor
   - cnum_hist=None: the comment number for which to show a historical content
   - can_append=False: True if the user is allowed to append to tickets
   - preview=False: True if rendering a change preview
#}

# import 'macros.html' as jmacros with context

# with
#   set cnum = to_unicode(change.get('cnum'))
#   set hide_buttons = hide_buttons|default(false)
#   set cnum_edit = cnum_edit|default('')
#   set cnum_hist = cnum_hist|default('')
#   set can_append = can_append|default(false)
#   set preview = preview|default(false)
#   set comment_resource = Resource('comment', cnum, parent=ticket.resource)
#   set can_edit_comment = ('TICKET_EDIT_COMMENT' in perm(comment_resource)) or (req.authname and req.authname != 'anonymous' and req.authname == change.author)
#   set show_editor = can_edit_comment and cnum == cnum_edit
#   set show_history = cnum == cnum_hist
#   set max_version = change.comment_history|max if change.comment_history else 0
#   set comment_version = ((cversion or 0)|int if show_history else max_version)
#   set show_buttons = not hide_buttons and not show_editor and comment_version == max_version

#   macro commentref(prefix, cnum, cls=none)
<a href="#comment:${cnum}" class="${cls}">${prefix}${cnum}</a>
#   endmacro

## ------------------------------------------------------------------ chat bots
## slackbot / ircbot: render the (one-line) message inline in the heading.
#   if 'author' in change and change.author in ('slackbot', 'ircbot'):
#     set wporg_user = wporg_sanitize_user_nicename(change.author)
<h3 class="change chat-bot">
  <span class="avatar">
    <span class="username-line">
      <img src="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=48" srcset="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=96 2x" height="48" width="48" alt="" />
      ${wiki_to_html(context, change.comment, escape_newlines=preserve_newlines)}
    </span>
    <br /><span class="time-ago">${dateinfo(change.date)} ago</span>
  </span>
#     if show_buttons:
  <div class="trac-ticket-buttons">
#       if 'cnum' in change and can_append:
    <form id="reply-to-comment-${cnum}" method="get" action="#comment">
      <div class="inlinebuttons">
        <input type="hidden" name="replyto" value="${cnum}"/>
        <input type="submit" value="${captioned_button('↳', _('Reply'))}" title="${_('Reply to comment %(cnum)s', cnum=cnum)}" />
      </div>
    </form>
#       endif
  </div>
#     endif
</h3>

## ----------------------------------------------------------------------- prbot
## GitHub PR bot: first line is the byline (rendered in the heading); the rest,
## if any, is shown as a context comment.
#   elif 'author' in change and change.author == 'prbot':
#     set wporg_user = wporg_sanitize_user_nicename(change.author)
#     set display_text = wporg_prbot_strip_meta(change.comment)
#     set pr_parts = display_text.partition('\n')
#     set pr_byline = pr_parts[0]
#     set pr_comment = pr_parts[1] ~ pr_parts[2]
#     set prbot_class = 'prbot with-context' if pr_comment or change.fields else 'prbot without-context'
<h3 class="change chat-bot ${prbot_class}">
  <span class="avatar">
    <span class="username-line">
      <img src="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=48" srcset="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=96 2x" height="48" width="48" alt="" />
      ${wiki_to_html(context, pr_byline, escape_newlines=preserve_newlines)}
    </span>
    <br /><span class="time-ago">${dateinfo(change.date)} ago</span>
  </span>
  <span class="threading">
#     if 'cnum' in change:
    <span id="comment:${cnum}" class="cnum">${commentref('#', cnum)}</span>
#     endif
  </span>
#     if show_buttons:
  <div class="trac-ticket-buttons">
#       if 'cnum' in change and can_edit_comment:
    <form method="get" action="#comment:${cnum}">
      <div class="inlinebuttons">
        <input type="hidden" name="cnum_edit" value="${cnum}"/>
        <input type="submit" value="${captioned_button('✎', _('Edit'))}" title="${_('Edit comment %(cnum)s', cnum=cnum)}" />
      </div>
    </form>
#       endif
  </div>
#     endif
</h3>
#     if change.fields:
  <ul class="changes">
#       for field_name, field in change.fields.items()|sort(attribute='1.label'):
    <li class="trac-field-${field_name}">
      <strong class="trac-field-${field_name}">${field.label}</strong>
#         if 'rendered' in field:
      ${field.rendered}
#         elif field.old and field.new:
      changed from <em>${field.old}</em> to <em>${field.new}</em>
#         elif not field.old and field.new:
      set to <em>${field.new}</em>
#         else:
      <em>${field.old}</em> deleted
#         endif
    </li>
#       endfor
  </ul>
#     endif
#     if pr_comment and not show_editor:
  <div class="comment searchable" xml:space="preserve">
    ${wiki_to_html(context, pr_comment, escape_newlines=preserve_newlines)}
  </div>
#     endif
#     if show_editor:
  <form id="trac-comment-editor" method="post" action="${href.ticket(ticket.id) + '#comment:' + cnum}">
    ${jmacros.form_token_input()}
    <div>
      <textarea name="edited_comment" class="wikitext trac-resizable" rows="10" cols="78">
${edited_comment if edited_comment is not none else change.comment}</textarea>
      <input type="hidden" name="cnum_edit" value="${cnum}"/>
    </div>
    <div class="buttons">
      <input type="submit" name="edit_comment" value="${_('Submit changes')}" title="${_('Submit changes to comment %(cnum)s', cnum=cnum)}"/>
      <input type="submit" name="cancel_comment" value="${_('Cancel')}" title="Cancel comment edit"/>
    </div>
  </form>
#     endif

## -------------------------------------------------------------- normal comment
#   else:
<h3 class="change">
  <span class="threading">
#     set change_replies = replies.get(cnum, []) if 'cnum' in change else []
#     if 'cnum' in change:
    <span id="comment:${cnum}" class="cnum">${commentref('#', cnum)}</span>
#     endif
#     if 'replyto' in change:
    in reply to: ${commentref('&uarr;&nbsp;'|safe, change.replyto)}
#       if change_replies:
    ;
#       endif
#     endif
#     if change_replies:
    ${ngettext("follow-up:", "follow-ups:", change_replies|length)}
#       for reply in change_replies:
    ${commentref('&darr;&nbsp;'|safe, reply, 'follow-up')}
#       endfor
#     endif
  </span>
#     if 'author' in change:
#       set wporg_user = wporg_sanitize_user_nicename(change.author)
  <span class="avatar">
    <span class="username-line"><a href="https://profiles.wordpress.org/${wporg_user}/" class="profile-link">
      <img src="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=48" srcset="https://wordpress.org/grav-redirect.php?user=${wporg_user}&amp;s=96 2x" height="48" width="48" alt="" /> @<span class="username" data-username="${change.author}" data-nicename="${wporg_user}">${authorinfo(change.author)}</span></a></span>
#       if 'date' in change:
    <br /><span class="time-ago">${dateinfo(change.date)} ago</span>
#       endif
  </span>
#     elif 'date' in change:
  ${tag_("Changed %(date)s by %(author)s", date=pretty_dateinfo(change.date), author=authorinfo(change.author))}
#     else:
  ${tag_("Changed by %(author)s", author=authorinfo(change.author))}
#     endif
#     if preview or show_editor:
  <span class="trac-loading"></span>
#     endif
#     if show_buttons:
  <div class="trac-ticket-buttons">
#       if 'cnum' in change and can_append:
    <form id="reply-to-comment-${cnum}" method="get" action="#comment">
      <div class="inlinebuttons">
        <input type="hidden" name="replyto" value="${cnum}"/>
        <input type="submit" value="${captioned_button('↳', _('Reply'))}" title="${_('Reply to comment %(cnum)s', cnum=cnum)}" />
      </div>
    </form>
#       endif
#       if 'cnum' in change and can_edit_comment:
    <form method="get" action="#comment:${cnum}">
      <div class="inlinebuttons">
        <input type="hidden" name="cnum_edit" value="${cnum}"/>
        <input type="submit" value="${captioned_button('✎', _('Edit'))}" title="${_('Edit comment %(cnum)s', cnum=cnum)}" />
      </div>
    </form>
#       endif
  </div>
#     endif
</h3>
#     if change.fields:
  <ul class="changes">
#       for field_name, field in change.fields.items()|sort(attribute='1.label'):
    <li class="trac-field-${field_name}${' trac-conflict' if preview and field_name in conflicts else ''}">
      <strong class="trac-field-${field_name}">${field.label}</strong>
#         if field_name == 'attachment':
      <a href="${href.attachment('ticket', ticket.id, field.new)}"><em>${field.new}</em></a><a href="${href('raw-attachment', 'ticket', ticket.id, field.new)}" title="Download" class="trac-rawlink">&#8203;</a> added
#         elif 'rendered' in field:
      ${field.rendered}
#         elif field.old and field.new:
      changed from <em>${field.old}</em> to <em>${field.new}</em>
#         elif not field.old and field.new:
      set to <em>${field.new}</em>
#         else:
      <em>${field.old}</em> deleted
#         endif
#         if preview and field.by == 'user':
#           set old = ticket.get_default(field_name) if field.old is sameas(empty) else field.old
      (<button type="submit" name="revert_${field_name}" class="trac-revert" title="Revert this change">revert<div id="revert-${field_name}">${'0' if 'cc_update' in field else old}</div></button>)
#         endif
    </li>
#       endfor
  </ul>
#     endif
#     if show_editor:
  <form id="trac-comment-editor" method="post" action="${href.ticket(ticket.id) + '#comment:' + cnum}">
    ${jmacros.form_token_input()}
    <div>
      <textarea name="edited_comment" class="wikitext trac-resizable" rows="10" cols="78">
${edited_comment if edited_comment is not none else change.comment}</textarea>
      <input type="hidden" name="cnum_edit" value="${cnum}"/>
    </div>
    <div class="buttons">
      <input type="submit" name="preview_comment" value="${_('Preview')}" title="${_('Preview changes to comment %(cnum)s', cnum=cnum)}"/>
      <input type="submit" name="edit_comment" value="${_('Submit changes')}" title="${_('Submit changes to comment %(cnum)s', cnum=cnum)}"/>
      <input type="submit" name="cancel_comment" value="${_('Cancel')}" title="Cancel comment edit"/>
    </div>
  </form>
#     endif
## Comment body (rendered through the safety-capped wporg_wiki_to_html)
#     if cnum == cnum_edit:
#       set text = edited_comment if edited_comment is not none else change.comment
  <div class="comment searchable ticketdraft"${{'style': 'display: none' if not text}|htmlattr} xml:space="preserve">
    ${wporg_wiki_to_html(context, text, escape_newlines=preserve_newlines)}
  </div>
#     elif show_history:
  <div class="comment searchable" xml:space="preserve">
    ${wporg_wiki_to_html(context, change.comment_history[comment_version].comment, escape_newlines=preserve_newlines)}
  </div>
#     elif change.comment:
  <div class="comment searchable" xml:space="preserve">
    ${wporg_wiki_to_html(context, change.comment, escape_newlines=preserve_newlines)}
  </div>
#     endif
#     if not show_editor and len(change.comment_history) is greaterthan(1):
  <div class="trac-lastedit${' trac-shade' if comment_version != max_version else ''}">
#       set le_date = pretty_dateinfo(change.comment_history[comment_version].date)
#       set le_author = authorinfo(change.comment_history[comment_version].author)
#       if comment_version != max_version:
    Version ${comment_version}, edited ${le_date} by ${le_author}
#       else:
    Last edited ${le_date} by ${le_author}
#       endif
#       if comment_version is greaterthan(0):
    (<a href="${href.ticket(ticket.id, cnum_hist=cnum, cversion=comment_version - 1)}#comment:${cnum}">previous</a>)
#       endif
#       if comment_version is lessthan(max_version):
    (<a href="${href.ticket(ticket.id, cnum_hist=cnum, cversion=comment_version + 1)}#comment:${cnum}">next</a>)
#       endif
#       if comment_version is greaterthan(0):
    (<a href="${href.ticket(ticket.id, action='comment-diff', cnum=cnum, version=comment_version)}">diff</a>)
#       endif
  </div>
#     endif
#   endif
# endwith
