<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://s.w.org/style/wp4.css?39" />
	<!--[if lte IE 8]>
	<style type="text/css">
	@import url("https://s.w.org/style/ie.css?1");
	</style>
	<![endif]-->

</html>
