<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

<div id="wporg-header">
    <div class="wrapper">
        <a id="mobile-menu-button" class="" href="#" onclick="toggleMenu();"></a>

        <h1><a href="https://wordpress.org">WordPress.org</a></h1>

        <div id="head-search">
            <form action="https://wordpress.org/search/do-search.php" method="get">
                <label for="global-search" class="screen-reader-text">Search WordPress.org for:</label>
				<input id="global-search" class="text" name="search" type="text" value="" maxlength="150" placeholder="Search WordPress.org" />
				<input type="submit" class="button" value="" />
            </form>
        </div>
        <div style="clear:both"></div>
        <ul id="wporg-header-menu">
            <li><a href="https://wordpress.org/showcase/" title="See some of the sites built on WordPress.">Showcase</a></li>
            <li><a href="https://wordpress.org/themes/" title="Find just the right look for your website.">Themes</a></li>
            <li><a href="https://wordpress.org/plugins/" title="Plugins can extend WordPress to do almost anything you can imagine."
                class="${'current' if project_slug == 'plugins' else None}">Plugins</a>
                <div class="uparrow"></div>
            </li>
            <li><a href="https://wordpress.org/mobile/" title="Take your website on the go!">Mobile</a></li>
            <li><a href="https://wordpress.org/support/" title="Forums, documentation, help.">Support</a>
                <ul class="nav-submenu">
                    <li><a href="https://wordpress.org/support/" title="Support and discussion forums.">Forums</a></li>
                    <li><a href="https://codex.wordpress.org/Main_Page" title="Documentation, tutorials, best practices.">Documentation</a></li>
                </ul>
                <div class="uparrow"></div>
            </li>
            <li><a href="https://make.wordpress.org/" title="Contribute your knowledge." class="${'current' if project_slug != 'plugins' else None}">Get Involved</a></li>
            <li><a href="https://wordpress.org/about/" title="About the WordPress Organization, and where we're going.">About</a></li>
            <li><a href="https://wordpress.org/news/" title="Come here for the latest scoop.">Blog</a></li>
            <li><a href="https://wordpress.org/hosting/" title="Find a home for your blog.">Hosting</a></li>
            <li id="download" class="button download-button"><a href="https://wordpress.org/download/" title="Get it. Got it? Good.">Download WordPress</a></li>
        </ul>
        <div style="clear:both"></div>
    </div>
</div>

</html>
