<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:py="http://genshi.edgewall.org/"
	  py:strip="">

	<div id="headline">
		<div class="wrapper">
			<h2><a href="http://make.wordpress.org/core/">Make WordPress Core</a></h2>
			<div class="menu-container"><ul class="menu">
				<li><a href="http://make.wordpress.org/core/">Blog</a></li>
				<li><a href="http://make.wordpress.org/core/handbook/">Contributor Handbook</a></li>
				<li><a href="http://core.trac.wordpress.org/">Trac (Bug Reports)</a></li>
			</ul></div>
		</div>
	</div>

</html>
