<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

	<!--
	<meta property="fb:page_id" content="6427302910" />
	-->
	<link href='//wordpress.org/wp-includes/css/dashicons.css' rel='stylesheet' type='text/css' />
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="//wordpress.org/style/wp4.css?44" />
	<!--[if lte IE 8]>
	<style type="text/css">
	@import url("//wordpress.org/style/ie.css?2");
	</style>
	<![endif]-->

</html>
