form {
	& input:not([type="checkbox"]):not([type="radio"]) {
		width: 95%;
		padding: 3px 10px;
		margin: 2px 6px 16px 0;
		height: 40px;
		color: #23282d;
		font-weight: 400;

		&.input:placeholder {
			opacity: 0.5;
		}
	}
}
