html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 2; /* expand to take up all of the screen */
	width: 430px;
	padding: 2em;
	margin: 120px auto 120px; /* top and bottom values of h1 and #nav */
	background: #fff;
	position: relative;
	border: 1px solid red;
}
