* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.9;
}

label {
	line-height: 1;
}

a {
	text-decoration: none;
}

span.small {
	font-size: 0.8em;
    line-height: 1;
	margin-top: -0.5em;
    display: block;
}

p {
	margin-bottom: 1em;
}