@import "mixins.pcss";
@import "reset.pcss";
@import "layout.pcss";

@import "forms.pcss";
@import "login.pcss";
@import "language-switcher.pcss";
@import "wp-hide-pw.pcss";

body {
	--login-error-border: #cf2e2e;
	--login-error-background: #ff6900;
}