@import "../variables-site/variables-site";

#wporg-header {
	h1 {
		margin: auto;
	}

	h2.rosetta {
		clear: none;
	}

	form input {
		box-sizing: content-box;
		padding: 3px;
	}

	.button {
		box-shadow: none;
	}

	.download-button {
		background-color: #21759b;
		background-image: linear-gradient(to bottom, #2a95c5, #21759b);
		border-bottom-color: #1e6a8d;
		border-color: #21759b;
		box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 );

		&:hover,
		&:focus {
			background-color: #278ab7;
			background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
			border-color: #1b607f;
			box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
			color: #fff;
			text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.3 );
		}

		&:active {
			background: #1b607f;
			background-image: linear-gradient(to bottom, #21759b, #278ab7);
			border-color: #124560 #2382ae #2382ae #2382ae;
			box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
			color: rgba(255,255,255,0.95);
			text-shadow: 0 1px 0 rgba(0,0,0,0.1);
			transform: none;
		}
	}

	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
	}
}

.site-header {
	background: $color__wp-blue;
	padding: 16px 0;
	padding: 1rem 0;
	position: relative;

	.site-branding {
		margin: 0 auto;
		max-width: $size__site-main;
		padding: 0 ms(4);

		@media screen and ( min-width: $ms-breakpoint ) {
			padding: 0 10px;
		}
	}

	.site-title {
		display: inline-block;
		@include font-size( ms-unitless( ms(4) ) );
		font-weight: 300;
		line-height: 1;
		margin: 0 32px 0 0;
		margin: 0 2rem 0 0;
		max-width: none;

		a {
			color: #fff;
			font-weight: 300;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}
	}

	.site-description {
		color: rgba( 255, 255, 255, 0.8);
		@include font-size(ms-unitless(ms(2)));
		font-weight: 300;
		margin: -6.4px auto 32px;
		margin: -0.4rem auto 2rem;
		text-align: center;
	}

	.search-form {
		display: inline-block;
		width: 100%;

		.search-field {
			border: 0;
			border-radius: 2px;
			@include font-size( ms-unitless( ms(0) ) );
			padding: 5px 10px;
			position: relative;
			width: 100%;
		}

		.search-field + .button-search {
			border-left: none;
			border-radius: 0 2px 2px 0;
			display: none;
			margin-left: -6px;
			vertical-align: bottom;

			&:active {
				background: #006799;
				border-right: 1px solid #006799;
				box-shadow: none;
			}

			.dashicons {
				@include font-size( ms-unitless( ms(0) ) );
			}
		}

		@media screen and ( min-width: $ms-breakpoint ) {
			.search-field {
				border-radius: 2px 0 0 2px;
				@include font-size( ms-unitless( ms(-4) ) );
				width: 126px;
				width: 7rem;
			}

			.search-field + .button-search {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		@media screen and ( min-width: 60em ) {
			.search-field {
				width: 160px;
				width: 10rem;
			}
		}
	}

	.home & {
		padding: ms(4) ms(1);
		text-align: center;

		.site-title {
			display: inherit;
			@include font-size( ms-unitless( ms(12) ) );
			margin: 32px 0 16px;
			margin: 2rem 0 1rem;
		}

		.search-form {
			margin-bottom: 32px;
			margin-bottom: 2rem;
			max-width: 100%;
			position: relative;
			width: initial;

			.search-field {
				border: none;
				border-radius: 0;
				box-shadow: none;
				display: block;
				font-size: inherit;
				margin: 0 auto;
				max-width: 100%;
				padding: 8px;
				padding: 0.5rem;
				width: ms(28);
			}

			.button-search {
				background: transparent;
				border: none;
				box-shadow: none;
				color: $color__text-input;
				display: block;
				height: 45px;
				padding: 8px 16px;
				padding: 0.5rem 1rem;
				position: absolute;
				right: 0;
				text-shadow: none;
				top: 0;

				&:active {
					background: transparent;
					border: none;
					transform: none;
				}
			}
		}
	}
}