@import "../variables-site/variables-site";

#wporg-header {
	h1 {
		margin: auto;
	}

	h2.rosetta {
		clear: none;
	}

	form input {
		box-sizing: content-box;
	}

	.button {
		box-shadow: none;
	}

	.download-button {
		background-color: #21759b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
		background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
		background-image:    -moz-linear-gradient(top, #2a95c5, #21759b);
		background-image:     -ms-linear-gradient(top, #2a95c5, #21759b);
		background-image:      -o-linear-gradient(top, #2a95c5, #21759b);
		background-image:   linear-gradient(to bottom, #2a95c5, #21759b);
		border-color: #21759b;
		border-bottom-color: #1e6a8d;
		box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 );

		&:hover,
		&:focus {
			background-color: #278ab7;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
			background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
			background-image:    -moz-linear-gradient(top, #2e9fd2, #21759b);
			background-image:     -ms-linear-gradient(top, #2e9fd2, #21759b);
			background-image:      -o-linear-gradient(top, #2e9fd2, #21759b);
			background-image:   linear-gradient(to bottom, #2e9fd2, #21759b);
			border-color: #1b607f;
			box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
			color: #fff;
			text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.3 );
		}

		&:active {
			background: #1b607f;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
			background-image: -webkit-linear-gradient(top, #21759b, #278ab7);
			background-image: -moz-linear-gradient(top, #21759b, #278ab7);
			background-image: -ms-linear-gradient(top, #21759b, #278ab7);
			background-image: -o-linear-gradient(top, #21759b, #278ab7);
			background-image: linear-gradient(to bottom, #21759b, #278ab7);
			border-color: #124560 #2382ae #2382ae #2382ae;
			color: rgba(255,255,255,0.95);
			-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
			box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
			text-shadow: 0 1px 0 rgba(0,0,0,0.1);
			transform: none;
		}
	}
}

.site-header {
	padding: 1rem 0;
	background: $color__wp-blue;

	.site-branding {
		margin: 0 auto;
		max-width: $size__site-main;
		padding: 0 2rem;

		@media ( min-width: 67rem ) {
			padding: 0;
		}
	}

	.site-title {
		display: inline-block;
		@include font-size( ms-unitless( ms(4) ) );
		font-weight: 300;
		line-height: 1;
		margin: 0 2rem 0 0;
		max-width: none;

		a {
			color: #fff;
			font-weight: 300;
		}
	}

	.site-description {
		color: #fff;
		font-size: ms(2);
		font-weight: 300;
		margin: -0.4rem auto 2rem;
		text-align: center;
	}

	.search-form {
		margin-bottom: 2rem;

		.search-field {
			-webkit-appearance: none;
			border: none;
			display: block;
			margin: 0 auto;
			max-width: 100%;
			padding: 0.5rem;
			width: ms(28);
		}

		.search-submit {
			display: none;
		}
	}

	.home &,
	.search & {
		padding: ms(4) ms(1);

		.site-title {
			display: inherit;
			@include font-size( ms-unitless( ms(12) ) );
			margin: 2rem 0 1rem;
			text-align: center;
		}
	}
}