/* https://github.com/WordPress/gutenberg/pull/65891 Remove with GB 20.9+ */

/*rtl:begin:ignore*/
.wp-block-code {
	direction: ltr;
	text-align: initial;

	code {
		direction: ltr;
		text-align: initial;
	}
}

/*rtl:end:ignore*/
