.wp-block-quote {
	font-size: var(--wp--preset--font-size--normal);
	line-height: var(--wp--custom--body--short-text--typography--line-height);
	padding-left: var(--wp--preset--spacing--20);
	font-family: var(--wp--preset--font-family--inter);
}
