.plugin-upload-form {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}

	legend {
		margin: 1rem 0;
	}

	.category-checklist {
		@extend .clear;
		list-style-type: none;
		margin: 0 0 2rem;

		li {
			float: left;
			padding: 0.5rem 0;
			width: 50%;
		}

		@media screen and ( min-width: 48em ) {
			li {
				padding: 0;
			}

			label {
				@include font-size( ms-unitless( ms(-2) ) );
			}
		}
	}

	@media screen and ( min-width: 48em ) {
		label.button {
			line-height: 1.8;
		}
	}

	.plugin-file {
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 0.1px;
		z-index: -1;
	}
}