.locale-banner {
	background: var(--wp--preset--color--blueberry-4);
	font-size: var(--wp--preset--font-size--small);
	text-align: center;
	color: var(--wp--preset--color--charcoal-1);
	line-height: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}
