<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="">

<body py:match="body" py:attrs="select('@*')">
${select('*|comment()|text()')}

<script>
var wpTracAutoCompleteUsers = {
	include: [
		'762e5e74',
		'barry',
		'boonebgorges',
		'coffee2code',
		'coreymckrill',
		'danielbachhuber',
		'dd32',
		'djpaul',
		'drewapicture',
		'helen',
		'iandunn',
		'jmdodd',
		'johnbillion',
		'johnjamesjacoby',
		'kovshenin',
		'mapk',
		'matt',
		'mdawaffe',
		'nacin',
		'nbachiyski',
		'netweb',
		'obenland',
		'ocean90',
		'Otto42',
		'pento',
		'pyhhak',
		'ryelle',
		'samuelsidler',
		'seanosh',
		'SergeyBiryukov',
		'stankea',
		'stephdau',
		'tellyworth',
		'vnsavage',
		'yoavf'
	],
	exclude: [
		'slackbot',
		'ircbot'
	]
};
</script>
</body>
</html>
