{# meta.trac — end-of-<body> additions, included by the shared site_footer.html. #}
<script>
var wpTracAutoCompleteUsers = {
	include: [
		'762e5e74',
		'barry',
		'boonebgorges',
		'coffee2code',
		'coreymckrill',
		'danielbachhuber',
		'dd32',
		'djpaul',
		'drewapicture',
		'helen',
		'iandunn',
		'jmdodd',
		'johnbillion',
		'johnjamesjacoby',
		'kovshenin',
		'mapk',
		'matt',
		'mdawaffe',
		'nacin',
		'nbachiyski',
		'netweb',
		'obenland',
		'ocean90',
		'Otto42',
		'pento',
		'pyhhak',
		'ryelle',
		'samuelsidler',
		'seanosh',
		'SergeyBiryukov',
		'stankea',
		'stephdau',
		'tellyworth',
		'vnsavage',
		'yoavf'
	],
	exclude: [
		'slackbot',
		'ircbot'
	]
};
</script>
