<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="serve-happy">
			<directory suffix=".php">tests/</directory>
			<exclude>tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
	<!--
		Groups:
		* serve-happy            Default; pure-logic tests.
		* serve-happy-live-http  Hits api.wordpress.org. Excluded in standalone CI.
	-->
</phpunit>

