<?xml version="1.0" ?>
<ruleset name="WordPress.org Coding Standards">
	<description>Apply customized version of WordPress Coding Standards to WordPress.org PHP scripts.</description>

	<!-- Show sniff codes in all reports -->
	<arg value="ps" />
	<arg name="colors" />

	<!-- Exclude 3rd-party files -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/plugins/plugin-directory/libs/*</exclude-pattern>
	<exclude-pattern>*/plugins/theme-directory/lib/*</exclude-pattern>
	<exclude-pattern>*/plugins/wpf-stripe/stripe-php/*</exclude-pattern>

	<!-- Exclude JS/CSS files. -->
	<exclude-pattern>*.js[x]?</exclude-pattern>
	<exclude-pattern>*.[s]?css</exclude-pattern>

	<!-- Scan all (php) files in the current folder and subfolders -->
	<file>.</file>
	<arg name="extensions" value="php" />

	<!-- WordPress.org runs recent versions of WordPress. -->
	<config name="minimum_wp_version" value="6.9"/>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="8.4-"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress-Core">
		<!-- Allow embedded PHP tags on a single line. -->
		<exclude name="Squiz.PHP.EmbeddedPhp.ContentAfterOpen" />
		<exclude name="Squiz.PHP.EmbeddedPhp.ContentBeforeEnd" />

		<!-- Class file names are not always predictable. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<!-- Translators comments are a judgement call. -->
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />

		<!-- Not practical for a large and varied codebase. -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound" />
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound" />
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound" />

		<!-- Aligning things can make the code more readable. -->
		<exclude name="WordPress.WhiteSpace.PrecisionAlignment.Found" />
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma" />
		<exclude name="WordPress.WhiteSpace.OperatorSpacing.SpacingBefore" />
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.SpaceBeforeArrayCloser" />
		<exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket" />
		<exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound" />

		<!-- There are cases where having multiple items on a single line is appropriate. -->
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.ArrayItemNoNewLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />

		<!-- Short array syntax is already used throughout the codebase. -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>

		<!-- The <?php and ?> tags can be on a line with content in templates. -->
		<exclude name="Squiz.PHP.EmbeddedPhp.ContentBeforeOpen" />
		<exclude name="Squiz.PHP.EmbeddedPhp.ContentAfterEnd" />

		<!-- trigger_error() is used for logging in production. -->
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />

		<!-- print_r() is acceptable in CLI and debugging contexts. -->
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_print_r" />

		<!-- Warn about mis-aligned array items, but don't automatically "fix" them. -->
		<exclude phpcbf-only="true" name="PEAR.Functions.FunctionCallSignature" />
	</rule>

	<rule ref="WordPress-Docs">
		<!-- Descriptive names make explicit comments unnecessary in many cases. -->
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag" />
		<exclude name="Squiz.Commenting.FunctionComment.Missing" />
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="Squiz.Commenting.VariableComment.Missing" />
		<exclude name="Squiz.Commenting.VariableComment.MissingVar" />

		<!-- Requiring full stops on inline/param comments is pedantic. -->
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />

		<!-- Package tags add clutter without value. -->
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />

		<!-- We only use basic exceptions. -->
		<exclude name="Squiz.Commenting.FunctionComment.EmptyThrows" />

		<!-- Whitespace makes things more readable. -->
		<exclude name="Squiz.Commenting.FileComment.SpacingAfterOpen" />

		<!-- Valid in some cases like closing tags from another file. -->
		<exclude name="Squiz.Commenting.InlineComment.SpacingAfter" />

		<!-- Not wrong for WordPress plugin file headers. -->
		<exclude name="Squiz.Commenting.FileComment.WrongStyle" />

		<!-- Class comments are often omitted, causing PHPCS to confuse plugin headers for class comments. -->
		<exclude name="Squiz.Commenting.ClassComment.WrongStyle" />
		<exclude name="Squiz.Commenting.ClassComment.SpacingAfter" />

		<!-- WordPress translators comments require no space after //. -->
		<exclude name="Squiz.Commenting.InlineComment.NoSpaceBefore" />
	</rule>

	<!-- Commented-out code is sometimes intentional for reference. -->
	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<severity>0</severity>
	</rule>

	<!-- Custom capabilities used across the WordPress.org environment. -->
	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<!-- Plugin Directory -->
				<element value="plugin_add_committer"/>
				<element value="plugin_add_support_rep"/>
				<element value="plugin_admin_edit"/>
				<element value="plugin_admin_view"/>
				<element value="plugin_approve"/>
				<element value="plugin_close"/>
				<element value="plugin_dashboard_access"/>
				<element value="plugin_disable"/>
				<element value="plugin_edit"/>
				<element value="plugin_edit_others"/>
				<element value="plugin_edit_pending"/>
				<element value="plugin_manage_releases"/>
				<element value="plugin_reject"/>
				<element value="plugin_remove_committer"/>
				<element value="plugin_remove_support_rep"/>
				<element value="plugin_review"/>
				<element value="plugin_self_close"/>
				<element value="plugin_self_transfer"/>
				<element value="plugin_set_category"/>
				<element value="plugin_set_section"/>
				<element value="plugin_toggle_public_preview"/>
				<!-- Theme Directory -->
				<element value="suspend_theme"/>
				<element value="reinstate_theme"/>
				<element value="suspend_themes"/>
				<element value="reinstate_themes"/>
				<element value="theme_configure_categorization_options"/>
				<!-- PHPUnit Test Reporter -->
				<element value="edit_results"/>
				<element value="publish_results"/>
				<element value="edit_others_results"/>
				<element value="read_private_results"/>
				<!-- Translation Events -->
				<element value="manage_translation_events"/>
				<element value="create_translation_event"/>
				<element value="view_translation_event"/>
				<element value="edit_translation_event"/>
				<element value="trash_translation_event"/>
				<element value="delete_translation_event"/>
				<element value="edit_translation_event_attendees"/>
				<element value="edit_translation_event_title"/>
				<element value="edit_translation_event_description"/>
				<element value="edit_translation_event_start"/>
				<element value="edit_translation_event_end"/>
				<element value="edit_translation_event_timezone"/>
				<element value="edit_translation_event_attendance_mode"/>
				<!-- Support Forums -->
				<element value="bbp_forums_admin"/>
				<element value="edit_topic"/>
				<element value="edit_reply"/>
				<element value="read_topic"/>
				<element value="keep_gate"/>
				<element value="moderate"/>
				<element value="throttle"/>
				<element value="participate"/>
				<element value="spectate"/>
				<element value="assign_topic_tags"/>
				<!-- Photo Directory -->
				<element value="edit_photos"/>
				<element value="delete_photos"/>
				<element value="delete_others_photos"/>
				<element value="publish_photos"/>
				<element value="edit_others_photos"/>
				<element value="edit_published_photos"/>
				<element value="delete_published_photos"/>
				<element value="delete_private_photos"/>
				<element value="edit_private_photos"/>
				<element value="read_private_photos"/>
				<element value="manage_photo_tags"/>
				<!-- Learn -->
				<element value="manage_workshop_internal_notes"/>
				<element value="edit_courses"/>
				<element value="edit_lessons"/>
				<element value="edit_any_learn_content"/>
				<!-- HelpHub -->
				<element value="manage_helphub"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress-Extra">
		<!-- Allow use statements right after namespace. -->
		<exclude name="PSR2.Namespaces.NamespaceDeclaration.BlankLineAfter" />

		<!-- Allow short ternary operator (?:). -->
		<exclude name="Universal.Operators.DisallowShortTernary" />

		<!-- Nonce verification is often handled at a higher level. -->
		<exclude name="WordPress.Security.NonceVerification.Missing" />
		<exclude name="WordPress.Security.NonceVerification.Recommended" />
	</rule>
</ruleset>
