$color__background-button: #eee;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-input: #32373c;
$color__text-input-focus: #111;
$color__link: var( --wp--custom--link--color--text );
$color__text-main: #32373c;

$color__border-input: #ddd;
$color__border-abbr: #666;

// Colors
$color__wp-blue: var(--wp--custom--link--color--text);
$color__base-gray: $color__text-main;
