.committer-list,
.support-rep-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding-bottom: 0.5rem;

		.remove {
			color: #ff0000;
			visibility: hidden;
		}

		&:hover .remove {
			visibility: visible;
		}
	}

	.avatar {
		float: left;
		margin-right: 10px;
	}

	.spinner {
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			right: -50%;
			top: 50%;
			margin: -10px -10px 0 0;
			background: url('/wp-admin/images/spinner.gif') no-repeat center;
			-webkit-background-size: 20px 20px;
			background-size: 20px 20px;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);

			@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
				background-image: url('/wp-admin/images/spinner-2x.gif');
			}
		}
	}

	.new {
		margin-top: var(--wp--style--block-gap);
	}
}
