.plugin-ratings {
	position: relative;

	.reviews-link {
		position: absolute;
		right: 0;
		top: 0;
		font-size: var(--wp--preset--font-size--normal);
	}

	[class*='dashicons-star-'] {
		display: inline-block;
		font-size: var( --wp--preset--font-size--large );
		height: auto;
		margin: 0;
		width: auto;
	}

	.ratings-list {
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;


		.counter-container,
		.counter-container a {
			text-decoration: none;
			width: 100%;
		}

		.counter-container a {
			font-size: var(--wp--preset--font-size--small);

			&:hover {
				> span {
					text-decoration: underline;
				}

				.counter-back {
					text-decoration: none;
				}
			}
		}
	
		.counter-label {
			display: inline-block;
			min-width: 65px;
		}

		.counter-back,
		.counter-bar {
			display: inline-block;
			height: 1rem;
			vertical-align: middle;
		}

		.counter-back {
			background-color: var(--wp--preset--color--light-grey-2);
			width: 58%;
			width: calc(100% - 130px);
		}

		.counter-bar {
			background-color: var(--wp--preset--color--pomegrade-1);
			display: block;
		}

		.counter-count {
			margin-left: 3px;
		}
	}
}
