.widget.plugin-categorization {
	margin-top: var(--wp--style--block-gap);

	.widget-head {
		display: flex;
		flex-flow: row wrap;
		column-gap: 12px;
		justify-content: space-between;

		h2 {
			flex: 1 1 auto;
			font-size: var( --wp--preset--font-size--heading-4 );
			margin-top: 0;
			margin-bottom: 0.2rem;
		}

		a {
			flex: 0 0 auto;
			font-size: var( --wp--preset--font-size--small );
			line-height: 2;
			text-align: right;

			&[href=""] {
				display: none;
			}

			&:after {
				content: '\f504';
				font-family: dashicons;
				margin-left: 2px;
			}
		}
	}

	p {
		font-size: var( --wp--preset--font-size--small );
		margin-top: 0.5rem;
	}

	& ~ .plugin-meta li:first-child {
		border-top: 1px solid var( --wp--preset--color--light-grey-1 );
	}
}

