.plugin-support {

	.counter-container {
		margin-bottom: 1rem;
		position: relative;
	}

	.counter-back,
	.counter-bar {
		display: inline-block;
		height: 30px;
		vertical-align: middle;
	}

	.counter-back {
		background-color: var(--wp--preset--color--light-grey-2);
		width: 100%;
	}

	.counter-bar {
		background-color: var(--wp--preset--color--acid-green-2);
		display: block;
	}

	.counter-count {
		font-size: var(--wp--preset--font-size--extra-small);
		left: 8px;
		position: absolute;
		top: 8px;
		width: 100%;
		width: calc(100% - 8px);

		@media screen and ( min-width: $ms-breakpoint ) {
			top: 5px;
		}
	}
}