.widget-area {
	margin: 0 auto;
	max-width: var( --wp--style--global--content-size );
	padding: 0 ms( 4 ) ms( 10 ) ms( 4 );

	@media screen and ( min-width: $ms-breakpoint ) {
		padding: 0 10px ms(10);
	}
}
