<?xml version="1.0"?>
<ruleset name="Plugin Directory">
	<file>.</file>

	<!-- Exclude external libraries -->
	<exclude-pattern>/libs/geopattern-1.1.0/*</exclude-pattern>
	<exclude-pattern>/libs/michelf-php-markdown-1.6.0/*</exclude-pattern>

	<!-- Exclude JS/CSS files. -->
	<exclude-pattern>*.js[x]?</exclude-pattern>
	<exclude-pattern>*.[s]?css</exclude-pattern>

	<!-- Show sniff codes -->
	<arg value="s"/>

	<rule ref="WordPress">
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.system_calls_exec" />
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.system_calls_shell_exec" />
	</rule>
	<rule ref="WordPress-Docs" />
</ruleset>
