<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="plugin-directory">
			<directory suffix=".php">tests/</directory>
			<exclude>tests/bootstrap.php</exclude>
			<exclude>tests/Gandalf_Callback_Test_Case.php</exclude>
			<exclude>tests/wporg-url-schemes.php</exclude>
			<exclude>tests/wporg-plugin-api.php</exclude>
			<exclude>tests/wporg-plugin-api-performance.php</exclude>
			<exclude>tests/api</exclude>
			<exclude>tests/fixtures</exclude>
		</testsuite>
	</testsuites>
</phpunit>
