body.page-about,
body.page-template-about {
	.entry-header {
		padding: ms(4) ms(1);
		text-align: center;

		.entry-title {
			font-size: ms( 8 );
			font-weight: 100;
			letter-spacing: 0.04rem;
			line-height: inherit;
			margin: 1rem auto;
		}

		.entry-description {
			color: rgba( 255, 255, 255, 0.8);
			font-size: ms( 0 );
			margin-top: -0.4rem;
		}
	}

	.entry-content {
		overflow: hidden;
	}

	.shape {
		height: 250px;
		margin: 0 auto;
		opacity: 0.9;
		position: relative;
		text-align: center;
		transform: skew(-15deg);
		width: 300px;

		&.community {
			background-color: #685692;
			bottom: 50px;
			margin-right: -5%;
		}

		&.technology {
			background-color: #027bb4;
			margin-left: -5%;
			top: 50px;
		}

		.dashicons-before {
			color: #fff;
			display: block;
			position: relative;
			top: 30%;

			&:before {
				font-size: ms( 12 );
				height: 64px;
				transform: skew(15deg);
				width: 64px;
			}
		}

		h3, p {
			margin: 0;
			transform: skew(15deg);
		}
	}
}
