// Styles for child pages.
body.page-child {
	.site-title a {
		color: #fff;
		text-decoration: none;

		&:hover,
		&:active {
			color: #fff;
		}
	}

	.entry-header {
		background: none;
		margin: 0 auto;
		max-width: 960px;
		padding: 0 ms( 4 );

		.entry-title {
			color: inherit;
			font-size: ms( 8 );
			font-weight: 400;
			line-height: 1.5;
			margin: 2rem auto 1rem;

			@include breakpoint( 0, $ms-breakpoint ) {
				padding: 0;
			}
		}
	}

	.entry-content {
		padding-top: 0;
	}
}
