.home-welcome {
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
	color: #32373c;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	max-width: initial;
	padding: 0;

	@include breakpoint( $ms-breakpoint ) {
		font-size: 18px;
	}

	h1 {
		font-size: 3.2rem
	}

	a:not(.button) {
		background-color: transparent;
		border: none;
		color: #0073aa;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:active,
		&:hover {
			outline-width: 0
		}
	}

	p {
		font-size: 18px;
		margin: 1em 0;
		max-width: ms( 32 );

		&.subheading {
			color: #82878c;
			font-size: 1.25rem;
			font-weight: 300;
			margin: -.4rem auto 2rem;
			text-align: center;
		}
	}

	section {
		border-bottom: 2px solid #eee;
		margin: 0 auto;
		max-width: 50rem;
		padding: ms( 10 ) ms( 4 );

		&:last-of-type {
			border-bottom: none;
		}

		h2 {
			font-size: 2.44141rem;
			font-weight: 300;
			line-height: 1;
			text-align: center;
		}

		.container {
			margin: 0 auto;
			max-width: 50rem;
			z-index: 0;
		}
	}

	.dashicons {
		color: #cbcdce;
		display: block;
		font-size: 4rem;
		height: auto;
		margin: 0 auto -1rem;
		width: auto;
	}

	.intro {
		padding-bottom: 0
	}

	.features {
		border-top: 2px solid #eee;

		ul {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 3rem 0;
			padding: 0;

			li {
				align-items: center;
				border-bottom: 1px solid #eee;
				border-right: 1px solid #eee;
				display: flex;
				flex-direction: column;
				height: 160px;
				justify-content: center;
				text-align: center;
				width: 50%;

				@include breakpoint( 0, 739px ) {
					&:nth-child(n+7) {
						border-bottom: none;
					}
					&:nth-child(2n) {
						border-right: none;
					}
				}

				@include breakpoint( 740px ) {
					height: 200px;
					width: 25%;

					&:nth-child(4n) {
						border-right: none;
					}
					&:nth-child(n+5) {
						border-bottom: none;
					}
				}

				img {
					height: 2.5rem;
					margin: .25rem auto 1.25rem
				}

				img,
				span {
					color: #00a0d2;
					display: block;
					font-size: 3rem;
					margin-bottom: 1rem;
				}
			}
		}

		p {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	.screenshots {
		height: 400px;
		left: -30px;
		overflow: hidden;
		padding: 1rem 1rem 0;
		position: relative;
		right: 0;
		width: 106%;

		@media(max-width: 739px) {
			padding: 0;
			left: auto;
			right: auto;
			width: 100%
		}

		.dashboard {
			box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
			max-width: 800px;
		}

		.dashboard-mobile {
			bottom: -100px;
			max-width: 200px;
			position: absolute;
			right: 1px;
			z-index: 1;
		}
	}

	.cta-wrapper {
		display: block;
		font-size: .9144rem;
		margin: 2rem 0;
		text-align: center;

		@include breakpoint( $ms-breakpoint ) {
			font-size: .8rem;
			margin: 4rem 0 2rem;
		}
	}

	.community-2 {
		align-items: flex-start;
		background: url(https://s.w.org/images/home/community-2.jpg?3) center no-repeat;
		background-size: cover;
		border: none;
		display: flex;
		flex-direction: column;
		height: 500px;
		justify-content: flex-end;
		max-width: 100%;
		position: relative;

		.screen {
			background: rgba(0, 0, 0, .5);
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 0;
		}

		h2,
		.subheading {
			color: #fff;
			margin: 0 0 1rem;
			max-width: 100%;
			position: relative;
			text-align: left;
			text-shadow: 0 0 8px rgba(0, 0, 0, .5);
			z-index: 1;
		}
	}

	.showcase {
		border-bottom: none;
		margin: 0;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;

		> div {
			background: url(https://s.w.org/images/home/collage-min.jpg?6) center top;
			background-size: cover;
			box-shadow: inset 0 0 8px rgba(0, 0, 0, .4);
			height: 300px;
			width: 100%;

			@media (min-width: 700px) {
				height: 600px;
				background-attachment: fixed;
			}
		}

		.cta-link {
			margin: 3.05176rem 0 0;
			max-width: 100%;
			text-align: center;
		}
	}

	#showcase-link {
		font-size: 14px;
	}
}

#lang-guess {
	background: #c7e8ca;
	border: inherit;
	border-radius: inherit;
	cursor: default;
	font: inherit;
	font-size: .8rem;
	margin: 0;
	max-width: inherit;
	padding: .5rem;
	text-align: center;
	width: inherit;

	@include breakpoint( 67rem ) {
		margin: 1rem auto 0;
		max-width: 50rem;
	}

	a {
		text-decoration: underline;
	}
}

#download-mobile {
	background: #f7f7f7;
	border-bottom: 1px solid #dddddd;
	display: none;
	padding: 20px 0;
	text-align: center;

	@include breakpoint( 0, $ms-breakpoint ) {
		display: inherit;
	}

	span.download-ready {
		font-size: 1.6em;
		margin: 0 0.25em;
	}

	a.download-button {
		height: inherit;
		padding: 10px 15px;
		font-size: 1.6em;
		margin: 10px 0.25em;
	}
}

#home-below {
	font-size: ms( -2 );
	margin: 0 auto ms( 0 );
	max-width: 960px;
	padding: 0 ms( 1 );

	@include breakpoint( sm ) {
		display: block;

		.col-2 {
			display: inline-block;
			vertical-align: top;
			width: calc( 50% - #{$grid-gutter} );
		}
	}

	h4 {
		border-bottom: 1px solid #dedede;
		font-size: inherit;
		padding-bottom: 4px;
	}

	h5 {
		line-height: 1;
		margin: 0;
		text-transform: none;
	}

	h4, h5 {
		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	ol, ul {
		margin: 0;
	}

	.steps {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 1rem;
			padding-left: 2.5rem;
			position: relative;

			span {
				background: url(//s.w.org/style/images/steps.png) no-repeat;
				background-size: 93px 31px;
				content: '';
				height: 31px;
				left: 0;
				position: absolute;
				top: 0;
				width: 31px;

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
				only screen and (min-resolution: 1.5dppx),
				only screen and (min-resolution: 144dpi) {
					background-image: url(//s.w.org/style/images/steps-2x.png);
				}
			}
		}

		.one span {
			background-position: 0 0;
		}

		.two span {
			background-position: -31px 0;
		}

		.three span {
			background-position: -62px 0;
		}
	}

	.notable-users {
		list-style: none;
		padding: 0;

		li a {
			border: 1px solid #f5f5f5;
			border-right-color: #dedede;
			border-bottom-color: #dedede;
			display: block;
			height: 58px;
			margin-bottom: 8px;
			width: 130px;

			&:active {
				border: 1px solid #dedede;
				border-right-color: #f5f5f5;
				border-bottom-color: #f5f5f5;
			}
		}

		&.col-12 {
			margin-bottom: 0;
		}

		@include breakpoint( 420px, 768px ) {
			flex-direction: row;
			flex-wrap: wrap;

			.col-3 {
				width: 48%;
			}
		}
	}

	.showcase-link {
		display: block;
		font-size: ms( -4 );
		margin: 1rem 0;
	}
}
