.page-logos {
	@include breakpoint( 480px, 767px ) {
		.all-logos.row {
			flex-direction: row;
			flex-wrap: wrap;

			.col-4 {
				width: calc( 50% - #{$grid-gutter} );

				&:nth-child(n+3) {
					margin-top: #{$grid-gutter};
				}
			}
		}
	}

	.logo-header {
		margin: 0;

		strong,
		span {
			display: block;
			font-size: 16px;
			line-height: 1;
			color: rgba( 35, 40, 45, 0.75 );
			margin: 0.75rem 0 0.5rem;
		}

		span {
			font-size: ms( -2 );
			margin: 0 0 1rem;
		}
	}

	.resources-list {
		color: rgba( 35, 40, 45, 0.5 );
		font-size: ms( 0 );
		list-style-type: none;
		margin: 0;

		@include breakpoint( 768px ) {
			font-size: ms( -3 );
		}

		li {
			padding: 0 0 0.333rem;
		}

		span {
			opacity: .5;
		}
	}
}
