.page-stats {
	h2 .swap-table {
		vertical-align: initial;

		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}

	.wporg-stats-chart {
		align-items: center;
		display: flex;
		height: 450px;
		justify-content: center;
		position: relative;

		table thead {
			color: inherit;
			background: inherit;
		}

		.google-visualization-table {
			width: 100%;
		}
	}

	.loading:before {
		background: url( 'https://s.w.org/wp-includes/images/spinner.gif' ) no-repeat center;
		background-size: 100%;
		content: '';
		display: block;
		height: 20px;
		transform: translateZ(0);
		width: 20px;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
			background-image: url( 'https://s.w.org/wp-includes/images/spinner-2x.gif' );
		}
	}
}
