body.page-template-page-download,
body.page-download {

	.site-main {
		overflow-x: hidden;
	}

	.entry-header {
		padding: ms( 4 ) ms( 1 );
		text-align: center;

		.entry-title {
			font-size: ms( 12 );
			line-height: 1;
			margin: 2rem auto 1rem;

			@include breakpoint( 0, 420px ) {
				font-size: ms( 10.75 );
			}
		}

		.entry-description {
			color: rgba( 255, 255, 255, 0.8 );
			font-size: ms( 2 );
			font-weight: 300;
			margin: -.4rem auto 2rem;
		}
	}

	section, aside {
		margin-top: 4em;

		h2:first-of-type {
			width: 100%;
		}
	}

	section.download {
		text-align: center;
		order: 3;

		@include breakpoint( 768px ) {
			order: 2;
		}

		.call-to-action {
			margin-top: 0;

			p {
				margin-top: 0.5rem;
			}
		}

		@include breakpoint( 479px ) {
			aside {
				text-align: initial;
			}
		}

		@include breakpoint( 0, 479px ) {
			aside[class*='col-'],
			aside p:last-child {
				margin-bottom: 0;
			}

			.call-to-action:not(:last-child) {
				margin-bottom: 2rem;
			}

			li {
				list-style-type: none;
			}
		}

		.dashicons-download:before {
			margin-right: 5px;
			vertical-align: middle;

			@include breakpoint( 0, 479px ) {
				display: none;
			}
		}

		.col-4:nth-child(n+4) {
			margin-top: 0;
		}
	}

	aside.hosting {
		position: relative;
		text-align: center;
		padding: ms( 10 ) 0;
		order: 2;

		@include breakpoint( 768px ) {
			order: 1;
		}

		.parallelogram {
			background: #f5f5f5;
			height: 100%;
			left: -10%;
			padding: 0;
			top: 0;
			width: 120%;
			z-index: -1;

			@include breakpoint( 0, 768px ) {
				transform: none;
			}
		}

		.dashicons-cloud {
			color: $color__link;
		}

		@include breakpoint( 479px ) {
			.host {
				text-align: initial;
			}
		}

		@include breakpoint( 0, 768px ) {
			[class*='col-'] {
				margin-bottom: 2rem;
			}
		}

		.logo {
			height: 35px;
		}
	}

	aside.apps-mobile {
		text-align: center;
		width: 100%;
		order: 1; /* Assume that mobile users want to install the apps on their phones, and desktop users want to setup WP on a server. */

		@include breakpoint( 768px ) {
			order: 3;
		}

		.web-stores [class*='button-'] {
			display: inline-block;
			margin: 0.5rem;
			width: 150px;
		}

		.ios .button-android {
			display: none;
		}
		.android .button-ios {
			display: none;
		}

		img {
			vertical-align: middle;
		}
	}

	.call-to-action {
		display: block;
		font-size: ms( -1 );
		margin: 2rem 0;
		text-decoration: underline;

		@include breakpoint( 479px ) {
			font-size: ms( -2 );
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.site-content .dashicons {
		color: #cbcdce;
		display: block;
		font-size: 4rem;
		height: auto;
		margin: 0 auto -1rem;
		width: auto;
	}

	.modal {
		.entry-header {
			margin: -15px -30px 15px;
			padding: 0.1rem;
		}
		.entry-title {
			font-size: 3rem;
			margin-top: 1.5rem;
		}
		.entry-description {
			font-size: 1.1rem;
			margin-bottom: 1.5rem;
		}
	}
}
