body.page-search {
	table,
	table td {
		border: none;
		padding: 0;
		margin: 0;
	}

	main {
		min-height: 30em;
	}

	input.gsc-input {
		box-shadow: none;
	}

	.entry-content.google-custom-search {
		padding: 0;

		* {
			box-sizing: initial;
		}
	}

}
