body.page-template-page-get,
body.page-get {
	.entry-header {
		padding: ms( 4 ) ms( 1 );
		text-align: center;

		.entry-title {
			font-size: ms( 12 );
			line-height: 1;
			margin: 2rem auto 1rem;

			@include breakpoint( 0, 420px ) {
				font-size: ms( 11 );
			}
		}

		.entry-description {
			color: rgba( 255, 255, 255, 0.8 );
			font-size: ms( 2 );
			font-weight: 300;
			margin: -.4rem auto 2rem;
		}
	}

	section {
		padding: ms( 10 ) 0;

		@include breakpoint( 479px ) {
			padding: ms( 10 ) ms( 4 );
		}

		h2:first-of-type {
			width: 100%;
		}
	}

	section.download {
		padding-top: 0;
		text-align: center;

		@include breakpoint( 479px ) {
			aside {
				text-align: initial;
			}
		}

		@include breakpoint( 0, 479px ) {
			aside[class*='col-'],
			aside p:last-child {
				margin-bottom: 0;
			}

			.call-to-action:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		
		.dashicons-download:before {
			margin-right: 5px;
			vertical-align: middle;

			@include breakpoint( 0, 479px ) {
				display: none;
			}
		}

		.col-4:nth-child(n+4) {
			margin-top: 0;
		}
	}

	section.hosting {
		text-align: center;

		@include breakpoint( 479px ) {
			.host {
				text-align: initial;
			}

			.col-6:nth-child(n+3) {
				margin-top: 0;
			}
		}

		@include breakpoint( 0, 479px ) {
			[class*='col-'] {
				margin-bottom: 0;
				margin-top: 2rem;
			}
		}

		.logo__bluehost,
		.logo__wpcom {
			height: 35px;
		}
	}

	section.apps-mobile {
		text-align: center;
		width: 100%;

		@include breakpoint( 0, 768px ) {
			border-top: none;
			border-bottom: 2px solid #eee;
			padding-top: 0;
		}

		.web-stores [class*='button-'] {
			display: inline-block;
			margin: 0.5rem;
			width: 150px;
		}
		.ios .button-android {
			display: none;
		}
		.android .button-ios {
			display: none;
		}

		img {
			vertical-align: middle;
		}
	}

	section + section {
		border-top: 2px solid #eee;
	}

	.call-to-action {
		display: block;
		font-size: ms( -1 );
		margin: 2rem 0;
		text-decoration: underline;

		@include breakpoint( 479px ) {
			font-size: ms( -2 );
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.dashicons {
		color: #cbcdce;
		display: block;
		font-size: 4rem;
		height: auto;
		margin: 0 auto -1rem;
		width: auto;
	}
}
