@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

/* START timeline-block/build/blocks.style.build.css?ver=5.7.1 */
@-webkit-keyframes slideInFromLeft{0%{-webkit-transform:translateX(-50%);transform:translateX(-50%)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes slideInFromLeft{0%{-webkit-transform:translateX(-50%);transform:translateX(-50%)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes slideInFromRight{0%{-webkit-transform:translateX(50%);transform:translateX(50%)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes slideInFromRight{0%{-webkit-transform:translateX(50%);transform:translateX(50%)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}.ctl-instant-timeline :before,.ctl-instant-timeline :after,.ctl-instant-timeline *{-webkit-box-sizing:border-box;box-sizing:border-box}.ctl-instant-timeline{display:block;width:100%;max-width:1040px;position:relative;padding:25px 15px;margin:0 auto}.ctl-instant-timeline:before{content:"";display:block;width:3px;background:#ccc;background:-webkit-linear-gradient(top, rgba(230,230,230,0) 0%, var(--timeLineColor) 10%, var(--timeLineColor) 90%, rgba(230,230,230,0) 100%);background:-webkit-gradient(linear, left top, left bottom, from(rgba(230,230,230,0)), color-stop(10%, var(--timeLineColor)), color-stop(90%, var(--timeLineColor)), to(rgba(230,230,230,0)));background:-o-linear-gradient(top, rgba(230,230,230,0) 0%, var(--timeLineColor) 10%, var(--timeLineColor) 90%, rgba(230,230,230,0) 100%);background:linear-gradient(to bottom, rgba(230,230,230,0) 0%, var(--timeLineColor) 10%, var(--timeLineColor) 90%, rgba(230,230,230,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e4e4e4', endColorstr='#00e4e4e4', GradientType=0);position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;opacity:0.4}.ctl-instant-timeline .timeline-content{position:relative}.ctl-instant-timeline .timeline-content:before{display:block;content:"";width:20px;height:20px;background:#ccc;background:var(--timeLineColor);border-radius:50%;position:absolute;left:0;right:0;top:40px;margin:auto;z-index:1}.ctl-instant-timeline .ctl-row{display:-ms-flexbox;display:-moz-flex;display:flex;-ms-flex-align:start;align-items:flex-start;-webkit-align-items:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-justify-content:flex-start;padding:20px 0;position:relative;z-index:2;width:100%}.ctl-instant-timeline .ctl-col-6{-webkit-animation:1s ease-out 0s 1 slideInFromRight;animation:1s ease-out 0s 1 slideInFromRight;width:50%;float:left}.ctl-instant-timeline.both-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(odd){padding:0 0 0 40px}.ctl-instant-timeline.both-sided .timeline-content:nth-child(even)>div>div:nth-child(odd){padding:0 40px 0 0}.ctl-instant-timeline.both-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(even){padding:0 15px 0 0}.ctl-instant-timeline.both-sided .timeline-content:nth-child(even)>div>div:nth-child(even){padding:0 0 0 15px}.ctl-instant-timeline .timeline-content .ctl-row>div:first-child{-webkit-animation:1s ease-out 0s 1 slideInFromLeft;animation:1s ease-out 0s 1 slideInFromLeft;display:-ms-flexbox;display:flex;display:-webkit-flex;-ms-flex-pack:end;justify-content:flex-end}.ctl-instant-timeline .timeline-content .story-time{padding:0 25px;max-width:350px;width:100%;height:60px;display:table}.ctl-instant-timeline .timeline-content .story-time>div,.ctl-instant-timeline .timeline-content .story-time p{display:table-cell;vertical-align:middle;line-height:1.1;font-size:18px;margin:0;padding:0;font-weight:500}.ctl-instant-timeline .timeline-content:nth-child(odd) .story-time,.ctl-instant-timeline .timeline-content:nth-child(even) .story-details{text-align:right}.ctl-instant-timeline .timeline-content:nth-child(even) .story-time,.ctl-instant-timeline .timeline-content:nth-child(odd) .story-details{text-align:left}.ctl-instant-timeline .timeline-content .story-details{padding:20px;border-radius:10px;position:relative;z-index:1;width:100%;background:#fff;-webkit-box-shadow:0 10px 40px 0 rgba(0,0,0,0.1);box-shadow:0 10px 40px 0 rgba(0,0,0,0.1)}.ctl-instant-timeline .timeline-content:nth-child(odd) .story-details:before{content:"";display:block;border:15px solid transparent;border-right-color:#ccc;border-right-color:var(--timeLineColor);position:absolute;left:-32px;top:16px}.ctl-instant-timeline .timeline-content:nth-child(odd) .story-details{border-left:4px solid #ccc;border-left:4px solid var(--timeLineColor)}.ctl-instant-timeline .timeline-content:nth-child(even) .story-details:before{content:"";display:block;border:15px solid transparent;border-left-color:#ccc;border-left-color:var(--timeLineColor);position:absolute;right:-32px;top:16px}.ctl-instant-timeline .timeline-content:nth-child(even) .story-details{border-right:4px solid #ccc;border-right:4px solid var(--timeLineColor)}.ctl-instant-timeline .timeline-content .story-details h3{font-size:18px;line-height:24px;margin:0 0 8px;font-weight:500}.ctl-instant-timeline .timeline-content .story-details p{font-size:14px;line-height:24px;margin:0;font-weight:400}.ctl-instant-timeline .story-image img{width:100%;height:auto}.ctl-instant-timeline.one-sided:before{left:calc(30% - 1.5px);right:auto}.ctl-instant-timeline.one-sided .timeline-content:before{display:none}.ctl-instant-timeline.one-sided .timeline-content .story-details:after{display:block;content:"";width:20px;height:20px;background:#ccc;background:var(--timeLineColor);border-radius:50%;position:absolute;left:-59.5px;right:auto;top:20px;margin:auto;z-index:1}.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(even){width:30%;-ms-flex-order:1;order:1}.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(odd){width:70%;-ms-flex-order:2;order:2}.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd) .story-details,.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-details{text-align:left}.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd) .story-time,.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-time{text-align:right;max-width:100%}.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-details:before{border-left-color:transparent;border-right-color:#ccc;border-right-color:var(--timeLineColor);position:absolute;left:-32px;right:auto}.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-details{border-left:4px solid #ccc;border-left:4px solid var(--timeLineColor);border-right:0}@media screen and (max-width: 61.938em){.ctl-instant-timeline{padding:25px 8px}.ctl-instant-timeline:before,.ctl-instant-timeline.one-sided:before{left:16px;right:auto}.ctl-instant-timeline .timeline-content:before{display:none}.ctl-instant-timeline .timeline-content .story-details:after,.ctl-instant-timeline.one-sided .timeline-content .story-details:after{display:block;content:"";width:20px;height:20px;background:#ccc;background:var(--timeLineColor);border-radius:50%;position:absolute;left:-44.5px;right:auto;top:20px;margin:auto;z-index:1}.ctl-instant-timeline .ctl-row{-ms-flex-flow:row wrap;flex-flow:row wrap}.ctl-instant-timeline.both-sided .timeline-content:nth-child(even)>div>div:nth-child(odd),.ctl-instant-timeline.both-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(odd),.ctl-instant-timeline.both-sided .timeline-content:nth-child(even)>div>div:nth-child(even),.ctl-instant-timeline.both-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(even){padding:0 0 0 40px}.ctl-instant-timeline .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline .timeline-content:nth-child(even)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(even){-ms-flex-order:1;order:1;position:relative;top:-10px;margin:auto;width:100%}.ctl-instant-timeline .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline .timeline-content:nth-child(even)>div>div:nth-child(odd),.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd)>div>div:nth-child(even),.ctl-instant-timeline.one-sided .timeline-content:nth-child(even)>div>div:nth-child(odd){-ms-flex-order:2;order:2;width:100%}.ctl-instant-timeline .timeline-content:nth-child(odd) .story-details,.ctl-instant-timeline .timeline-content:nth-child(even) .story-details,.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd) .story-details,.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-details{padding:12px;text-align:left}.ctl-instant-timeline .timeline-content:nth-child(odd) .story-time,.ctl-instant-timeline .timeline-content:nth-child(even) .story-time,.ctl-instant-timeline.one-sided .timeline-content:nth-child(odd) .story-time,.ctl-instant-timeline.one-sided .timeline-content:nth-child(even) .story-time{text-align:left;max-width:100%;padding:0}.ctl-instant-timeline .timeline-content:nth-child(even) .story-details:before{border-left-color:transparent;border-right-color:#ccc;border-right-color:var(--timeLineColor);position:absolute;left:-32px;right:auto}.ctl-instant-timeline .timeline-content:nth-child(even) .story-details{border-left:#ccc;border-left:4px solid var(--timeLineColor);border-right:0}}
/* END timeline-block/build/blocks.style.build.css?ver=5.7.1 */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;
	}
}

body.page-40-percent-of-web {
	background: #faf5ed url('../images/fabric-light.png');
	overflow-x: hidden;
}

/* specificity to override parent theme style */
.page-40-percent-of-web .entry-40-percent-of-web .entry-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1285px;
	padding: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

@media (max-width: 781px) {
	.page-40-percent-of-web .entry-40-percent-of-web .entry-content {
		max-width: 620px;
	}
}

.entry-40-percent-of-web {
	line-height: 1.7;
	overflow-x: hidden;
}

.entry-40-percent-of-web a {
	border: 0;
	color: #000;
	text-decoration: underline;
}

.entry-40-percent-of-web a:hover,
.entry-40-percent-of-web a:active,
.entry-40-percent-of-web a:focus {
	color: #d13638;
}

.entry-40-percent-of-web h1,
.entry-40-percent-of-web h2,
.entry-40-percent-of-web h3,
.entry-40-percent-of-web h3 * {
	margin: 30px 0;
	border: 0;
	font-family: Chivo, sans-serif;
	font-weight: 700;
	text-decoration: none;
	line-height: 1.3;
}

.entry-40-percent-of-web p {
	margin: 30px 0;
}

._40p-timeline-header {
	position: relative;
	margin-top: 70px;
}

._40p-timeline-header ._40p-timeline-title {
	margin-left: 0 !important;
	text-align: left;
	font-size: 64px;
	line-height: 1.05;
}

@media (max-width: 781px) {
	._40p-timeline-header {
		margin-top: 0;
	}

	._40p-timeline-header ._40p-timeline-title {
		font-size: 40px;
	}
}

._40p-timeline-header ._40p-timeline-title strong {
	color: #d13638;
	line-height: 1.2;
}

._40p-timeline-pills {
	margin: 30px auto;
}

#pills {
	margin: -240px 1px 0px 1px;
	max-width: 1243px;
	width: 100%;
}

@media (max-width: 781px) {
	#pills {
		display: none;
	}
}

@media (max-width: 781px) {
	#pills-mobile {
		display: block !important;
		height: auto;
	}
}

._40p-timeline-intro {
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 505px;
	font-size: 22px;
	line-height: 1.5;
}

p._40p-timeline-intro {
	margin: 0;
}

@media (max-width: 781px) {
	._40p-timeline-intro {
		position: relative;
		bottom: auto;
		width: auto;
		font-size: 16px;
	}
}

._40p-timeline-block {
	margin: 0 auto 30px;
	max-width: 1125px;
}

._40p-timeline-block .ctl-instant-timeline {
	padding: 50px 0 100px 0;
	max-width: 100%;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline {
		padding: 0;
	}
}

._40p-timeline-block .ctl-instant-timeline:before {
	background: #000;
	opacity: 1;
	width: 1px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline:before {
		display: none;
	}
}

._40p-timeline-block .ctl-instant-timeline:after {
	content: '';
	background: #000;
	border-radius: 50%;
	display: block;
	height: 16px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 8px);
	width: 16px;
}

._40p-timeline-block .ctl-instant-timeline .ctl-col-6 {
	animation: none !important;
}

._40p-timeline-block .ctl-instant-timeline .timeline-content {
	position: relative;
}

._40p-timeline-block .ctl-instant-timeline .timeline-content:focus {
	outline: none;
}

._40p-timeline-block .ctl-instant-timeline .timeline-content::before {
	display: none;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline .ctl-col-6 {
		margin-top: 0;
	}

	._40p-timeline-block .ctl-instant-timeline .timeline-content:last-of-type {
		margin-bottom: 0;
	}

	._40p-timeline-block .ctl-instant-timeline .timeline-content:last-of-type:after {
		border-left: 1px solid #000;
		content: '';
		display: block;
		height: 80px;
		left: 50%;
		position: relative;
		top: 0;
	}
}

._40p-timeline-block .ctl-instant-timeline .timeline-content .ctl-row {
	align-items: center;
	padding: 35px 0;
	transition-duration: 0.4s;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline .timeline-content .ctl-row {
		padding: 0;
		margin: 50px 0;
	}

	._40p-timeline-block .ctl-instant-timeline .timeline-content .ctl-row:last-of-type {
		margin-bottom: 0;
	}
}

._40p-timeline-block .ctl-instant-timeline .story-time {
	padding: 0;
}

@media (max-width: 61.938em) {
	._40p-timeline-block._40p-timeline-block .ctl-instant-timeline .story-time {
		text-align: center;
	}

	._40p-timeline-block .ctl-instant-timeline .story-time:before {
		border-left: 1px solid #000;
		content: '';
		height: 33px;
		position: absolute;
		top: -33px;
		left: 50%;
	}
}

._40p-timeline-block .ctl-instant-timeline .story-time > div {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 4px 50px;
	font-family: Chivo, sans-serif;
	font-size:36px;
	line-height: 170%;
	border-radius: 40px;
}

._40p-timeline-block .ctl-instant-timeline .story-details h3 a,
._40p-timeline-block .ctl-instant-timeline .story-time > div {
	transition: 0.4s;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline .story-time > div {
		margin-left: auto;
		margin-right: auto;
	}
}

._40p-timeline-block .ctl-instant-timeline .ctl-row.hover .story-time > div {
	background-color: #d13638;
}

/* specificity to override block styles */
._40p-timeline-block._40p-timeline-block .ctl-instant-timeline .story-details {
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
}
._40p-timeline-block._40p-timeline-block .ctl-instant-timeline .story-details:before {
	display: none;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline .story-details:after {
		display: none;
	}
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline .story-details h3 {
		font-size: 16px !important;
		text-align: center;
	}
}

._40p-timeline-block .ctl-instant-timeline .story-details h3 em:last-child {
	margin-left: 4px;
	color: #d13638;
	font-style: normal;
}

._40p-timeline-block .ctl-instant-timeline .story-details h3 * {
	font-weight: 400;
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n+1) {
	padding-right: 35px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n+1) {
		padding: 0;
	}
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n) {
	padding-left: 35px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n) {
		padding: 0;
	}
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n):before {
	border-bottom: 1px solid black;
	content: '';
	display: block;
	position: relative;
	top: 35px;
	left: -35px;
	width: 35px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n) > div > div:nth-child(2n):before {
		display: none;
	}
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n+1) > div > div:nth-child(2n+1) {
	padding: 0;
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n+1) > div > div:nth-child(2n+1):after {
	border-bottom: 1px solid black;
	content: '';
	display: block;
	position: relative;
	top: -35px;
	right: 0;
	width: 35px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n+1) > div > div:nth-child(2n+1):after {
		display: none;
	}
}

._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n+1) > div > div:nth-child(2n) {
	padding-left: 35px;
}

@media (max-width: 61.938em) {
	._40p-timeline-block .ctl-instant-timeline.both-sided .timeline-content:nth-child(2n+1) > div > div:nth-child(2n) {
		padding: 0;
	}
}

._40p-timeline-percent {
	margin-bottom: 0;
}

@media (max-width: 781px) {
	._40p-timeline-percent {
		font-size: 60px !important;
	}
}

._40p-timeline-percent + p {
	margin-top: 0;
}

._40p-milestones-details {
	margin-left: auto;
	margin-right: auto;
	max-width: 620px;
}

h2._40p-milestones-header {
	border-bottom: 1px solid #939393;
	margin-top: 120px;
	padding-bottom: 12px;
	font-size: 16px;
}

._40p-milestones-header ~ h3 {
	font-size: 28px;
}

@media (max-width: 481px) {
	._40p-milestones-header ~ h3 {
		font-size: 24px;
	}
}

._40p-milestones-back-link {
	line-height: 7;
}

._40p-milestones-back-link a {
	color:#d13638;
	text-decoration: none;
}

._40p-timeline-wp-logo-created-img img {
	border: 1px solid #999;
	border-radius: 5px;
	vertical-align: middle;
}

._40p-timeline-wp-logo-created-img figcaption {
	color: #5e5e5e;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.entry-content .bp {
	position: absolute;
	transform-origin: center center;
	z-index: 1;
}

@media (min-width: 782px) and (max-width: 1040px) {
	.entry-content .bp {
		height: 150px;
	}
}

@media (max-width: 781px) {
	.entry-content .bp {
		height: 100px;
	}
}

.entry-content .bp:nth-child(odd) {
	left: -450px;
}

.entry-content .bp:nth-child(even) {
	right: -450px;
}

._40p-social {
	font-size: 12px;
	line-height: 5;
}

._40p-social a {
	display: inline-block;
	line-height: 40px;
	text-decoration: none;
	font-weight: 700;
}

._40p-social a svg {
	margin-right: 8px;
	vertical-align: middle;
}

._40p-social a:hover svg {
	fill: #d13638;
}

/* RTL Style Overrides */
.rtl #pills {
	transform: scaleX(-1);
}

.rtl ._40p-timeline-title {
	margin-right: 0 !important;
	text-align: right;
}

.rtl ._40p-timeline-intro {
	left: 0;
	right: auto;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .story-time {
	text-align: left;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .story-details h3 em:last-child {
	margin-left: 0;
	margin-right: 4px;
}

/* Odd rows */
.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n+1) .ctl-row .ctl-col-6:nth-child(1),
.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n+1) .story-details {
	text-align: right;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n+1) .ctl-row .ctl-col-6:nth-child(2) {
	padding: 0 35px 0 0;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n+1) .story-time {
	text-align: left;
}

/* Even rows */
.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n) .ctl-row .ctl-col-6:nth-child(1) { 
	padding: 0 0 0 35px;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n) .story-details {
	text-align: left;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n) > div > div:nth-child(2n):before {
	left: auto;
	right: -35px;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n) .ctl-row .ctl-col-6:nth-child(2) {
	padding: 0 35px 0 0;
}

.rtl ._40p-timeline-block .ctl-instant-timeline .timeline-content:nth-child(2n) .ctl-row .ctl-col-6:nth-child(2) .story-time {
	text-align: right;
}

@media (max-width: 61.938em){
	.rtl .timeline-content .ctl-col-6 {
		padding: 0 !important;
	}

	.rtl .timeline-content .story-time {
		text-align: center !important;
	}
}