html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

p {
  margin: 1em 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote {
  background: transparent;
  border: none;
  padding: 0;
  border-left: 2px solid #eee;
  color: #82878c;
  font-style: italic;
  margin: 16px 0;
  margin: 1rem 0;
  padding-left: 16px;
  padding-left: 1rem;
}

blockquote cite {
  font-size: 12.8px;
  font-size: 0.8rem;
}

hr {
  background-color: #eee;
  border: 0;
  height: 2px;
  margin: 80px auto;
  margin: 5rem auto;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: inherit;
  line-height: 1.5;
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
}

h1 {
  font-size: 61.035px;
  font-size: 3.8146972656rem;
  font-weight: 300;
}

h2 {
  font-size: 39.062px;
  font-size: 2.44140625rem;
  font-weight: 300;
}

h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  border: none;
  color: #32373c;
  font-weight: 600;
  padding: 0;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.16px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
}

h6 {
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

a {
  color: #0073aa;
}

a:visited {
  /* Override wp4.css */
  color: #0073aa;
}

a:hover, a:focus, a:active {
  /* Override wp4.css */
  color: #0073aa;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 12.8px;
  font-size: 0.8rem;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
}

table thead {
  background: #32373c;
  color: #fff;
}

table th, table td {
  border: 1px solid #eee;
  font-weight: normal;
  margin: 0;
  padding: 6.4px;
  padding: 0.4rem;
  text-align: left;
  vertical-align: top;
}

table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

html {
  font-size: 100%;
}

body,
button,
input,
select,
textarea {
  color: #32373c;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

@media screen and (min-width: 737px) {
  html {
    font-size: 1.125rem;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------------------------------------------------------------
  1.0 - Button Layouts
---------------------------------------------------------------------------- */
.button,
.button-primary,
.button-secondary,
.plugin-upload-form .button-primary {
  border: 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12.8px;
  font-size: 0.8rem;
  height: 25px;
  height: 1.5625rem;
  line-height: 1;
  margin: 0;
  padding: 0 12.8px;
  padding: 0 0.8rem;
  text-decoration: none;
  white-space: nowrap;
  -webkit-appearance: none;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

.button.button-xl,
.button-group.button-xl .button {
  font-size: 16px;
  font-size: 1rem;
  height: 39.062px;
  height: 2.44140625rem;
  line-height: 1;
  padding: 0 24px;
  padding: 0 1.5rem;
}

.button.button-large,
.button-group.button-large .button {
  height: 31.25px;
  height: 1.953125rem;
  line-height: 1;
  padding: 0 16px;
  padding: 0 1rem;
}

.button.button-small,
.button-group.button-small .button {
  font-size: 10.24px;
  font-size: 0.64rem;
  height: 20px;
  height: 1.25rem;
  line-height: 1;
  padding: 0 8px;
  padding: 0 0.5rem;
}

a.button,
a.button-primary,
a.button-secondary {
  line-height: 25px;
  line-height: 1.5625rem;
}

a.button.button-large,
.button-group.button-large a.button {
  line-height: 31.25px;
  line-height: 1.953125rem;
}

a.button.button-xl,
.button-group.button-xl a.button {
  line-height: 39.062px;
  line-height: 2.44140625rem;
}

a.button.button-small,
.button-group.button-small a.button {
  line-height: 20px;
  line-height: 1.25rem;
}

.button:active,
.button:focus {
  outline: none;
}

.button.hidden {
  display: none;
}

/* Style Reset buttons as simple text links */
input[type="reset"],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 2px 1px;
  width: auto;
}

/* ----------------------------------------------------------------------------
  2.0 - Default Button Style
---------------------------------------------------------------------------- */
.button,
.button:visited,
.button-secondary {
  background: #f7f7f7;
  border-color: #cccccc;
  -webkit-box-shadow: 0 1px 0 #cccccc;
  box-shadow: 0 1px 0 #cccccc;
  color: #555;
  vertical-align: top;
}

p .button {
  vertical-align: baseline;
}

.button.hover,
.button:hover,
.button-secondary:hover,
.button.focus,
.button:focus,
.button-secondary:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}

.button.focus,
.button:focus,
.button-secondary:focus,
.button-link:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
  box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
}

.button.active,
.button.active:hover,
.button:active,
.button-secondary:active {
  background: #eee;
  border-color: #999;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.button.active:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 115, 170, 0.8);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 115, 170, 0.8);
}

.button[disabled],
.button:disabled,
.button.disabled,
.button-secondary[disabled],
.button-secondary:disabled,
.button-secondary.disabled,
.button-disabled {
  background: #f7f7f7 !important;
  border-color: #ddd !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #a0a5aa !important;
  cursor: default;
  text-shadow: 0 1px 0 #fff !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

/* Buttons that look like links, for a cross of good semantics with the visual */
.button-link {
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

.button-link:focus {
  outline: #5b9dd9 solid 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */
.button-primary,
.download-button,
.plugin-upload-form .button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.button-primary:visited,
.download-button:visited,
.plugin-upload-form .button-primary:visited {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
}

.button-primary.hover, .button-primary:hover, .button-primary.focus, .button-primary:focus,
.download-button.hover,
.download-button:hover,
.download-button.focus,
.download-button:focus,
.plugin-upload-form .button-primary.hover,
.plugin-upload-form .button-primary:hover,
.plugin-upload-form .button-primary.focus,
.plugin-upload-form .button-primary:focus {
  background: #008ec2;
  border-color: #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
}

.button-primary.focus, .button-primary:focus,
.download-button.focus,
.download-button:focus,
.plugin-upload-form .button-primary.focus,
.plugin-upload-form .button-primary:focus {
  -webkit-box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
  box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
}

.button-primary.active, .button-primary.active:hover, .button-primary.active:focus, .button-primary:active,
.download-button.active,
.download-button.active:hover,
.download-button.active:focus,
.download-button:active,
.plugin-upload-form .button-primary.active,
.plugin-upload-form .button-primary.active:hover,
.plugin-upload-form .button-primary.active:focus,
.plugin-upload-form .button-primary:active {
  background: #0073aa;
  border-color: #006799;
  -webkit-box-shadow: inset 0 2px 0 #006799;
  box-shadow: inset 0 2px 0 #006799;
  vertical-align: top;
}

.button-primary[disabled], .button-primary:disabled, .button-primary.disabled,
.download-button[disabled],
.download-button:disabled,
.download-button.disabled,
.plugin-upload-form .button-primary[disabled],
.plugin-upload-form .button-primary:disabled,
.plugin-upload-form .button-primary.disabled {
  background: #008ec2 !important;
  border-color: #007cb2 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #66c6e4 !important;
  cursor: default;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
}

.button-primary.button.button-hero,
.download-button.button.button-hero,
.plugin-upload-form .button-primary.button.button-hero {
  -webkit-box-shadow: 0 2px 0 #006799;
  box-shadow: 0 2px 0 #006799;
}

.button-primary.button.button-hero.active, .button-primary.button.button-hero.active:hover, .button-primary.button.button-hero.active:focus, .button-primary.button.button-hero:active,
.download-button.button.button-hero.active,
.download-button.button.button-hero.active:hover,
.download-button.button.button-hero.active:focus,
.download-button.button.button-hero:active,
.plugin-upload-form .button-primary.button.button-hero.active,
.plugin-upload-form .button-primary.button.button-hero.active:hover,
.plugin-upload-form .button-primary.button.button-hero.active:focus,
.plugin-upload-form .button-primary.button.button-hero:active {
  -webkit-box-shadow: inset 0 3px 0 #006799;
  box-shadow: inset 0 3px 0 #006799;
}

.button-primary-disabled {
  background: #008ec2 !important;
  border-color: #007cb2 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #66c6e4 !important;
  cursor: default;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
}

/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */
.button-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

.button-group > .button {
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-right: -1px;
  z-index: 10;
}

.button-group > .button-primary {
  z-index: 100;
}

.button-group > .button:hover {
  z-index: 20;
}

.button-group > .button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.button-group > .button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.button-group > .button:focus {
  position: relative;
  z-index: 1;
}

/* ----------------------------------------------------------------------------
  5.0 - Responsive Button Styles
---------------------------------------------------------------------------- */
@media screen and (max-width: 737px) {
  .button,
  .button.button-large,
  .button.button-small,
  .plugin-upload-form .button-primary {
    font-size: 14px;
    height: auto;
    line-height: normal;
    margin-bottom: 4px;
    padding: 6px 14px;
    vertical-align: middle;
  }
}

.clear:before, .page-template-get section.hosting .three-up:before, .page-template-get section.apps-mobile .web-stores:before, .clear:after, .page-template-get section.hosting .three-up:after, .page-template-get section.apps-mobile .web-stores:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.home-below:before,
.home-below:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after, .page-template-get section.hosting .three-up:after, .page-template-get section.apps-mobile .web-stores:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.home-below:after {
  clear: both;
}

p.subheading {
  color: #82878c;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: -6.4px auto 32px;
  margin: -0.4rem auto 2rem;
  text-align: center;
}

p.intro {
  font-size: 20px;
  font-size: 1.25rem;
}

p.aside {
  font-size: 12.8px;
  font-size: 0.8rem;
}

p.note {
  font-size: 10.24px;
  font-size: 0.64rem;
  letter-spacing: 0.16px;
  letter-spacing: 0.01rem;
  max-width: 291.038px;
  max-width: 18.1898940355rem;
}

.entry-footer > span {
  margin-right: 16px;
  margin-right: 1rem;
}

.entry-footer > span :last-of-type {
  margin: 0;
}

.entry-footer .updated:not(.published) {
  display: none;
}

.entry-footer .sticky .posted-on,
.entry-footer .byline {
  display: none;
}

.entry-footer .single .byline,
.entry-footer .group-blog .byline {
  display: inline;
}

/* ----------------------------------------------------------------------------

WordPress-style Form Elements
=============================
These are the current form element styles for wp-admin. Many of them include the .wp-admin class to be appended which I appended to the html tag on this pen.

Form Styles
-------------
All form element styles are minimal and require additional styling for layout.

---------------------------------------------------------------------------- */
/* Include margin and padding in the width calculation of input and textarea. */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  color: #32373c;
  outline: none;
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
}

input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

/* rtl:ignore */
input[type="email"],
input[type="url"] {
  direction: ltr;
}

/* Vertically align the number selector with the input. */
input[type="number"] {
  height: 28px;
  line-height: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  background: #fff;
  border: 1px solid #b4b9be;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  clear: none;
  color: #555;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: -4px 4px 0 0;
  min-width: 16px;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
  vertical-align: middle;
  width: 16px;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  display: inline-block;
  float: left;
  font: normal 21px/1 dashicons;
  vertical-align: middle;
  width: 16px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"].disabled, input[type="checkbox"]:disabled, input[type="checkbox"]:disabled:checked:before, input[type="checkbox"].disabled:checked:before,
input[type="radio"].disabled,
input[type="radio"]:disabled,
input[type="radio"]:disabled:checked:before,
input[type="radio"].disabled:checked:before {
  opacity: 0.7;
}

input[type="checkbox"]:checked:before {
  color: #1e8cbe;
  content: "\f147";
  margin: -3px 0 0 -4px;
}

input[type="radio"] {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 10px;
  margin-right: 4px;
}

input[type="radio"]:checked + label:before {
  color: #82878c;
}

input[type="radio"]:checked:before {
  background-color: #1e8cbe;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  content: "\2022";
  font-size: 24px;
  height: 6px;
  line-height: 16px;
  margin: 4px;
  text-indent: -9999px;
  width: 6px;
}

input[type="reset"]:hover,
input[type="reset"]:active {
  color: #00a0d2;
}

/* Search */
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

textarea,
input,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  padding: 3px 5px;
  /* Reset mobile webkit's default element styling */
}

textarea {
  line-height: 1.4;
  overflow: auto;
  padding: 2px 6px;
  resize: vertical;
}

textarea.code {
  line-height: 1.4;
  padding: 4px 6px 1px 6px;
}

label {
  cursor: pointer;
  vertical-align: middle;
}

input,
select {
  margin: 1px;
  padding: 3px 5px;
}

input.code {
  padding-top: 6px;
}

input.readonly,
input[readonly],
textarea.readonly,
textarea[readonly] {
  background-color: #eee;
}

:-moz-placeholder,
.wp-core-ui :-moz-placeholder {
  color: #a9a9a9;
}

input:disabled,
input.disabled,
select:disabled,
select.disabled,
textarea:disabled,
textarea.disabled {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(222, 222, 222, 0.75);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  color: rgba(51, 51, 51, 0.5);
}

input[type="file"]:disabled,
input[type="file"].disabled,
input[type="range"]:disabled,
input[type="range"].disabled {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input.large-text,
textarea.large-text {
  width: 99%;
}

input.regular-text {
  width: 25em;
}

input.small-text {
  padding: 1px 6px;
  width: 50px;
}

input[type="number"].small-text {
  width: 65px;
}

input.tiny-text {
  width: 35px;
}

input[type="number"].tiny-text {
  width: 45px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 782px) {
  /* Input Elements */
  textarea {
    -webkit-appearance: none;
  }
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  input[type="number"] {
    -webkit-appearance: none;
    padding: 6px 10px;
  }
  input[type="number"] {
    height: 40px;
  }
  input.code {
    padding-bottom: 5px;
    padding-top: 10px;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    padding: 10px;
  }
  input[type="checkbox"]:checked:before {
    font: normal 30px/1 dashicons;
    margin: -3px -5px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    height: 25px;
    width: 25px;
  }
  input[type="radio"]:checked:before {
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin: 7px;
    line-height: 16px;
  }
  textarea,
  input {
    font-size: 16px;
  }
  input[type="text"].small-text,
  input[type="search"].small-text,
  input[type="password"].small-text,
  input[type="number"].small-text,
  input[type="number"].small-text {
    width: auto;
    max-width: 55px;
    display: inline;
    padding: 3px 6px;
    margin: 0 3px;
  }
  input.regular-text {
    width: 100%;
  }
  label {
    font-size: 14px;
  }
  fieldset label {
    display: block;
  }
}

a.button:hover, a.button:focus, a.button:active {
  text-decoration: none;
}

p a:not(.button),
p a:not(.button):hover {
  border: none;
}

.main-navigation {
  background: #0073aa;
  clear: both;
  left: 0;
  position: absolute;
  top: 60px;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  left: -999em;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  padding: 1rem;
}

.main-navigation a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 12.8px;
  font-size: 0.8rem;
  text-decoration: none;
}

.main-navigation a:hover, .main-navigation a.active {
  color: #fff;
}

@media screen and (min-width: 737px) {
  .main-navigation a.active {
    border-bottom: 1px solid;
  }
}

/* Small menu. */
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  font-size: 1.5625rem;
  height: 56px;
  height: 3.5rem;
  overflow: hidden;
  position: absolute;
  right: 16px;
  right: 1rem;
  top: -58px;
  width: 56px;
  width: 3.5rem;
  -webkit-appearance: none;
}

.toggled .menu-toggle:before {
  content: "\f343";
}

@media screen and (min-width: 737px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    float: right;
    position: initial;
    width: initial;
  }
  .main-navigation.toggled {
    padding: 1px 0;
  }
  .main-navigation ul {
    display: inline-block;
    font-size: 0;
  }
  .main-navigation ul li {
    border: 0;
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0;
  }
  .main-navigation ul li:last-of-type {
    margin-right: 0;
  }
}

.notice {
  background: #fff;
  border-left: 4px solid #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  padding: 1px 12px;
}

.notice p {
  font-size: 12.8px;
  font-size: 0.8rem;
  margin: 0.5em 0;
  padding: 2px;
}

.notice.notice-alt {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.notice.notice-large {
  padding: 10px 20px;
}

.notice.notice-success {
  border-left-color: #46b450;
}

.notice.notice-success.notice-alt {
  background-color: #ecf7ed;
}

.notice.notice-warning {
  border-left-color: #ffb900;
}

.notice.notice-warning.notice-alt {
  background-color: #fff8e5;
}

.notice.notice-error {
  border-left-color: #dc3232;
}

.notice.notice-error.notice-alt {
  background-color: #fbeaea;
}

.notice.notice-info {
  border-left-color: #00a0d2;
}

.notice.notice-info.notice-alt {
  background-color: #e5f5fa;
}

.site-content {
  margin: 0 auto;
  max-width: 960px;
  padding: 48.828px 25px;
  padding: 3.0517578125rem 1.5625rem;
}

@media screen and (min-width: 737px) {
  .site-content {
    padding: 3.0517578125rem 10px;
  }
}

.site-content.single,
.single .site-content {
  padding: 0;
}

@media screen and (min-width: 737px) {
  .site-content.single,
  .single .site-content {
    padding: 0 10px 3.0517578125rem;
  }
}

.site-content.page,
.page .site-content,
.home .site-content {
  margin: auto;
  max-width: none;
  padding: 0;
}

.site-content .page-title {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 400;
}

.site-content .no-results {
  margin: 0 auto;
  max-width: 568.434px;
  max-width: 35.527136788rem;
  padding: 0 32px;
  padding: 0 2rem;
}

.site-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: -6.4px auto 32px;
  margin: -0.4rem auto 2rem;
  text-align: center;
}

.site-header {
  background: #0073aa;
  padding: 16px 0;
  padding: 1rem 0;
  position: relative;
}

.site-header .site-branding {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 25px;
  padding: 0 1.5625rem;
}

@media screen and (min-width: 737px) {
  .site-header .site-branding {
    padding: 0 10px;
  }
}

.site-header.home {
  padding: 25px 18.288px;
  padding: 1.5625rem 1.143rem;
  text-align: center;
}

.site-title {
  display: inline-block;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 32px 0 0;
  margin: 0 2rem 0 0;
  max-width: none;
}

.site-title a {
  color: #fff;
  font-weight: 300;
}

.site-title a:hover, .site-title a:focus, .site-title a:active {
  text-decoration: none;
}

.site-header.home .site-title {
  display: inherit;
  font-size: 61.035px;
  font-size: 3.8146972656rem;
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
}

#wporg-header h1 {
  margin: auto;
}

#wporg-header h2.rosetta {
  clear: none;
}

#wporg-header form input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 3px;
}

#wporg-header .button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#wporg-header .download-button {
  background-color: #21759b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
  background-image: linear-gradient(to bottom, #2a95c5, #21759b);
  border-bottom-color: #1e6a8d;
  border-color: #21759b;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
}

#wporg-header .download-button:hover, #wporg-header .download-button:focus {
  background-color: #278ab7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e9fd2), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2e9fd2, #21759b);
  background-image: linear-gradient(to bottom, #2e9fd2, #21759b);
  border-color: #1b607f;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#wporg-header .download-button:active {
  background: #1b607f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#21759b), to(#278ab7));
  background-image: -webkit-linear-gradient(top, #21759b, #278ab7);
  background-image: linear-gradient(to bottom, #21759b, #278ab7);
  border-color: #124560 #2382ae #2382ae #2382ae;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#wporg-header a:hover,
#wporg-header a:focus,
#wporg-header a:active {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  #wporg-header ul li.current-menu-item:after,
  #wporg-header ul li.current_page_parent:after,
  #wporg-header ul li a.current ~ .uparrow {
    border-bottom-color: #0073aa;
  }
}

.home .site-header {
  background: #0073aa;
  padding: 18px 36px;
}

@media (min-width: 737px) {
  .home .site-header {
    padding: 1.5625rem;
  }
}

.home .site-header .site-title {
  color: #fff;
  display: block;
  font-size: 61.035px;
  font-size: 3.8146972656rem;
  font-weight: 300;
  line-height: 1;
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
  text-align: center;
}

.home .site-header .site-description {
  color: #fff;
  max-width: 568.434px;
  max-width: 35.52714rem;
  padding: 11px 0;
}

.error-404 .page-title {
  text-align: center;
}

.error-404 .page-content {
  text-align: center;
}

.error-404 .page-content .logo-swing {
  height: 160px;
  height: 10rem;
  margin: 96px auto;
  margin: 6rem auto;
  position: relative;
  text-align: center;
  width: 160px;
  width: 10rem;
}

.error-404 .page-content .logo-swing .wp-logo {
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 160px;
  width: 10rem;
}

@-webkit-keyframes hinge {
  10% {
    width: 180px;
    height: 180px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  15% {
    width: 185px;
    height: 185px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20% {
    width: 180px;
    height: 180px;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  10% {
    width: 180px;
    height: 180px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  15% {
    width: 185px;
    height: 185px;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20% {
    width: 180px;
    height: 180px;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

.comments-area {
  margin-top: 5em;
}

.comments-area > :last-child {
  margin-bottom: 0;
}

.comments-area .comment-list + .comment-respond {
  border-top: 1px solid #eaeaea;
}

.comments-area .comment-list + .comment-respond,
.comments-area .comment-navigation + .comment-respond {
  padding-top: 1.6em;
}

.comments-area .comments-title {
  margin-bottom: 1.3333em;
}

.comments-area .comment-list {
  list-style: none;
  margin: 0;
}

.comments-area .comment-list article,
.comments-area .comment-list .pingback,
.comments-area .comment-list .trackback {
  border-top: 1px solid #eaeaea;
  padding: 1.6em 0;
}

.comments-area .comment-list .children {
  list-style: none;
  margin: 0;
}

.comments-area .comment-list .children > li {
  padding-left: 0.8em;
}

.comments-area .comment-list .alt {
  background: none;
}

.comments-area .comment-author {
  color: #999;
  margin-bottom: 0.4em;
}

.comments-area .comment-author .avatar {
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 24px;
}

.comments-area .comment-metadata,
.comments-area .pingback .edit-link {
  color: #999;
  line-height: 1.5;
}

.comments-area .comment-metadata a,
.comments-area .pingback .edit-link a {
  color: #777;
  border-bottom: 1px solid #dfdfdf;
}

.comments-area .comment-metadata a:hover, .comments-area .comment-metadata a:focus,
.comments-area .pingback .edit-link a:hover,
.comments-area .pingback .edit-link a:focus {
  color: #d54e21;
  border-bottom-color: #d54e21;
}

.comments-area .comment-metadata {
  margin-bottom: 1.6em;
}

.comments-area .comment-metadata .edit-link {
  margin-left: 1em;
}

.comments-area .pingback .edit-link {
  margin-left: 1em;
}

.comments-area .pingback .edit-link:before {
  top: 5px;
}

.comments-area .comment-content ul,
.comments-area .comment-content ol {
  margin: 0 0 1.6em 1.3333em;
}

.comments-area .comment-content li > ul,
.comments-area .comment-content li > ol {
  margin-bottom: 0;
}

.comments-area .comment-content > :last-child {
  margin-bottom: 0;
}

.comments-area .comment-content .reply {
  font-size: 12px;
}

.comments-area .comment-content .reply a {
  border: 1px solid #eaeaea;
  color: #707070;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin-top: 2em;
  padding: 0.4167em 0.8333em;
  text-transform: uppercase;
}

.comments-area .comment-content .reply a:hover, .comments-area .comment-content .reply a:focus {
  border-color: #333;
  color: #333;
  outline: 0;
}

.comments-area .comment-form {
  padding-top: 1.6em;
}

.comments-area .comment-form label {
  font-size: 12px;
  font-weight: 700;
  display: block;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.comments-area .comment-form input[type="text"],
.comments-area .comment-form input[type="email"],
.comments-area .comment-form input[type="url"] {
  width: 100%;
}

.comments-area .comment-notes,
.comments-area .comment-awaiting-moderation,
.comments-area .logged-in-as,
.comments-area .form-allowed-tags {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2em;
}

.comments-area .no-comments {
  border-top: 1px solid #eaeaea;
  color: #999;
  font-weight: 700;
  padding-top: 1.6em;
}

.comments-area .comment-navigation + .no-comments {
  border-top: 0;
}

.comments-area .form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

.comments-area .form-submit {
  margin-bottom: 0;
}

.comments-area .required {
  color: #c0392b;
}

.page .entry-header {
  background: #0073aa;
  padding: 16px 0;
  padding: 1rem 0;
  position: relative;
}

.page .entry-header .entry-title {
  color: #fff;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 25px;
  padding: 0 1.5625rem;
}

@media screen and (min-width: 737px) {
  .page .entry-header .entry-title {
    padding: 0 10px;
  }
}

.page .entry-header.home {
  padding: 25px 18.288px;
  padding: 1.5625rem 1.143rem;
  text-align: center;
}

.page .entry-content,
.page .entry-footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 48.828px 25px;
  padding: 3.0517578125rem 1.5625rem;
}

.post-navigation {
  margin: 5em auto;
  padding: 0;
}

.post-navigation a {
  border-bottom: 1px solid #eaeaea;
  color: #444;
  display: block;
  font-weight: 600;
  padding: 11px 0 12px;
  text-transform: none;
  width: 100%;
}

.post-navigation a:hover {
  color: #21759b;
}

.post-navigation .nav-links {
  border-top: 1px solid #eaeaea;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.post-navigation .meta-nav {
  color: #777;
  display: block;
  font-size: 13px;
  line-height: 2;
  text-transform: uppercase;
}

.post-navigation .nav-next {
  text-align: right;
}

.home-welcome {
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  color: #32373c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: initial;
  padding: 0;
}

@media (min-width: 737px) {
  .home-welcome {
    font-size: 18px;
  }
}

.home-welcome h1 {
  font-size: 51.2px;
  font-size: 3.2rem;
}

.home-welcome a:not(.button) {
  background-color: transparent;
  border: none;
  color: #0073aa;
  text-decoration: none;
}

.home-welcome a:not(.button):hover {
  text-decoration: underline;
}

.home-welcome a:not(.button):active, .home-welcome a:not(.button):hover {
  outline-width: 0;
}

.home-welcome p {
  font-size: 18px;
  margin: 1em 0;
  max-width: 568.434px;
  max-width: 35.52714rem;
}

.home-welcome p.subheading {
  color: #82878c;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  margin: -6.4px auto 32px;
  margin: -.4rem auto 2rem;
  text-align: center;
}

.home-welcome section {
  border-bottom: 2px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  max-width: 50rem;
  padding: 48.828px 25px;
  padding: 3.05176rem 1.5625rem;
}

.home-welcome section:last-of-type {
  border-bottom: none;
}

.home-welcome section h2 {
  line-height: 1;
  text-align: center;
}

.home-welcome section .container {
  margin: 0 auto;
  max-width: 800px;
  max-width: 50rem;
}

.home-welcome .dashicons {
  color: #cbcdce;
  display: block;
  font-size: 64px;
  font-size: 4rem;
  height: auto;
  margin: 0 auto -16px;
  margin: 0 auto -1rem;
  width: auto;
}

.home-welcome .intro {
  padding-bottom: 0;
}

.home-welcome .features {
  border-top: 2px solid #eee;
}

.home-welcome .features ul {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 48px 0;
  margin: 3rem 0;
  padding: 0;
}

.home-welcome .features ul li {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

@media (max-width: 739px) {
  .home-welcome .features ul li:nth-child(n+7) {
    border-bottom: none;
  }
  .home-welcome .features ul li:nth-child(2n) {
    border-right: none;
  }
}

@media (min-width: 740px) {
  .home-welcome .features ul li {
    width: 25%;
    height: 200px;
  }
  .home-welcome .features ul li:nth-child(4n) {
    border-right: none;
  }
  .home-welcome .features ul li:nth-child(n+5) {
    border-bottom: none;
  }
}

.home-welcome .features ul li img {
  height: 40px;
  height: 2.5rem;
  margin: 4px auto 20px;
  margin: .25rem auto 1.25rem;
}

.home-welcome .features ul li img,
.home-welcome .features ul li span {
  color: #00a0d2;
  display: block;
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.home-welcome .features p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-welcome .screenshots {
  height: 400px;
  left: -30px;
  overflow: hidden;
  padding: 16px 16px 0;
  padding: 1rem 1rem 0;
  position: relative;
  right: 0;
  width: 106%;
}

@media (max-width: 739px) {
  .home-welcome .screenshots {
    padding: 0;
    left: auto;
    right: auto;
    width: 100%;
  }
}

.home-welcome .screenshots .dashboard {
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.home-welcome .screenshots .dashboard-mobile {
  bottom: -100px;
  max-width: 200px;
  position: absolute;
  right: 1px;
  z-index: 1;
}

.home-welcome .cta-wrapper {
  display: block;
  font-size: 14.63px;
  font-size: .9144rem;
  margin: 32px 0;
  margin: 2rem 0;
  text-align: center;
}

@media (min-width: 737px) {
  .home-welcome .cta-wrapper {
    font-size: .8rem;
    margin: 4rem 0 2rem;
  }
}

.home-welcome .community-2 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: url(https://s.w.org/images/home/community-1.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 100%;
  position: relative;
}

.home-welcome .community-2 .screen {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.home-welcome .community-2 h2,
.home-welcome .community-2 .subheading {
  color: #fff;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  max-width: 100%;
  position: relative;
  text-align: left;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-welcome .showcase {
  border-bottom: none;
  margin: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.home-welcome .showcase > div {
  background: url(https://s.w.org/images/home/collage-min.jpg) center top;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 100%;
}

@media (min-width: 700px) {
  .home-welcome .showcase > div {
    height: 600px;
    background-attachment: fixed;
  }
}

.home-welcome .showcase .cta-link {
  margin: 48.828px 0 0;
  margin: 3.05176rem 0 0;
  max-width: 100%;
  text-align: center;
}

.home-welcome #showcase-link {
  font-size: 14px;
}

#lang-guess {
  background: #c7e8ca;
  border: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 12.8px;
  font-size: .8rem;
  margin: 0;
  max-width: inherit;
  padding: 8px;
  padding: .5rem;
  text-align: center;
  width: inherit;
}

@media (min-width: 67rem) {
  #lang-guess {
    margin: 1rem auto 0;
    max-width: 50rem;
  }
}

#home-below {
  margin-bottom: 14px;
}

#home-below h4 {
  border-bottom: 1px solid #dedede;
  font-size: inherit;
  padding-bottom: 4px;
}

#home-below h5 {
  line-height: 1;
  margin: 0;
  text-transform: none;
}

#home-below ol, #home-below ul {
  margin: 0;
}

.page-template-get .site-header {
  padding: 25px 18.288px;
  padding: 1.5625rem 1.143rem;
  text-align: center;
}

.page-template-get .site-title {
  display: inherit;
  font-size: 61.035px;
  font-size: 3.8146972656rem;
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
}

.page-template-get section {
  padding: 48.828px 25px;
  padding: 3.0517578125rem 1.5625rem;
}

.page-template-get section.download {
  text-align: center;
}

@media (min-width: 737px) {
  .page-template-get section.download .container {
    text-align: initial;
  }
  .page-template-get section.download .container aside,
  .page-template-get section.download .container article {
    display: inline-block;
    vertical-align: top;
  }
  .page-template-get section.download .container aside {
    width: 30%;
  }
  .page-template-get section.download .container article {
    width: 65%;
  }
  .page-template-get section.download .container aside + article,
  .page-template-get section.download .container article + aside {
    margin-left: 5%;
  }
}

.page-template-get section.hosting {
  text-align: center;
}

.page-template-get section.hosting .three-up {
  text-align: initial;
}

.page-template-get section.hosting .three-up > div {
  margin-top: 48px;
  margin-top: 3rem;
}

.page-template-get section.hosting .three-up > div .logo__bluehost, .page-template-get section.hosting .three-up > div .logo__getlisted, .page-template-get section.hosting .three-up > div .logo__wpcom {
  height: 35px;
}

@media (min-width: 737px) {
  .page-template-get section.hosting .three-up > div {
    float: left;
    font-size: 0.8rem;
    margin-right: 5%;
    width: 30%;
  }
  .page-template-get section.hosting .three-up > div:last-child {
    margin-right: 0;
  }
}

.page-template-get section.apps-mobile {
  text-align: center;
}

.page-template-get section.apps-mobile .web-stores {
  margin: 32px auto 0;
  margin: 2rem auto 0;
  width: 100%;
}

.page-template-get section.apps-mobile .web-stores a {
  display: inline-block;
  margin: 10px;
  width: 150px;
}

@media (min-width: 737px) {
  .page-template-get section.apps-mobile .web-stores {
    margin: 4rem auto 0;
  }
}

.page-template-get section.apps-mobile .ios .button-android {
  display: none;
}

.page-template-get section.apps-mobile .android .button-ios {
  display: none;
}

.page-template-get section + section {
  border-top: 2px solid #eee;
}

.page-template-get .call-to-action {
  display: block;
  font-size: 14.63px;
  font-size: 0.9144rem;
  margin: 32px 0 32px;
  margin: 2rem 0 2rem;
}

@media (min-width: 737px) {
  .page-template-get .call-to-action {
    font-size: 0.8rem;
    margin: 4rem 0 2rem;
  }
}

.page-template-get .dashicons {
  color: #cbcdce;
  display: block;
  font-size: 64px;
  font-size: 4rem;
  height: auto;
  margin: 0 auto -16px;
  margin: 0 auto -1rem;
  width: auto;
}
/*# sourceMappingURL=style.css.map */