.feedback {
	text-align: right;
	font-size: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #dadada;
	padding-bottom: 1px;
	margin-bottom: 25px;
}

.feedback a {
	text-decoration: none;
}

.nextprev {
	margin-bottom: 2em;
}

.blog-categories ul li ul {
	margin-bottom: 0 !important;
}

.storycontent div {
	margin-top: 2em;
	margin-bottom: 2em;
}

.storycontent div.googleplus1_button {
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (max-width:692px) {
	.col-9 {
		width:100%;
	}
}

.col 9 {
	margin-left: 7px;
}

#pagebody {
	margin-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

#pagebody h2.fancy {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.3;
}

#pagebody .meta {
	margin-bottom: 20px;
	font-size: 12px;
	color: #999;
}

.storycontent {
	padding-right: 60px;
}

.storycontent p,
.storycontent ul {
	font-size: 16px;
	line-height: 1.6;
}

.storycontent ul li {
	margin-bottom: 5px;
}

.col-3 p, .col-3 ul li {
	font-size: 14px;
}

.feedback {
	margin-bottom: 40px;
}

hr {
	margin: 2em 0 3em;
}

.col-9 h2 {
	margin: 15px 0 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}

.col-9 h3 {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-weight: bold;
}
