p.login span.mod-login {
	left: 0;
	right: auto;
}

.frontpageheatmap a {
	font-family: sans-serif;
}

.new-topic {
	margin-right: 3px;
	margin-left: 0;
}

#forumlist .num {
	font-family: sans-serif;
}

.topictitle .col-9 {
	margin-right: 255px;
	margin-left: 0;
}

#thread li.postitem {
	float: right;
}

.postform label {
	float: right;
	clear: right;
}

.threadauthor .avatar {
	float: right;
	margin-left: 12px;
	margin-right: 0;
}

.post {
	margin-right: 14px;
	margin-left: 0;
}

.post blockquote {
	border-width: 1px 3px 1px 1px;
}

#forum-welcome {
	float: right;
}

#forum-welcome p {
	padding-left: 10px;
	padding-right: 0;
}

.page-numbers {
	margin-left: 3px;
	margin-right: 0;
}

#useravatar {
	float: right;
}

#pagebody #userlogin,
#userlogin {
	font-family: sans-serif;
}

dl#userinfo {
	float: right;
	margin-right: 12px;
	margin-left: 0;
}

dl#userinfo dt {
	float: right;
	margin-left: 6px;
	margin-right: -12px;
}

#theuser {
	float: right;
}

form#profile-form {
	margin-right: 12px;
	margin-left: 0;
}

form#profile-form h3 {
	margin-right: -12px;
	margin-left: 0;
}

form#profile-delete-form {
	float: left;
}

#topic-paging {
	float: left;
	margin-left: -162px;
	margin-right: 0;
}
