#wporg-header ul {
	margin-top: 18px;
	width: 584px;
	min-width: 0;
}

#wporg-header ul ul {
	width: auto;
}

.wrapper {
	/*width: 980px;*/
}

#home-below h4 {
	font-size: 12px !important;
}

.col-3 .download-button {
	height: 35px !important;
}

#wporg-header ul li a {
	/*padding: 0 9px;*/
}

#head-search {
	height: 30px;
}
