@import "../../../../wporg/css/components/404";
@import "../../../../wporg/css/components/comments";
@import "../../../../wporg/css/components/entry-content";
@import "../../../../wporg/css/components/entry-header";
@import "../../../../wporg/css/components/entry-summary";
@import "../../../../wporg/css/components/entry";
@import "../../../../wporg/css/components/gallery";
@import "../../../../wporg/css/components/media";
@import "../../../../wporg/css/components/post-navigation";
@import "../../../../wporg/css/components/posts-navigation";
@import "../../../../wporg/css/components/search-form";
@import "../../../../wporg/css/components/site-content";
@import "../../../../wporg/css/components/site-description";
@import "../../../../wporg/css/components/site-header";
@import "../../../../wporg/css/components/site-title";
@import "../../../../wporg/css/components/widget-area";
@import "../../../../wporg/css/components/wporg-footer";
@import "../../../../wporg/css/components/wporg-header";
@import "captions";
@import "galleries";
@import "media";
@import "site-title";
@import "wporg-filter-bar";
@import "../../components/archive";
@import "../../components/dialog";
@import "../../components/main-navigation";
@import "../../components/page";
@import "../../components/plugin-card";
@import "../../components/plugin-icon";
@import "../../components/plugin-ratings";
@import "../../components/plugin-section";
@import "../../components/search-form";
@import "../../components/search";
@import "../../components/site-content";
@import "../../components/site-footer";
@import "../../components/site-main";
@import "../../components/plugin/favorite-button";
@import "../../components/plugin/plugin-banner";
@import "../../components/plugin/sections-categorization";
@import "../../components/plugin/sections-changelog";
@import "../../components/plugin/sections-developers";
@import "../../components/plugin/sections-faq";
@import "../../components/plugin/sections-image-gallery";
@import "../../components/plugin/sections-reviews";
@import "../../components/plugin/sections-screenshots";
@import "../../components/plugin/sections-stats";
@import "../../components/plugin/sections";
@import "../../components/plugin/style";
@import "../../components/widget-area/widgets-adopt-me";
@import "../../components/widget-area/widgets-categorization";
@import "../../components/widget-area/widgets-committers";
@import "../../components/widget-area/widgets-contributors";
@import "../../components/widget-area/widgets-meta";
@import "../../components/widget-area/widgets-ratings";
@import "../../components/widget-area/widgets-support";
@import "../../components/widget-area/widgets";
@import "../../components/widget-area/style";
