/* Better RTL for Rosetta WP theme */
body {
	font-family: sans-serif;
	direction: rtl;
	unicode-bidi: embed;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h3, h4, h5, h6 {
	font-weight: bold;
}

.section img.shot {
	float: left;
	margin: 0 25px 5px 0;
}

.main {
	float: right;
  padding: 0 0 0 30px;
}

.download-button span, .download-tar {
	direction: ltr;
  unicode-bidi: embed;
}

h4, h6 {
	float: none;
	margin-right: 0;
}

ul, ol {
	margin: 0 25px 0 0;
}

.narrow {
	float: right;
  margin: 0 0 0 20px;
}

span.author {
	display: block;
}

#footer {
	margin-left: 0;
}

#footer p {
	direction: ltr;
	text-align: left;
}
