<!-- wp:template-part {"slug":"header","tagName":"div","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"entry-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group entry-content" style="padding-left:var(--wp--preset--spacing--edge-space);padding-right:var(--wp--preset--spacing--edge-space);padding-bottom:var(--wp--preset--spacing--40)">
	<!-- wp:wporg/archive-page /-->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer /-->