{
  "plugins": [
    [ "transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "state/selectors": {
        "transform": "state/selectors/${member}",
        "kebabCase": true
      }
    }]
  ],
  "presets": ["es2015", "react", "stage-2"]
}
