@import "../variables-site/variables-site";

/* --------------------------------------------------------------------------
//
// NOTE: If you edit this file, you should make sure that the CSS rules for
// buttons in the following files are updated.
//
// * jquery-ui-dialog.css
// * editor.css
//
// WordPress-style Buttons
// =======================
// Create a button by adding the `.button` class to an element. For backwards
// compatibility, we support several other classes,such as `.button-secondary`,
// but these will *not* work with the stackable classes described below.
//
// Button Styles
// -------------
// To display a primary button style,
// add the `.button-primary` class to a button.
//
// Button Sizes
// ------------
// Adjust a button's size by adding the `.button-large`
// or `.button-small` class.
//
// Button States
// -------------
// Lock the state of a button by adding the name of the pseudoclass as
// an actual class (e.g. `.hover` for `:hover`).
//
//
// TABLE OF CONTENTS:
// ------------------
// 1.0 - Button Layouts
// 2.0 - Default Button Style
// 3.0 - Primary Button Style
// 4.0 - Button Groups
// 5.0 - Responsive Button Styles
//
//--------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
  1.0 - Button Layouts
---------------------------------------------------------------------------- */

.button,
.button-primary,
.button-secondary {
	border: 1px solid;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: auto;
	line-height: var(--wp--custom--button--typography--line-height);
	margin: 0;
	padding: 0 0.8rem;
	text-decoration: none;
	white-space: nowrap;
	appearance: none;
	box-shadow: none;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.button.button-large,
.button-group.button-large .button {
	height: ms(6);
	line-height: 1;
	padding: 0 1rem;
}

.button.button-small,
.button-group.button-small .button {
	font-size: ms( -4 );
	height: ms(2);
	line-height: 1;
	padding: 0 0.5rem;
}

a.button.button-large,
.button-group.button-large a.button {
	line-height: ms(6);
}

a.button.button-small,
.button-group.button-small a.button {
	line-height: ms(2);
}

.button:active,
.button:focus {
	outline: none;
}

.button.hidden {
	display: none;
}

/* Style Reset buttons as simple text links */

input[type="reset"],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0 2px 1px;
	width: auto;
}

/* ----------------------------------------------------------------------------
  2.0 - Default Button Style
---------------------------------------------------------------------------- */

.button,
.button-secondary {
	background: #f7f7f7;
	border-color: #ccc;
	box-shadow: none;
	color: #555;
	vertical-align: middle;
}

p .button {
	vertical-align: baseline;
}

.button.hover,
.button:hover,
.button-secondary:hover,
.button.focus,
.button:focus,
.button-secondary:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.button.focus,
.button:focus,
.button-secondary:focus,
.button-link:focus {
	border-color: #5b9dd9;
	box-shadow: none;
}

.button.active,
.button.active:hover,
.button:active,
.button-secondary:active {
	background: var(--wp--preset--color--light-grey-1);
	border-color: #999;
	box-shadow: none;
	transform: translateY(1px);
}

.button.active:focus {
	border-color: #5b9dd9;
	box-shadow: none;
}

.button[disabled],
.button:disabled,
.button.disabled,
.button-secondary[disabled],
.button-secondary:disabled,
.button-secondary.disabled,
.button-disabled {
	background: #f7f7f7 !important;
	border-color: #ddd !important;
	box-shadow: none !important;
	color: #a0a5aa !important;
	cursor: default;
	text-shadow: 0 1px 0 #fff !important;
	transform: none !important;
}

/* Buttons that look like links,
for a cross of good semantics with the visual */
.button-link {
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	margin: 0;
	outline: none;
	padding: 0;
}

.button-link:focus {
	outline: #5b9dd9 solid 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */

.button-primary,
.download-button,
.is-primary,
input[type="submit"],
button[type="submit"] {
	--wp--custom--button--spacing--padding--top: var(--wp--custom--button--small--spacing--padding--top);
	--wp--custom--button--spacing--padding--bottom: var(--wp--custom--button--small--spacing--padding--bottom);
	--wp--custom--button--spacing--padding--left: var(--wp--custom--button--small--spacing--padding--left);
	--wp--custom--button--spacing--padding--right: var(--wp--custom--button--small--spacing--padding--right);

	--wp--custom--button--typography--font-size: var(--wp--custom--button--small--typography--font-size);

	// Standard button does not have a border, so the padding needs to include
	// border size.
	// This ensures the outline and filled button are the same height.
	border-width: 0;
	padding-top: calc(var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc(var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc(var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc(var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	border-radius: var(--wp--custom--button--border--radius);
	box-shadow: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: inherit;
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none; // Needed because link styles inside .entry-content add a text decoration

	&:visited {
		box-shadow: none;
		color: var(--wp--custom--button--color--text);
	}

	&.hover,
	&:hover,
	&.focus,
	&:focus {
		background: var(--wp--custom--button--hover--color--background);
		box-shadow: none;
		color: var(--wp--custom--button--hover--color--text);
	}

	&.focus,
	&:focus {
		background-color: var(--wp--custom--button--color--background);
		box-shadow: inset 0 0 0 3px var(--wp--preset--color--white) !important;
		outline: 1.5px solid var(--wp--custom--button--focus--border--color);
		outline-offset: -1.5px;
	}

	&.active,
	&.active:hover,
	&.active:focus,
	&:active {
		padding-top: var(--wp--custom--button--spacing--padding--top);
		padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
		padding-left: var(--wp--custom--button--spacing--padding--left);
		padding-right: var(--wp--custom--button--spacing--padding--right);
		border: var(--wp--custom--button--border--width) solid currentColor;
		color: var(--wp--custom--button--active--color--text);
		background-color: var(--wp--custom--button--active--color--background);
	}

	&[disabled],
	&:disabled,
	&.disabled {
		background: var(--wp--custom--button--disabled--background-color) !important;
		box-shadow: none !important;
		color: var(--wp--custom--button--disabled--color) !important;
		cursor: default;
	}

	&.button.button-hero {
		box-shadow: none;

		&.active,
		&.active:hover,
		&.active:focus,
		&:active {
			box-shadow: none;
		}
	}
}

.button-primary-disabled {
	background: var(--wp--custom--button--disabled--background-color) !important;
	border-color: var(--wp--custom--button--disabled--border-color) !important;
	box-shadow: none !important;
	color: var(--wp--custom--button--disabled--color) !important;
	cursor: default;
}


/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */

.button-group {
	display: inline-block;
	font-size: 0;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
}

.button-group > .button {
	border-radius: 0;
	display: inline-block;
	margin-right: -1px;
	z-index: 10;
}

.button-group > .button-primary {
	z-index: 100;
}

.button-group > .button:hover {
	z-index: 20;
}

.button-group > .button:first-child {
	border-radius: 3px 0 0 3px;
}

.button-group > .button:last-child {
	border-radius: 0 3px 3px 0;
}

.button-group > .button:focus {
	position: relative;
	z-index: 1;
}
