@import "../variables-site/variables-site";

a {
	color: $color__link;

	&:visited {
		/* Override wp4.css */
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		/* Override wp4.css */
		color: $color__link;
		text-decoration: underline;
	}
	&.button:hover,
	&.button:focus,
	&.button:active {
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	// Override for wp4.css.
	p &:not(.button),
	p &:not(.button):hover {
		border: none;
	}
}

p a {
	border-bottom: none;

	&:hover {
		border-bottom: none;
	}
}