<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:py="http://genshi.edgewall.org/"
	  py:strip="">

		<div id="footer">
			<div id="footer-inner">
				<div class="links">
					<p>
						<a href="https://wordpress.org">WordPress.org</a>
						<a href="https://bbpress.org">bbPress.org</a>
						<a href="https://buddypress.org">BuddyPress.org</a>
						<a href="https://ma.tt">Matt</a>
						<a href="https://bbpress.org/feed/" title="RSS Feed for Articles">Blog RSS</a>
					</p>
				</div>
				<div class="details">
					<p>
						<a href="https://bbpress.org/about/gpl/">GPL</a>
						<a href="https://bbpress.org/contact/">Contact Us</a>
						<a href="https://wordpress.org/about/privacy/">Privacy</a>
						<a href="https://bbpress.org/terms/">Terms of Service</a>
						<a href="https://x.com/bbpress">X</a>
					</p>
				</div>
			</div>
		</div>

</html>
