<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

    <dl id="accessibility">
        <dt>Skip to:</dt>
        <dd><a href="#content" title="Skip to content">Content</a></dd>
    </dl>
    <div id="header">
        <div id="header-inner">
            <ul id="nav" class="menu">
                <li><a href="http://bbpress.org/about/">About</a></li>
                <li><a href="http://bbpress.org/plugins/">Plugins</a></li>
                <li><a href="http://bbpress.org/themes/">Themes</a></li>
                <li><a href="http://codex.bbpress.org/">Documentation</a></li>
                <li><a href="http://bbpress.org/blog/">Blog</a></li>
                <li><a href="http://bbpress.org/forums/">Support</a></li>
                <li class="download"><a href="http://bbpress.org/download/">Download</a></li>
            </ul>

            <h1><a href="http://bbpress.org">bbPress.org</a></h1>
        </div>
    </div>

</html>
