/**
 * Theme Name: BuddyPress.org 2013
 * Theme URL: http://buddypress.org
 * Description: A WordPress theme for BuddyPress.org
 * Author: John James Jacoby
 * Author URI: http://jaco.by
 * Version: 1.0
 * Template: bb-base
 * Tags: buddypress, gray, 508, compliance, fixed width, widgets, gallery
 */

/**
 * See bb-base/style-buddypress.css
 */
