.block-validator {

	.block-validator__plugin-form label {
		display: block;
		margin-bottom: ms(-2);
	}

	.block-validator__plugin-input-container {
		display: flex;
		max-width: 34rem;
	}

	.block-validator__plugin-input {
		flex: 1;
	}

	.block-validator__plugin-submit {
		flex: 0;
		margin-left: ms(-3);
	}

	/* Input width plus some padding */
	@media (max-width: 36rem) {
		.block-validator__plugin-input-container {
			display: block;
		}

		.block-validator__plugin-input {
			width: 100%;
		}

		.block-validator__plugin-submit {
			margin-left: 0;
			margin-top: ms(-3);
		}
	}

	.notice {

		details,
		p {
			font-size: ms( 0 );
			margin: ms(-3) 0;
		}

		details p {
			margin-left: 1rem;
			font-size: ms( -2 );
		}

		code {
			font-size: 1em;
		}

		summary {
			/* Needed for Firefox to make the triangle visible */
			display: list-item;
		}

	}

	figure {
		border: 1px solid #aaa;
		display: inline-block;
		padding: 1em;
	}

	.test-screenshot {
		text-align: center;
	}
}
