body a,
body .wp-block-post-content a {
	text-decoration: none;

	&:not(.button, .dashicons, .wp-block-button__link):hover {
		text-decoration: underline;
	}
}

.entry-content a {
	text-decoration: underline;
}