/* =Header
-------------------------------------------------------------- */

#header {
	background-color: #663399;
	border-bottom: 1px solid #333;
}

#header h1 a {
	width: 265px;
	background: url('../buddypress-org/images/buddypress-logo.png') no-repeat 0 0;
	position: relative;
}

#header h1 a:after {
        font: normal 22px/1 'dashicons';
        position: absolute;
        color: #fff;
        content: '\f456';
        left: 251px;
        top: 6px;
        text-indent: 0;
}

/* =Site Style
-------------------------------------------------------------- */

body.bbp-user-page div.content,
body.bbp-user-edit div.content {
	width: auto;
	float: none;
}

div.standard {
	background: #EBF5FA;
}

/* =Buttons
-------------------------------------------------------------- */

.button {
	background-color: #663399;
	color: #fff;
}

#nav li.current a,
#nav li a:active,
#nav li a:hover,
.button:active,
.button:hover  {
	background: #6becca;
	color: #663399;
}

#subnav-inner ul li a:hover {
	color: #663399;
}

/* =Links
-------------------------------------------------------------- */

a {
	color: #663399;
}
a:hover {
	color: #6becca;
}

/* =Text
-------------------------------------------------------------- */

blockquote {
	background-color: #eee;
}
div.action a {
	color: #663399;
}

/* =Input
-------------------------------------------------------------- */

input.submit {
	background: #663399;
	color: #fff;
}
input.submit:hover {
	background: #6becca;
	color: #663399;
}

/* =HiDPI Overrides
-------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#header h1 a {
		background-image: url('../buddypress-org/images/buddypress-logo-2x.png');
		background-size: 269px 65px;
	}
}
