/* =Site Style
-------------------------------------------------------------- */

#header {
	background-color: #d54e21;
	border-bottom: 1px solid #c43d10;
}

#header h1 a {
	width: 265px;
	background: url('../buddypress-org/images/buddypress-logo.png') no-repeat 0 0;
	position: relative;
}

#header h1 a:after {
	font: normal 22px/1 'dashicons';
	position: absolute;
	color: #fff;
	content: '\f456';
	left: 251px;
	top: 6px;
	text-indent: 0;
}

/* =Site Style
-------------------------------------------------------------- */

#showcase {
	background-color: #d54e21;
	border-bottom: 1px solid #c43d10;
}

a:hover img,
#main a:hover img {
	border: #8C3200 solid 1px;
}

div.standard {
	border: #990000 solid 2px;
	background: #EBF5FA;
}

div.free-page div.standard {
	border: #990000 solid 2px;
}

/* =Buttons
-------------------------------------------------------------- */

#nav li a {
	text-shadow: 0 -1px 0 rgba(162,0,116,0.8);
}

#nav li.current a,
#nav li a:hover,
.button:hover {
	color:rgba(255,235,235,0.9);
	text-shadow: 0 -1px 0 rgb(162,0,116);

	border: 1px solid #641d22;

	background-image: -moz-linear-gradient(top, #aa0000 0%, #880000 100%);
	background-image: -webkit-linear-gradient(top, #aa0000 0%,#880000 100%);
	background-image: -o-linear-gradient(top, #aa0000 0%,#880000 100%);
	background-image: -ms-linear-gradient(top, #aa0000 0%,#880000 100%);
	background-image: linear-gradient(top, #aa0000 0%,#880000 100%);

	-moz-box-shadow: inset 0 1px 0 #aa0000, inset 0 2px 0 rgba(230,120,120,0.7);
	-webkit-box-shadow: inset 0 1px 0 #aa0000, inset 0 2px 0 rgba(230,120,120,0.7);
	-o-box-shadow: inset 0 1px 0 #aa0000, inset 0 2px 0 rgba(230,120,120,0.7);
	-ms-box-shadow: inset 0 1px 0 #aa0000, inset 0 2px 0 rgba(230,120,120,0.7);
	box-shadow: inset 0 1px 0 #aa0000, inset 0 2px 0 rgba(230,120,120,0.7);
}

.button {
	text-shadow: 0 -1px 2 rgba(162,0,116,1);
	border: 1px solid #641d22;

	background-color: #990000;
	background-image: -moz-linear-gradient(top, #990000 0%, #880000 100%);
	background-image: -webkit-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: -ms-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: -o-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: linear-gradient(top, #990000 0%,#880000 100%);

	-moz-box-shadow: inset 0 1px 0 #990000, inset 0 2px 0 rgba(230,120,120,0.5);
	-webkit-box-shadow: inset 0 1px 0 #990000, inset 0 2px 0 rgba(230,120,120,0.5);
	-o-box-shadow: inset 0 1px 0 #990000, inset 0 2px 0 rgba(230,120,120,0.5);
	-ms-box-shadow: inset 0 1px 0 #990000, inset 0 2px 0 rgba(230,120,120,0.5);
	box-shadow: inset 0 1px 0 #990000, inset 0 2px 0 rgba(230,120,120,0.5);
}

#nav li.current a,
#nav li a:active,
.button:active {

	background-image: -moz-linear-gradient(top, #990000 0%, #880000 100%);
	background-image: -webkit-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: -o-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: -ms-linear-gradient(top, #990000 0%,#880000 100%);
	background-image: linear-gradient(top, #990000 0%,#880000 100%);

	-moz-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 #990000;
	-webkit-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 #990000;
	-o-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 #990000;
	-ms-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 #990000;
	box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 #990000;
}

#nav li a:hover,
.dark-context .button:hover {
	-moz-box-shadow: inset 0 1px 0 rgba(230,120,120,0.7);
	-webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.7);
	-o-box-shadow: inset 0 1px 0 rgba(230,120,120,0.7);
	-ms-box-shadow: inset 0 1px 0 rgba(230,120,120,0.7);
	box-shadow: inset 0 1px 0 rgba(230,120,120,0.7);
}

.dark-context .button {
	-moz-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
	-o-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
	-ms-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
	box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
}

.dark-context .button:active {
	-moz-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 rgba(230,120,120,0.5);
	-webkit-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 rgba(230,120,120,0.5);
	-o-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 rgba(230,120,120,0.5);
	-ms-box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 rgba(230,120,120,0.5);
	box-shadow: inset 0 1px 5px #8C3200, inset 0 -1px 0 rgba(230,120,120,0.5);
}

/* =Navigation
-------------------------------------------------------------- */

#nav li a:hover {
	color: #ffeeee;
}

#subnav-inner ul li a:hover {
	color: #d84800;
}

/* =Links
-------------------------------------------------------------- */

a {
	color: #D54E21;
}
a:hover {
	color: #FF3019;
}

/* =Text
-------------------------------------------------------------- */

blockquote {
	background-color: #eee;
}
div.action a {
	color: #990000;
}

/* =Input
-------------------------------------------------------------- */

input.submit {
	background: #3399cc;
	color: #fff;
}
input.submit:hover {
	background: #990000;
}

#bbpress-forums li.bbp-body ul:hover {
	background-color: #fee;
}

/* =HiDPI Overrides
-------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	#header h1 a {
		background-image: url('../buddypress-org/images/buddypress-logo-2x.png');
		background-size: 269px 65px;
	}
}
