.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley,
img.emoji {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;

	/* Set some default sizing */
	height: 1em;
	width: 1em;
}

img.emoji {
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
