@import "../../variables-site/variables-site";

.site-main {
	margin: 0 auto;
	max-width: $size__site-main;
	padding: ms(10) ms(4);

	@media screen and ( min-width: $ms-breakpoint ) {
		padding: ms(10) 10px;
	}

	.single & {
		padding: 0;

		@media screen and ( min-width: $ms-breakpoint ) {
			padding: 0 10px ms(10);
		}
	}

	.page & {
		padding-top: 0;
	}

	.page-title {
		@include font-size( ms-unitless( ms(4) ) );
		font-weight: 400;
	}

	.no-results {
		margin: 0 auto;
		max-width: ms(32);
		padding: 0 32px;
		padding: 0 2rem;
	}
}