@import "../../variables-site/variables-site";

.site-main {
	margin: 0 auto;
	max-width: $size__site-main;
	padding: ms(10) ms(4);

	@media screen and ( min-width: 48em ) {
		padding: ms(10) 10px;
	}

	.single & {
		padding-top: ms(4);
	}

	.page & {
		padding-top: 0;
	}

	.page-title {
		@extend h3;
	}
}