@import "../../variables-site/variables-site";

.page {
	.type-page {
		margin: 0 auto;
		max-width: ms(32);
		padding: 0 2rem;
	}

	h1 {
		@include font-size( ms-unitless( ms(4) ) );
		font-weight: 400;
	}

	h2 {
		@include font-size( ms-unitless( ms(0) ) );
		font-weight: 600;
		letter-spacing: 0.01rem;
		text-transform: uppercase;
	}

	hr {
		margin-left: -6.5rem;
		margin-right: -6.5rem;
	}
}