@import "../../variables-site/variables-site";

.single .type-plugin {
	@extend .clear;
	.plugin-notice {
		margin-top: 0;
	}

	.plugin-banner {
		background-position: 50% 50%;
		background-size: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
		margin: 0 auto ms(1);
		padding-top: 32.38342%; /* 250px / 722px */
		vertical-align: middle;
		width: 100%;
	}

	.plugin-banner + .plugin-header {
		padding-top: 0;
	}

	.plugin-header {
		@extend .clear;
		border-bottom: 2px solid #eee;
		padding-bottom: ms(1);

		.plugin-thumbnail {
			display: none;
			float: left;
			height: 96px;
			margin-right: 1rem;
			width: 96px;

			@media screen and ( min-width: 26em ) {
				display: block;
			}

			.plugin-icon {
				background-size: contain !important;
				height: 96px !important;
				width: 96px !important;
			}

		}

		.plugin-download {
			float: right;
		}

		.plugin-title {
			clear: none;
			@include font-size( ms-unitless( ms(4) ) );
			font-weight: 400;
			margin: 0;
		}

		.byline {
			color: #78848f;
		}
	}

	.entry-content {
		max-width: 768px;
		max-width: 48rem;

		@media screen and ( min-width: $ms-breakpoint ) {
			float: left;
			padding: 0;
			width: 65%;
		}

		.read-more {
			border-bottom: 2px solid #eee;
			max-height: 200px;
			overflow: hidden;
			padding-bottom: 1px;

			&#reviews {
				max-height: none;
				overflow: auto;
			}

			h1, h2, h3 {
				@include font-size( ms-unitless( ms(0) ) );
				font-weight: 600;
				letter-spacing: 0.01rem;
				text-transform: uppercase;

				&:nth-child(2) {
					margin-top: 0;
				}
			}

			h4, h5, h6 {
				@include font-size( ms-unitless( ms(-2) ) );
				font-weight: 600;
				letter-spacing: 0.05rem;
				text-transform: uppercase;

				&:nth-child(2) {
					margin-top: 0;
				}
			}

			h2:first-of-type {
				@include font-size( ms-unitless( ms(2) ) );

				// Override wp4.css.
				border: none;
				color: $color__text-main;
				font-weight: 600;
				padding: 0;
				text-transform: inherit;
			}

			p:first-child {
				margin-top: 0;
			}

			&.toggled {
				max-height: none;
			}
		}

		.section-toggle {
			@extend a;
			@include font-size( ms-unitless( ms(-2) ) );
			margin-top: 0.5rem;
			position: relative;

			&:after {
				content: "\f347";
				font-family: dashicons;
				padding-left: 5px;
				vertical-align: text-top;
			}
		}

		.toggled + .section-toggle:after {
			content: "\f343";
		}

		.reviews-link {
			display: inline-block;
			@include font-size( ms-unitless( ms(-2) ) );
			margin-top: 0.5rem;

			&:after {
				content: "\f345";
				font-family: dashicons;
				padding-left: 5px;
				vertical-align: text-top;
			}
		}

		.plugin-screenshots {
			list-style-type: none;
			margin: 0;
			padding: 0;

			figcaption {
				font-style: italic;
			}
		}

		.plugin-reviews {
			list-style-type: none;
			margin: 0;
			padding: 0;

			.plugin-review + .plugin-review {
				margin: 32px 0 16px;
				margin: 2rem 0 1rem;
			}

			.review-avatar {
				display: none;
			}

			.review,
			.wporg-ratings,
			.review-author {
				display: inline-block;
				vertical-align: top;
			}

			.review-header {
				margin: 0 0 8px;
				margin: 0 0 0.5rem;
			}

			.review-title {
				@include font-size( ms-unitless( ms(0) ) );
				font-weight: 600;
				letter-spacing: 0.01rem;
				margin: 0 0 8px;
				margin: 0 0 0.5rem;
				text-transform: inherit;
			}

			.review-author {
				line-height: 1.25;
				margin-left: 10px;
			}

			@media screen and ( min-width: $ms-breakpoint ) {
				.review-avatar {
					display: inline-block;
					vertical-align: top;

					.avatar {
						margin-right: 16px;
						margin-right: 1rem;
					}
				}

				.review {
					width: calc(100% - 60px - 1rem);
				}

				.review-header {
					margin: 0;
				}

				.review-author {
					line-height: 1;
				}
			}
		}

		.plugin-developers {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 4% 1rem 0;
				vertical-align: top;
				width: 48%;

				&:nth-of-type( even ) {
					margin-right: 0;
				}
			}
		}

		.avatar {
			border-radius: 50%;
			margin-right: 10px;
			vertical-align: middle;
		}
	}

	@media screen and ( min-width: $ms-breakpoint ) {
		.entry-meta {
			float: right;
			width: 30%;
		}
	}
}