@import "../../variables-site/variables-site";

.single .type-plugin {
	@extend .clear;
	.plugin-notice {
		margin-top: 0;
	}

	.plugin-banner {
		background-position: 50% 50%;
		background-size: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
		margin: 0 auto ms(1);
		padding-top: 32.38342%; /* 250px / 722px */
		vertical-align: middle;
		width: 100%;
	}

	.plugin-banner + .plugin-header {
		padding-top: 0;
	}

	.plugin-header {
		@extend .clear;
		border-bottom: 2px solid #eee;
		padding-bottom: ms(1);

		.plugin-thumbnail {
			display: none;
			float: left;
			height: 96px;
			margin-right: 1rem;
			width: 96px;

			@media screen and ( min-width: 26em ) {
				display: block;
			}

			.plugin-icon {
				background-size: contain !important;
				height: 96px !important;
				width: 96px !important;
			}

		}

		.plugin-download {
			float: right;
		}

		.plugin-title {
			clear: none;
			@include font-size( ms-unitless( ms(4) ) );
			font-weight: 400;
			margin: 0;
		}

		.byline {
			color: #78848f;
		}
	}

	.entry-content {
		max-width: 768px;
		max-width: 48rem;

		@media screen and ( min-width: $ms-breakpoint ) {
			float: left;
			padding: 0;
			width: 65%;
		}

		.read-more {
			border-bottom: 2px solid #eee;
			max-height: 200px;
			overflow:hidden;
			padding-bottom: 1px;

			h1, h2, h3 {
				@include font-size( ms-unitless( ms(0) ) );
				font-weight: 600;
				letter-spacing: 0.01rem;
				text-transform: uppercase;

				&:first-of-type {
					margin-top: 0;
				}
			}

			h4, h5, h6 {
				@include font-size( ms-unitless( ms(-2) ) );
				font-weight: 600;
				letter-spacing: 0.05rem;
				text-transform: uppercase;

				&:first-of-type {
					margin-top: 0;
				}
			}

			p:first-child {
				margin-top: 0;
			}

			&.toggled {
				max-height: none;
			}
		}

		.section-toggle {
			@extend a;
			@include font-size( ms-unitless( ms(-2) ) );
			margin-top: 0.5rem;
			position: relative;

			&:after {
				content: "\f347";
				font-family: dashicons;
				padding-left: 5px;
				vertical-align: text-top;
			}
		}

		.toggled + .section-toggle:after {
			content: "\f343";
		}

		.plugin-screenshots {
			list-style-type: none;
			margin: 0;
			padding: 0;

			figcaption {
				font-style: italic;
			}
		}

		.plugin-developers {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 4% 1rem 0;
				vertical-align: top;
				width: 48%;

				&:nth-of-type( even ) {
					margin-right: 0;
				}
			}

			.avatar {
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}

	.entry-meta {
		padding: 0 ms(4);

		@media screen and ( min-width: $ms-breakpoint ) {
			float: right;
			padding: 0;
			width: 30%;
		}
	}
}