@import "../../variables-site/variables-site";

.single .type-plugin {
	@extend .clear;

	.plugin-banner {
		background-size: 100%;
		background-position: 50% 50%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
		margin: 0 auto ms(1);
		padding-top: 32.7%;
		vertical-align: middle;
		width: 100%;
	}

	.plugin-banner + .plugin-header {
		padding-top: 0;
	}

	.plugin-header {
		@extend .clear;
		border-bottom: 2px solid #eee;
		padding: ms(4) ms(4) ms(1);

		@media ( min-width: 67rem ) {
			padding: 0 0 ms(1) 0;
		}

		.plugin-thumbnail {
			float: left;
			display: none;
			height: 96px;
			margin-right: 1rem;
			width: 96px;

			@media ( min-width: 26rem ) {
				display: block;
			}

			.plugin-icon {
				background-size: contain !important;
				height: 96px !important;
				width: 96px !important;
			}

		}

		.plugin-download {
			float: right;
		}

		.plugin-title {
			clear: none;
			@extend h3;
			margin: 0;
		}

		.byline {
			color: #78848f;
		}
	}

	.entry-content {
		max-width: 800px;
		max-width: 50rem;
		padding: 0 ms(4);

		@media ( min-width: 67rem ) {
			float: left;
			padding: 0;
			width: 65%;
		}

		.read-more {
			border-bottom: 2px solid #eee;
			max-height: 200px;
			overflow:hidden;
			padding-bottom: 1px;

			p:first-child {
				margin-top: 0;
			}

			&.toggled {
				max-height: none;
			}
		}

		.section-toggle {
			@extend a;
			font-size: ms(-2);
			margin-top: 0.5rem;
			position: relative;

			&:after {
				content: "\f347";
				font-family: dashicons;
				padding-left: 5px;
				vertical-align: text-top;
			}
		}

		.toggled + .section-toggle:after {
			content: "\f343";
		}

		.plugin-developers {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 4% 1rem 0;
				vertical-align: top;
				width: 48%;

				&:nth-of-type( even ) {
					margin-right: 0;
				}
			}

			.avatar {
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}

	.entry-meta {
		padding: 0 ms(4);

		@media ( min-width: 67rem ) {
			float: right;
			padding: 0;
			width: 30%;
		}
	}
}