.plugin-card {
	margin-bottom: 4%;

	@media screen and ( min-width: $ms-breakpoint ) {
		display: inline-block;
		margin-right: 4%;
		width: 48%;

		&:nth-of-type( even ) {
			margin-right: 0;
		}
	}

	.entry-thumbnail {
		display: none;
		max-width: 128px;
	}

	.entry {
		display: inline-block;
		margin: auto;
		vertical-align: top;
	}

	@media screen and ( min-width: 21em ) {
		.entry-thumbnail {
			display: inline-block;
			margin: 0 4% 0 0;
			vertical-align: top;
		}

		.entry {
			 width: calc(96% - 128px);
		 }
	}

	.entry-title {
		@include font-size( ms-unitless( ms(0) ) );
		line-height: 1.3;
		margin: 0 0 8px;

		a {
			font-weight: 400;
		}
	}

	.plugin-rating {
		line-height: 1;
		margin: 0 10px 8px 0;

		.wporg-ratings {
			display: inline-block;
			margin-right: 5px;
		}

		[class*='dashicons-star-'] {
			color: #ffb900;
		}

		.rating-count {
			color: #999;
			@include font-size( ms-unitless( ms(-2) ) );
			top: -1px;
		}
	}

	.entry-excerpt {
		@include font-size( ms-unitless( ms(-2) ) );

		p {
			margin: 0 0 8px;
		}
	}
}

// Flip the half star for rating.
.rtl .dashicons-star-half {
	transform: rotateY(180deg);
}
