@import "../variables-site/variables-site";

p {
	margin: 1em 0;

	&.subheading {
		color: #82878c;
		font-size: ms( 2 );
		font-weight: 300;
		margin: -0.4rem auto 2rem;
		text-align: center;
	}

	&.intro {
		font-size: ms( 2 );
	}

	&.aside {
		font-size: ms( -2 );
	}

	&.note {
		font-size: ms( -4 );
		letter-spacing: 0.01rem;
		max-width: ms(26);
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	font-size: 0.9375rem;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}