@import "../variables-site/variables-site";

html {
	font-size: 100%;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 100%;
	line-height: $font__line-height-body;
}

@media screen and ( min-width: $ms-breakpoint ) {
	html {
		font-size: 1.125rem;
	}
}

@import "headings";
@import "copy";