/* WordPress overrides for Trac styles
 *
 * Most colors are to get rid of shades of yellow
 * Most font sizes are to compensate for sans-serif vs. Verdana
 ----------------------------------------------- */

/* =WP.org global header & footer */
#main, #content {
	/* a second #content is sometimes printed outside of #main, like when doing blame */
	font-size: 14px;
}

#content {
	width: 940px; /* The width of the content area is smaller for proper padding. */
}

#main {
	clear: both;
}
#main h3, #main dl, #main p {
	margin-top: 1em;
	margin-bottom: 1em;
}
ul, ol {
	padding-left: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
}
fieldset {
	background: #fafafa;
	padding: 1em;
	border: 1px solid #d7d7d7;
}

/* Fixing display of the header */
#wporg-header :link, #wporg-header :visited,
#wporg-header :link:hover, #wporg-header :visited:hover,
#headline :link, #headline :visited,
#headline :link:hover, #headline :visited:hover,
#headline h2 {
	border: 0;
}
#headline h2 {
	background: none;
}
#wporg-header ul :link, #wporg-header ul :visited,
#wporg-header ul :link:hover, #wporg-header ul :visited:hover,
#headline :link:hover, #headline :visited:hover {
	background: 0;
}
#headline .menu {
	list-style: none;
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding: 22px 0 10px;

	margin: 0 15px 0 0;
}
#headline .menu li {
	display: inline;
	padding-left: 20px;
}

/* Centers the footer. Trac is missing the final column (social links). */
#wporg-footer .wrapper {
	max-width: 773px;
}

/* More specific overrides of wp4.css */
.change h3 a,
h3.change a {
	font-weight: normal; /* overrides wp4 */
	color: inherit;
}
#main #altlinks h3,
#main #altlinks ul {
	margin: 0 auto;
	width: 100%;
}
#main #altlinks ul {
	padding-left: 0;
}
#content.error {
	background: none;
	border: 0;
}

/* We like the WP button styles, but they need to be a bit smaller sometimes */
.inlinebuttons input {
	margin:  0 .2em .2em; /* Trac is 0 .1em .1em  */
}
#prefs .buttons input[type=button],
#prefs .buttons input[type=submit],
.inlinebuttons input[type=button],
.inlinebuttons input[type=submit] {
	font-size: 10px;
	line-height: 20px;
	height: 21px;
}
#prefs input {
	margin: .1em;
}
#prefs fieldset label {
	margin: .1em 0;
}

/* Trying to position Trac's navigation/header */
#ctxtnav {
	padding-top: 0;
}
#ctxtnav ul {
	margin: 0 0 .3em;
}
#content.ticket .trac-topnav {
	display: none;
}
#pagepath {
	float: none;
	padding: 0;
}
#banner {
	position: relative;
}
#metanav {
	position: absolute;
	top: -24px;
	right: 6px;
}
#headline.no-menu ~ #banner #metanav {
	top: -40px;
}
#metanav .first a[href$="/login"] {
	font-weight: bold;
}
#metanav.nav ul {
	font-size: 12px;
}
#metanav.nav li {
	border-right: 0;
}
#metanav.nav li.last {
	padding-right: 0;
}
form#search {
	float: right;
	margin-top: .5em;
}
form#search input {
	font-size: 13px;
}

/* Everything should be 940px width, except for reports (too much tabular data for 940px) */
#banner, #mainnav, #ctxtnav, #pagepath, #content, #footer, #altlinks, #main > h1 {
	max-width: 940px;
	margin: 0 auto;
}
#banner, #ctxtnav {
	max-width: 928px;
	padding: 0 6px;
}
#content.report {
	max-width: 98%;
	width: auto;
}
#content.report div.reports ~ #help,
#content.report div.reports,
#content.report > h1,
#content.report > form,
#content.report #description,
#content.report > .buttons,
#content.report > .paging,
#content.report > #report-notfound,
#content.report > #report-notfound + #help {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}
#content.report form#prefs {
	float: none;
	border: 0;
	background: none;
}
/* When blame displays a changeset inline, override the inline style set by blame.js */
#main ~ .message[style] {
	width: auto !important;
}

/* =admin.css */
#content.admin #tabs {
	background: #f9f9f9;
	border-color: #ccc;
}
#content.admin #tabs li {
	color: #666;
}
#content.admin #tabs li li.active {
	background: #eaf2fa;
	border: none;
}
#tabs {
	border-radius: 3px;
	box-shadow: none;
}
#tabs li li.active {
	border-radius: 0;
	box-shadow: none;
}
.plugin {
	border-radius: 3px;
}
.plugin .foldable > :link, .plugin .foldable > :visited {
	border-radius: 3px;
}
/* =browser.css */
#content.browser h1 .first:link, h1 .first:visited {
	color: #999
}
#content.browser div.message {
	background: #f7f7f7;
}

/* =code.css */
table.code th {
	border-bottom: 1px solid #d7d7d7;
}
table.code tbody th {
	background: #eaf2fa;
	color: #888;
}
table.code tbody th :link, table.code tbody th :visited {
	color: #888;
}
div.code {
	border-radius: 3px;
}

/* =diff.css */
.diff h2 {
	line-height: 1;
}
.diff table.trac-diff th {
	border-bottom: 1px solid #d7d7d7;
}
.diff table.trac-diff thead th {
	background: #eaf2fa;
}
.diff table.trac-diff tbody th {
	background: #eaf2fa;
	color: #888;
}
.diff table.trac-diff tbody.skipped td, .diff table.trac-diff thead td {
	border: none; /* reset the borders */
	border-bottom: 1px solid #d7d7d7;
}

/* =prefs.css */
#content.prefs #tabs li {
	border-color: #ccc; /* get rid of the outset look */
	line-height: 1.2;
}
#content.prefs #tabcontent {
	background: none; /* get rid of the little strip of gradient */
}

/* =report.css */
#content.report .tickets tbody tr:hover {
	background: #eee;
}
.report div.reports h2 {
	box-shadow: none;
}
h2.report-result {
	box-shadow: none;
}
/* =roadmap.css */
table.progress td.closed {
    background-color: #83B4D8;
    background-image: linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
    background-image: -o-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(144,197,238) 100%);
}
table.progress {
	box-shadow: none;
}
.milestone .info h2 {
	box-shadow: none;
}
.trac-groupprogress table.progress {
	box-shadow: none;
}
/* =ticket.css */
#content.ticket {
	max-width: 58em; /* don't let it get bigger than it was */
	width: auto; /* but allow for flexibility */
}
#ticket {
	background: #f9f9f9;
	border: 1px solid #ccc;
}
#content.ticket .ticketdraft, #content.ticket #changelog {
	border: 1px solid #ccc;
}
#ticket > h2 {
	font-size: 16px;
}
#ticket .date {
	color: #888;
}
#ticket table.properties a:hover {
	background: #ddd;
}
#ticket table.properties th.missing {
	color: #aaa;
}
#ticket table.properties, #ticket table.properties .description {
	border-top: 1px solid #ddd;
}
#ticket table.properties :link, #ticket table.properties :visited {
	color: #000;
}
#ticket table.properties td, #ticket table.properties th {
	line-height: 1.4;
	font-size: 13px;
}
#ticket table.properties th {
	color: #666;
}
#ticket .description h3 {
	border-bottom: 1px solid #ddd;
	color: #666;
}
#ticket img,
.comment img {
	max-width: 100%;
	height: auto;
}
#trac-comment-editor textarea {
	background: #fcfcfc;
}
#changelog h3, #ticketchange h3 {
	line-height: 1.1;
}
#properties .fullrow input {
	width: 97.5%;
}
#properties .col1 input {
	width: 87.5%;
}
#properties .col2 input {
	width: 92.5%;
}
#properties table th.col2 {
	border: none;
}
#properties table td {
	vertical-align: top; /* align everything */
	padding: .3em; /* breathing room */
}
#properties .col2 #field-cc[type="checkbox"] {
	width: 2em; /* fix the cc checkbox */
}
#action div {
	padding: .2em 0; /* breathing room */
}
#ticket {
	border-radius: 3px;
}
.ticketdraft {
	border-radius: 3px;
}
ul.children > li.child {
	border-radius: 3px;
}
#changelog h3, #ticketchange h3 {
	box-shadow: none;
}
#comment {
	padding: 0.75%;
	width: 98.5%;
	font-size: 13px;
}
/* =timeline.css */
#content.timeline {
	width: 100%;
}
#content.timeline dl {
	margin-left: 1em;
}
#content.timeline dl.unread {
	margin-left: 0.38em;
}
#content.timeline dt :link:hover, dt :visited:hover {
	background-color: #eee;
}
#content.timeline dt.highlight {
	background-color: #ffc;
}
dt.closedticket em {
	text-decoration: line-through;
}
dl.unread {
	border-left-color: #d54e21;
}
#content.timeline dd {
	color: #777;
	margin: 0 0 1.5em 5em;
}
#content.timeline :link, #content.timeline :visited {
	color: #000;
}
h2 {
	box-shadow: none;
}
#content.timeline h2 {
	padding: 3px 5px;
	font-size: 105%;
}
/* =trac.css */
#main, #main th, #main tr, #main h1, #main h2, #main h3, #main h4 {
	font-family: "Open Sans", sans-serif;
}

body {
	min-width: 48.5em; /* don't let it get ugly unless responsive */
}
body, th, tr {
	line-height: 1.4; /* I don't know how you people read without this */
}
hr {
	border-top: 1px solid #ccc;
}
h1, h2, h3, h4 {
	letter-spacing: normal;
}
input[type=text]:focus, input.textwidget:focus, textarea:focus {
	border: 1px solid #888;
}
legend {
	color: #666;
}
blockquote.citation {
	margin: -0.3em 0;
	padding: 0 0 0 0.75em;
	background: none;
}
.nav ul {
	padding: 0;
}
#metanav {
	padding-bottom: 3px;
}
#metanav :link, #metanav :visited {
	border: 0;
}
#mainnav {
	font: normal 10px "Open Sans",sans-serif;
	background: none;
	border: 0;
	border-radius: 0;
	line-height: 1;
	margin-top: 8px;
	padding: 0;
/*	width: 100%; /* for IE, surprise */
}
#mainnav .first, #mainnav .first :link,
#mainnav .last, #mainnav .last :link {
	border-radius: 0;
}
#mainnav ul {
	margin-left: 5px;
	float: left;
	font-size: 11px;
}
#mainnav li {
	float: left; /* allow items to wrap around at narrow widths */
	padding: 0 1px 0 0;
	border: 0;
	background: 0;
}
#mainnav * {
	border: 0 !important;
}
#mainnav :link, #mainnav :visited {
	background: none;
	border: 0;
	color: #000;
	display: block;
	padding: 6px 19px;
}
#mainnav :link:hover, #mainnav :visited:hover {
	background: #ddd;
	border-right: none;
	color: #000;
}
#mainnav .active :link, #mainnav .active :visited {
	background: #21759b; /* active nav menu background */
	border-right: none;
	color: #f9f9f9;
	text-shadow: none;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
	border-right: none;
}
#altlinks {
	padding-bottom: 10px;
}
#footer {
	padding: .5em 0; /* more breathing room */
}
#prefs {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: none;
	font-size: 10px;
}
#info {
	background: #f9f9f9;
}
#info th, #info td {
	font-size: 100%;
}
a.missing:link, a.missing:visited, a.missing, span.missing, a.forbidden, span.forbidden {
	color: #999;
}
pre.wiki, pre.literal-block {
	background: #ffe; /* light yellow for code blocks */
	font-size: 12px; /* keep font size visually comparable */
	line-height: 1.3; /* doesn't need as much line-height */
}
#attachments div.attachments form {
	margin-top: 1em;
}
#attachments > div.attachments {
	border: 1px solid #ccc;
	padding-right: 1em;
}
#attachments dd {
	margin-left: 10px
}
table.listing tr {
	line-height: 1.4; /* less information, more compact */
}
table.listing thead {
	background: #f9f9f9;
}
table.listing thead th {
	background: #eaf2fa;
	border-bottom-color: #ccc;
}
table.listing tbody tr:hover {
	background: #eee !important; /* important to override the other important */
}
.suggestions {
	border: 1px solid #888;
}
span:target {
	box-shadow: none;
}
input[type=button], input[type=submit], input[type=reset] {
	border-radius: 3px;
	text-shadow: none;
	box-shadow: none;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	box-shadow: none;
	text-shadow: none;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	position: static;
	top: auto;
	left: auto;
}
input[type=text], input.textwidget, textarea {
	border-radius: 3px;
}
fieldset {
	border-radius: 3px;
	box-shadow: none;
}
.inlinebuttons input {
	border-radius: 3px;
}
.inlinebuttons input[type=button]:hover,
.inlinebuttons input[type=submit]:hover {
	box-shadow: none;
	text-shadow: none;
}
#mainnav {
	box-shadow: none;
}
#mainnav :link, #mainnav :visited {
	box-shadow: none;
}
#mainnav :link:hover, #mainnav :visited:hover {
	box-shadow: none;
}
div.trac-content {
	border-radius: 3px;
}
.foldable :link, .foldable :visited {
	border-radius: 3px;
}
#prefs {
	border-radius: 3px;
}
#prefs fieldset {
	box-shadow: none;
}
pre.wiki, pre.literal-block {
	box-shadow: none;
}
tt {
	border-radius: 3px;
}
table.wiki {
	box-shadow: none;
}
table.listing {
	box-shadow: none;
}
span.system-message,
div.system-message {
	border-radius: 3px;
	box-shadow: none;
}
#notice.system-message,
#notice.system-message,
#warning.system-message,
.warning.system-message {
	max-width: 946px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #333;
}
div.system-message .trac-close-msg {
	border-radius: 3px;
}
div.system-message .trac-close-msg:hover {
	box-shadow: none;
}
div.trac-content {
	box-shadow: none;
}
.foldable :link, .foldable :visited {
	box-shadow: none;
}
/* =wiki.css */
#content.wiki #pagepath .first:link, #content.wiki #pagepath .first:visited {
	color: #999;
}
#content.wiki .wiki-toc {
	border: 1px solid #d7d7d7;
	background: #f9f9f9;
}
#content.wiki .wiki-toc li {
	padding: .05em .4em; /* give individual TOC items more breathing room */
}
#content.wiki .wiki-toc .active {
	background: #eaf2fa; /* current TOC item */
}
.wikipage h2 {
	box-shadow: none;
}

/* Gravatars and Comments */
span.avatar img {
	float: left;
	margin: 0 8px 0 -4px;
}
#changelog span:target {
	background-clip: content-box;
	padding-top: 24px;
}
#changelog h3.change img,
#ticketchange h3.change img {
	margin: 0 .8em 0 -2px;
	border: 0; /* override for bb's */
}
img.avatar {
	float: left;
	margin: 0 6px 0 -42px;
}
#changelog h3.change,
#ticketchange h3.change {
	margin: 0.75em 0 0.5em;
	min-height: 40px;
	border-bottom: none;
}
#changelog h3.change:after,
#ticketchange h3.change:after {
	content: "";
	display: table;
	clear: both;
}
#changelog h3.change span.avatar,
#ticketchange h3.change span.avatar {
	float: left;
	line-height: 36px;
}
h3 .trac-ticket-buttons:before {
	content: ".";
	font-size: 0;
}
h3 .trac-ticket-buttons {
	padding-top: 3px;
}
div.change > .trac-ticket-buttons {
	display: none;
}
div.change ul.changes {
	margin-top: 10px;
	margin-bottom: 20px;
}
h3.change .profile-link {
	border-bottom: none;
	text-decoration: none; /* override for bb's */
}
#changelog h3.change .username,
#ticketchange h3.change .username {
	color: #333;
	font-size: 15px;
}
#changelog div.change {
	border-bottom: 1px solid #d7d7d7;
	padding: 5px 0;
}
#changelog div.change:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
#changelog .comment,
#ticketchange .comment {
	margin-left: 0;
}
#changelog .trac-lastedit {
	margin: 0.8em 0;
	padding-left: 0;
}

/* Give the various warnings some formatting */
.wp-notice,
.wp-caution {
	padding: 0 1.2em;
	margin: 1em 0;
}
.wp-notice {
	background: #eff6f9;
	border: 2px solid #21759b;
}
.wp-caution {
	border: 2px solid #999;
	background: #ffb;
}
.wp-notice li,
.wp-caution li {
	margin-bottom: 0.5em;
}
/* Warnings when creating a new ticket */
.newticket-not-here {
	padding: 6px 1.2em;
	overflow: auto;
}
.newticket-not-here .dashicons {
	font-size: 40px;
	height: 40px;
	width: 40px;
	float: left;
	padding-right: 13px;
}
#main .newticket-not-here .security {
	margin-top: 1.5em;
}
#main .newticket-not-here .support {
	float: left;
	margin-top: .5em;
	min-width: 36%;
}
body.plugins #main .newticket-not-here .support {
	min-width: 43%;
}
.newticket-instructions {
	margin: 1em 0;
}
.newticket-instructions li {
	padding: 4px 0;
}

#propertyform[action*="/newticket"] #properties legend {
	display: none;
}
#propertyform[action*="/newticket"] fieldset {
	padding: 0;
	border: none;
	background: none;
}
#propertyform[action*="/newticket"] #properties .fullrow input {
	width: 99.4%;
}
#propertyform[action*="/newticket"] #focuses span {
	display: none;
}
#propertyform[action*="/newticket"] #properties table td#focuses {
	padding-left: 0;
}
.set-trunk, .set-trunk:hover {
	border: none;
	background: none;
}
/* Remove nowrap from long titles */
.tickets tbody td.summary,
.reports tbody td.summary {
	white-space: normal;
}
/* Add nowrap to milestone and type */
table.listing tbody td.milestone,
table.listing tbody td.type,
table.listing tbody td.component,
table.listing tbody td.workflow {
	white-space: nowrap;
}
/* right-align number columns */
.tickets tr.trac-columns th a {
	padding-right: 0;
}
table.listing tr.trac-columns .dashicons {
	float: right;
	width: 16px;
	height: 16px;
	font-size: 16px;
}
table.listing tbody td.Comments,
table.listing tbody td.Stars {
	text-align: right;
}
/* Some visual improvements to ticket properties and attachments */
td[headers=h_keywords] a {
	margin-right: 10px;
	white-space: nowrap;
}
dl.attachments dt {
	padding-bottom: 4px;
}
/* Trac UI Preferences Link */
#altlinks .preferences-link {
	float: right;
	font-size: 12px;
	margin-top: 10px;
}

/* Our own image previews */
.trac-image-preview {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 1em 0;
}

/* Hide stray dot next to 'leave as new' */
#action_leave + label + span.hint {
	display: none;
}

/* = Notifications */
.ticket-star {
	font-size: 32px;
	width: 32px;
	margin-right: 8px;
	color: #aaa;
}
.ticket-star:hover {
	cursor: pointer;
}
.ticket-star:hover,
.ticket-star.dashicons-star-filled {
	color: #21759b;
}
#notifications {
	margin-top: 1em;
}
/* Hide "Cc:" from ticket box when there are none */
#h_cc.missing {
	visibility: hidden;
}
#ticket table.properties tr:last-child {
	border-bottom: none;
}
#notifications .dashicons {
	height: 16px;
	width: 16px;
	font-size: 16px;
	vertical-align: text-bottom;
}
#notifications .star-this-ticket a {
	color: #333;
}
#notifications .count-1,
#notifications.count-0 .num-stars,
#notifications.count-0 .star-list,
#notifications.count-1 .count-many {
	display: none;
}
#notifications.count-1 .count-1 {
	display: inline;
}
#notifications .block-notifications,
#notifications .unblock-notifications {
	color: #d31313;
	margin-left: 6px;
	margin-right: 6px;
}
#notifications .num-stars {
	font-size: 12px;
	margin-left: 6px;
}
#notifications .star-list a {
	border-bottom: 0;
}
#notifications .star-you,
#notifications a.watching-ticket,
#notifications p.receiving-notifications,
#notifications p.receiving-notifications-because,
#notifications p.not-receiving-notifications {
	display: none;
}
#notifications.subscribed .star-you {
	display: inline;
}
#notifications.subscribed a.watching-ticket {
	display: inline-block;
}
#notifications.block p.receiving-notifications-because,
#notifications.blocked p.not-receiving-notifications {
	display: block;
}
#notifications.subscribed p.receiving-notifications-because,
#notifications.subscribed p.not-receiving-notifications,
#notifications.subscribed a.watch-this-ticket {
	display: none;
}
#notifications.subscribed p.receiving-notifications {
	display: block;
}
td.Stars {
	white-space: nowrap;
}
td.Stars .dashicons {
	color: #999;
	height: 16px;
	width: 16px;
	font-size: 16px;
}
td.Stars .dashicons:hover,
td.Stars .dashicons-star-filled {
	color: #21759b;
}
td.Stars .loading {
	visibility: hidden;
}
td.Stars .trac-report-star:hover {
	cursor: pointer;
}
#main p.note-new-reporter {
	margin: 2em 0;
	padding: 1em;
	border: 1px solid #ccc;
	text-align: center;
}
p.note-new-reporter span,
p.note-new-reporter img {
	display: inline-block;
}
p.note-new-reporter img {
	margin-right: 25px;
}
p.note-new-reporter .dashicons {
	font-size: 36px;
	width: 36px;
	height: 36px;
	margin-left: 25px;
}
#main p.ticket-reopen-notice {
	margin: 1em 0 2em;
}
p.ticket-reopen-notice .dashicons {
	float: left;
	padding-right: 8px;
}

/* =Link Colors */
a:link,
dt em,
.milestone .info h2 em,
#content.build h2.config :link,
#content.build h2.config :visited,
.report div.reports h3 em {
	color: #21759b;
}

/* =bbPress / BuddyPress */

/* bbPress colors */
body.bbpress .wp-notice {
	background: #eaf9ed;
	border: 2px solid #080;
}
body.bbpress :link,
body.bbpress :visited,
body.bbpress #footer :link,
body.bbpress #footer :visited,
body.bbpress dt em,
body.bbpress .milestone .info h2 em,
body.bbpress #content.build h2.config :link,
body.bbpress #content.build h2.config :visited
body.bbpress dt.wiki:hover:before,
body.bbpress dt.milestone:hover:before,
body.bbpress dt.reopenedticket:hover:before,
body.bbpress dt.closedticket:hover:before,
body.bbpress dt.changeset:hover:before,
body.bbpress dt.editedticket:hover:before,
body.bbpress dt.newticket:hover:before,
body.bbpress dt.batchmodify:hover:before,
body.bbpress dt.attachment:hover:before {
	color: #080; /* link color */
}
body.bbpress #mainnav .active :link,
body.bbpress #mainnav .active :visited {
	background: #080; /* active nav item */
}

/* BuddyPress colors */
body.buddypress .wp-notice {
	background: #fff3ec;
	border: 2px solid #d84800;
}
body.buddypress :link,
body.buddypress :visited,
body.buddypress #footer :link,
body.buddypress #footer :visited,
body.buddypress dt em,
body.buddypress .milestone .info h2 em,
body.buddypress #content.build h2.config :link,
body.buddypress #content.build h2.config :visited,
body.buddypress dt.wiki:hover:before,
body.buddypress dt.milestone:hover:before,
body.buddypress dt.reopenedticket:hover:before,
body.buddypress dt.closedticket:hover:before,
body.buddypress dt.changeset:hover:before,
body.buddypress dt.editedticket:hover:before,
body.buddypress dt.newticket:hover:before,
body.buddypress dt.batchmodify:hover:before,
body.buddypress dt.attachment:hover:before {
	color: #d84800; /* link color */
}
body.buddypress #mainnav .active :link,
body.buddypress #mainnav .active :visited {
	background: #d84800; /* active nav item */
}

/* bbPress/BuddyPress design overrides */
body.bbpress #main,
body.buddypress #main {
	width: auto;
}
body.bbpress h1,
body.buddypress h1 {
	font-size: 19px;
}
body.bbpress #header,
body.buddypress #header {
	position: static;
	top: auto;
}
body.bbpress #subnav,
body.buddypress #subnav {
	margin-top: auto;
}
body.bbpress #footer,
body.buddypress #footer {
	color: #222;
	padding: 24px 0;
	margin: 0 auto 24px;
}
body.bbpress #subnav-inner ul li a,
body.bbpress #footer :link,
body.bbpress #footer :visited,
body.buddypress #subnav-inner ul li a,
body.buddypress #footer :link,
body.buddypress #footer :visited {
	border-bottom: none;
}
body.bbpress #footer :link:hover,
body.bbpress #footer :visited:hover,
body.buddypress #footer :link:hover,
body.buddypress #footer :visited:hover {
	background: none;
}
body.bbpress #subnav,
body.buddypress #subnav {
	line-height: 24px;
}
body.bbpress #mainnav a:hover,
body.buddypress #mainnav a:hover {
	text-decoration: none;
}
body.bbpress #main,
body.buddypress #main {
	padding-top: 6px;
}

/* =Workflow Keywords */
#properties table td {
	vertical-align: top;
}
#keyword-bin {
	padding: 8px 0 0 13px;
	clear: both;
}
#keyword-bin span {
	float: left;
	margin: 0 25px 8px 0;
	font-size: 12px;
}
#keyword-bin span[title] {
	cursor: help;
}
#keyword-bin span a {
	margin: 1px 0 0 -15px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	font-size: 15px;
	display: block;
	float: left;
	text-indent: 0;
	overflow: hidden;
	position: absolute;
	border: 0;
	background: none;
	color: #999;
}
#keyword-bin span a:hover {
	color: #c00;
}
#edit-keywords {
	cursor: pointer;
	font-size: 8px;
	color: #999;
	margin: 6px 6px 0 6px;
}
.has-js #field-keywords {
	width: 92%;
	display: none;
	float: left;
	clear: both;
}
#keyword-label {
	float: left;
	padding: 5px 6px 5px 0;
	text-align: right;
}

/* =Focuses */
body.core #reportfilters {
	display: none;
}
#ticket table.properties th#h_focuses.missing {
	display: none;
}
#properties table td#focuses {
	padding: .6em 0 .3em 60px;
	height: 66px;
}
#focuses span {
	float: left;
}
#focuses ul {
	float: left;
	width: 296px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#focuses li {
	font-size: 12px;
	display: inline-block;
	float: left;
	margin: 0 0 6px 6px;
	border-radius: 3px;
	background: #eee;
	color: #aaa;
}
#focuses a {
	display: inline-block;
	padding: 4px 7px;
	color: inherit;
	border-radius: 3px;
	background: inherit;
	text-decoration: none;
	border-bottom: none;
}
#focuses li:hover,
#focuses a:focus {
	color: #000;
	cursor: pointer;
}
#focuses li.active,
#focuses li.active a:focus {
	background: #666;
	color: #fff;
}

/*
 * Workaround for Trac bug.
 * See ​http://trac.edgewall.org/ticket/10751
 */
.timeline img {
	display: none;
}

/**
 * Dashicons
 */
table.listing th.asc a:after,
table.listing th.desc a:after,
table.dirlist tr span.expander:before,
table.dirlist td.rev a.chgset:before,
table.dirlist td.name a.file:before,
table.dirlist td.name a.dir:before,
a.mail-link:before,
a.ext-link:before,
a.trac-rawlink:before, a.trac-ziplink:before,
span.AtD_proofread_button:before,
.wikitoolbar a:before,
#altlinks li a.rss:before,
dt.wiki:before,
dt.milestone:before,
dt.reopenedticket:before,
dt.closedticket:before,
dt.changeset:before,
dt.editedticket:before,
dt.newticket:before,
dt.batchmodify:before,
dt.attachment:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	line-height: 1;
	font-family: "dashicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	-webkit-transition: color .1s ease-in 0;
	-moz-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	text-align: center;
	color: #777;
}
table.dirlist tr span.expander:hover:before,
table.dirlist td.name a.file:hover:before,
table.dirlist td.name a.dir:hover:before,
dt.wiki:hover:before,
dt.milestone:hover:before,
dt.reopenedticket:hover:before,
dt.closedticket:hover:before,
dt.changeset:hover:before,
dt.editedticket:hover:before,
dt.newticket:hover:before,
dt.batchmodify:hover:before,
dt.attachment:hover:before {
	color: #21759b;
}
dt.attachment:before {
	content: "\f103"; /* dashicons-admin-links */
}
dt.batchmodify:before {
	content: "\f105"; /* dashicons-admin-page */
}
dt.newticket:before {
	content: "\f133"; /* dashicons-welcome-add-page */
}
dt.editedticket:before {
	content: "\f119"; /* dashicons-welcome-write-blog */
}
dt.changeset:before {
	content: "\f111"; /* dashicons-admin-generic */
}
dt.closedticket:before {
	content: "\f147"; /* dashicons-yes */
	font-size: 26px;
	margin-left: -6px;
	padding-right: 6px;
}
dt.reopenedticket:before {
	content: "\f119"; /* dashicons-welcome-write-blog */
}
dt.milestone:before {
	content: "\f469"; /* dashicons-clock */
}
dt.wiki:before {
	content: "\f330"; /* dashicons-book */
}
#content.timeline dt :link, #content.timeline dt :visited {
	padding-left: 0;
}
table.listing th.asc a,
table.listing th.desc a,
table.dirlist tr.expanded span.expander,
table.dirlist tr span.expander,
table.dirlist td.rev a.chgset,
table.dirlist td.name a.file,
table.dirlist td.name a.dir,
a.trac-rawlink, a.trac-ziplink,
dt.wiki, dt.wiki a,
dt.milestone, dt.milestone a,
dt.reopenedticket, dt.reopenedticket a,
dt.closedticket, dt.closedticket a,
dt.changeset, dt.changeset a,
dt.editedticket, dt.editedticket a,
dt.newticket, dt.newticket a,
dt.batchmodify, dt.batchmodify a,
dt.attachment, dt.attachment a {
	background-image: none !important;
}
a.mail-link .icon,
a.ext-link .icon {
	display: none;
}
#altlinks li a.rss {
	background: none;
	padding-left: 0;
}
#altlinks li a.rss:before {
	content: "\f303"; /* dashicons-rss */
	color: #ff6600;
	padding-right: 5px
}
.wikitoolbar {
	border: none;
	width: auto;
	margin-bottom: 10px;
}
span.AtD_proofread_button,
.wikitoolbar :link, .wikitoolbar :visited {
	float: left;
	background: none;
	border: none;
	width: 20px;
	height: 20px;
	padding: 2px 4px;
	cursor: pointer;
}
span.AtD_proofread_button:hover,
.wikitoolbar :link:hover, .wikitoolbar :visited:hover {
	border: none;
	background-color: #eee;
}
table.dirlist td.rev a.chgset:before,
span.AtD_proofread_button:before,
.wikitoolbar a:before {
	color: #666;
}
table.dirlist td.rev a.chgset:hover:before,
span.AtD_proofread_button:hover:before,
.wikitoolbar a:hover:before {
	color: #444;
}
.wikitoolbar a#strong:before {
	content: "\f200"; /* dashicons-editor-bold */
}
.wikitoolbar a#em:before {
	content: "\f201"; /* dashicons-editor-italic */
}
.wikitoolbar a#heading:before {
	content: "\f215"; /* dashicons-editor-textcolor */
	font-weight: 700;
	font-size: 26px;
	margin-left: -3px;
	margin-top: -1px
}
.wikitoolbar a#link:before {
	content: "\f103"; /* dashicons-admin-links */
}
.wikitoolbar a#code:before {
	content: "\f475"; /* dashicons-editor-code */
}
.wikitoolbar a#hr:before {
	content: "\f460"; /* dashicons-minus */
	font-size: 22px;
	margin-left: -1px;
}
.wikitoolbar a#br:before {
	content: "\f474"; /* dashicons-editor-break */
}
.wikitoolbar a#np:before {
	content: "\f476"; /* dashicons-editor-paragraph */
}
.wikitoolbar a#img:before {
	content: "\f128"; /* dashicons-format-image */
}
span.AtD_proofread_button:before {
	content: "\f210"; /* dashicons-editor-spellcheck */
}
#field-description-help,
label[for=comment] {
	line-height: 28px;
}
table.dirlist td.rev a.chgset:before,
a.trac-rawlink:before, a.trac-ziplink:before,
a.ext-link:before,
a.mail-link:before {
	color: #21759b;
}
table.dirlist td.rev a.chgset:hover:before,
a.trac-rawlink:hover:before, a.trac-ziplink:hover:before,
a.ext-link:hover:before,
a.mail-link:hover::before {
	color: #555;
}
#content.timeline a.trac-rawlink:before, #content.timeline a.trac-ziplink:before {
	color: #000; /* Reset color for timeline */
}
a.trac-rawlink, a.trac-ziplink {
	padding-right: 0;
	margin-left: 4px
}
a.trac-rawlink:before, a.trac-ziplink:before,
a.ext-link:before,
a.mail-link:before {
	font-size: 15px;
	height: 15px;
	width: 15px;
	vertical-align: middle;
}
a.trac-rawlink:before, a.trac-ziplink:before {
	content: "\f316"; /* dashicons-download */
	padding: 0 1px
}
a.ext-link:before {
	content: "\f316"; /* dashicons-download */
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-top: -5px;
	padding-right: 3px;
}
.create-new-ticket a.ext-link:before {
	display: none;
}
a.mail-link {
	white-space: nowrap;
}
a.mail-link:before {
	content: "\f466"; /* dashicons-email-alt */
	padding-right: 3px;
}
table.dirlist td.name a.dir {
	padding-left: 0;
}
table.dirlist td.name a.dir:before {
	content: "\f318"; /* dashicons-category */
	margin-right: 2px;
}
table.dirlist td.name a.file:before {
	content: "\f105"; /*  dashicons-admin-page */
	color: #999;
}
table.dirlist td.rev a.chgset {
	padding: 0;
	margin: 0;
}
table.dirlist td.rev a.chgset:before {
	content: "\f111"; /* dashicons-admin-generic */
	font-size: 15px;
	height: 15px;
	width: 15px;
}
table.dirlist tr.expanded span.expander,
table.dirlist tr span.expander {
	padding: 0;
	margin: 0;
}
table.dirlist tr span.expander:before {
	content: "\f139"; /* dashicons-arrow-right */
	width: 15px;
}
table.dirlist tr.expanded span.expander:before {
	content: "\f140"; /* dashicons-arrow-down */
	width: 15px;
}
table.listing th.asc a:after,
table.listing th.desc a:after {
	font-size: 15px;
	height: 15px;
	width: 15px;
}
table.listing th.asc a:after {
	content: "\f142"; /* dashicons-arrow-up */
}
table.listing th.desc a:after {
	content: "\f140"; /* dashicons-arrow-down */
}
/* =Reports page */

/* =Report screens */
.create-new-ticket.button {
    margin: 10px 10px 0;
    float: right;
    clear: right;
    font-size: 15px;
    min-height: 40px;
    padding: 0;
}
.create-new-ticket a {
    line-height: 38px;
    color: #fff !important;
    background: none !important;
    border: none !important;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 12px 2px;
}
.create-new-ticket .ext-link .icon {
    display: none;
}
.create-new-ticket a:active {
    color: rgba(255,255,255,0.95) !important;
}
#content.report #prefs {
	margin: -20px 0 2px 10px;
	padding-right: 4px;
	background: none;
	border: none;
}
#content.report #prefs div {
    display: inline;
}
body.core #ctxtnav a[href="/report"] {
	display: none;
}

/* =Responsive / Mobile
----------------------------------------------- */

@media (max-width: 640px) {
	body {
		min-width: 1em; /* small value to override previous min-width */
		-webkit-text-size-adjust: 100%;
	}
	h1, h2 {
		-webkit-text-size-adjust: 85%; /* make them relatively smaller */
	}
	hr {
		margin: 1em 0; /* less breathing room */
	}
	.nav ul {
		text-align: left; /* move these to the left */
	}
	.nav li, #altlinks li, .milestone .info dl {
		white-space: normal; /* allow them to wrap */
	}
	#metanav ul {
		overflow: auto; /* magical float clearing */
	}
	#metanav li {
		float: left;
	}
	#mainnav :link, #mainnav :visited { /* bigger tap target */
		padding: .5em 20px;
		-webkit-text-size-adjust: 120%;
	}
	#header img {
		max-width: 50%; /* prevent the logo and search from colliding (to a point) */
		height: auto;
	}
	#search {
		margin-bottom: 2em; /* more space below when logo is smaller */
	}
	#content.ticket, .milestone .info .progress, .milestone .info dl, #content.timeline dl, #stats {
		margin-left: 0; /* use all the available space */
	}
	#ticket table.properties img.avatar {
		float: right; /* move it to the right to help prevent collisions */
		margin: 0 .5em 0 0;
	}
	#ticket table.properties th {
		padding: 0.5em .2em .5em 0; /* reduce side padding */
	}
	#ticket table.properties td {
		padding: 0.5em 0 .5em .2em; /* reduce side padding */
	}
	#field-description-help, #content.ticket label[for="comment"] {
		float: none; /* don't let it collide with the editor buttons */
	}
	#keyword-label {
		min-width: 115px !important;
		text-align: left;
	}
	#properties table tr, #properties table th {
		display: block; /* one col, labels on top */
	}
	#properties table th {
		padding: 0;
		text-align: left;
	}
	#properties table th.col2 {
		border-left: none; /* no columns, no divider */
	}
	#properties table td.fullrow { /* Webkit fix for overflowing inputs */
		display: block;
		width: 95%;
	}
	.milestone .info .progress {
		max-width: 85%; /* override former max-width */
	}
	#stats {
		float: none; /* move it over */
		max-width: 100%;
	}
	#content.prefs #tabs {
		margin: 1em 0 0 0;
	}
	#content.prefs #tabs li { /* bigger tap target */
		margin: 1em 1em 0 0;
		padding: .6em 1em;
	}
	#content.admin #tabcontent {
		margin: 0;
		padding: 0;
	}
	#content.admin #tabs, #content.admin #tabcontent form.addnew { /* stop collisions */
		float: none;
		margin: 1em 0;
	}
	#footer p.left {
		display: none;
	}
}
@media (max-width: 360px) {
	#header img {
		margin-bottom: 0; /* push search down */
		max-width: 70%;
	}
	#search {
		margin-bottom: .5em; /* less space below */
	}
	#info th {
		white-space: normal; /* allow to wrap */
	}
	#prefs {
		float: none; /* push everything below pref box */
	}
	#keyword-label {
		display: block;
		float: none;
	}
	.milestone .info .progress {
	    width: 85%;
	}
	#content.timeline dl {
		width: 85%; /* prevent right overflow */
	}
	#content.timeline dd {
		margin-left: 0;
	}
}
