/*
 * Theme Name: WordPress.org Breathe
 * Template: p2-breathe
 * Description: Child theme of P2 Breathe, with modifications specifically for WordPress.org.
 * Supports Oxygen: true
 */

body, button, input, select, textarea,
.site-header .site-title {
	font-family: 'Open Sans', sans-serif;
}

/* wp4.css overrides */
p a {
	border-bottom: none;
}

input[type="submit"] {
	height: auto;
}

/* wporg-header overrides */
#wporg-header input.text {
	padding: 3px;
}
#wporg-header input[type="submit"] {
	box-shadow: none;
}
.site,
.custom-menu .site,
.site-branding {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 10px;
}

.site-header {
	background: #0073aa;
	float: none;
	margin: 0 0 4em;
	padding: 18px 0;
	width: auto;
}

.site-header .site-branding {
	height: 32px;
}

.site-header .site-title {
	line-height: 1;
	margin: 0;
	padding: 0;
}

.site-header .site-title a {
	color: #fff;
	font-size: 28px;
	font-weight: 300;
	line-height: 1;
}

.navigation-main {
	background: transparent;
	display: inline-block;
	float: right;
	position: inherit;
	top: auto;
	left: auto;
	width: auto;
}

.navigation-main ul li {
	display: inline-block;
	float: none;
	margin-right: 21px;
}

.rtl .navigation-main ul li {
	margin-left: 21px;
	margin-right: 0;
}

.navigation-main ul li:last-of-type {
	margin: 0;
}

.navigation-main ul li a {
	padding: 4px 0;
}

.navigation-main ul li:hover > a,
.navigation-main ul li.current-menu-item a {
	background: transparent;
	text-decoration: underline;
}

.navigation-main a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 16.8px;
}

/*
 * p2-breathe/style.css overrides
 */
body {
	line-height: 1.5;
}

body,
.widget,
.o2-app-page-title {
	background-color: transparent;
}

.content-area {
	width: 71%;
}

.o2-app-page-title a {
	color: #3498db;
}
.o2-app-page-title a:visited {
	color: #4ca6cf;
}

.o2-post {
	border-top: 2px solid #ddd;
}
.o2-post .o2-post {
	border-top: 1px solid #ddd;
}

article.post .o2-post,
article#post-new .o2-post,
article.page .o2-post,
.entry-date,
.o2-xpost-author .entry-date,
.o2-xpost-entry-date {
	display: block;
}

.entry-header,
article.post .entry-header,
article#post-new .entry-header,
article.page .entry-header,
.entry-title,
article.post .entry-title,
article#post-new .entry-title,
article.page .entry-title,
.entry-content,
article footer.entry-meta {
	display: block;
	margin-left: 0;
	padding-left: 0;
	clear: both;
}

.entry-meta,
article.post .entry-header .entry-meta,
article#post-new .entry-header .entry-meta,
article.page .entry-header .entry-meta {
	margin-left: 60px;
}

.entry-title,
article.post .entry-title,
article#post-new .entry-title,
article.page .entry-title,
.entry-content,
.post-content,
.o2-xpost-content {
	display: block;
	clear: both;
	padding-top: 15px;
}

.author-avatar,
article.post a.author-avatar,
article#post-new a.author-avatar,
article.page a.author-avatar {
	border: 0;
	box-shadow: none;
}

.author-avatar .avatar,
.o2-comment .avatar,
.tag-p2-xpost .avatar {
	border-radius: 50%;
}

.author-avatar img.avatar:hover {
	border-radius: 0 !important;
}

article.post a.author-avatar img.avatar,
article#post-new a.author-avatar img.avatar,
article.page a.author-avatar img.avatar {
	height: 50px !important;
	width: 50px !important;
}

/*
 * Resolved/unresolved
 */
article.state-resolved,
article.state-unresolved {
	border-top: 0;
}

/*
 * Private post status
 */
article.status-private,
article.status-private .comment.alt {
	background: #fef0f0;
}

.status-private .o2-post {
	position: relative;
}

.status-private .o2-post:after {
	content: "\f530";
	font-family: dashicons;
	position: absolute;
	top: -2px;
	right: 45px;
	color: #FFF;
	font-size: 18px;
	padding: 13px 5px 0px;
	background: #dc3232;
}

article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon:hover,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon.open,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericons.open:hover {
	color: #dc3232;
	background: #fef0f0;
}


.widget {
	margin: 0 0 4em;
	padding: 0;
}