/*
 * Theme Name: WordPress.org Breathe
 * Template: p2-breathe
 * Description: Child theme of P2 Breathe, with modifications specifically for WordPress.org.
 * Supports Oxygen: true
 */

/* Show a Slack icon in front of Slack links. */
a[href*="//wordpress.slack.com"] {
	padding-left: 16px;
	background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiPjxwYXRoIGQ9Ik0xNjUuOTY0IDE1LjgzOEMxNjIuMDc0IDMuODYzIDE0OS4yMTItMi42OSAxMzcuMjQgMS4yMDJjLTExLjk3NiAzLjg5LTE4LjUzIDE2Ljc1Mi0xNC42MzcgMjguNzI1bDU4Ljk0NyAxODEuMzY1YzQuMDQ4IDExLjE4NyAxNi4xMzIgMTcuNDczIDI3LjczMiAxNC4xMzUgMTIuMS0zLjQ4MyAxOS40NzUtMTYuMzM0IDE1LjYxNC0yOC4yMTdMMTY1Ljk2NCAxNS44MzgiIGZpbGw9IiNERkEyMkYiLz48cGF0aCBkPSJNNzQuNjI2IDQ1LjUxNkM3MC43MzQgMzMuNTQyIDU3Ljg3MyAyNi45OSA0NS45IDMwLjg4Yy0xMS45NzYgMy44OS0xOC41MyAxNi43NS0xNC42MzcgMjguNzI2TDkwLjIxIDI0MC45NzJjNC4wNDggMTEuMTg2IDE2LjEzMyAxNy40NzMgMjcuNzMzIDE0LjEzMiAxMi4xLTMuNDggMTkuNDc0LTE2LjMzMiAxNS42MTMtMjguMjE3bC01OC45My0xODEuMzciIGZpbGw9IiMzQ0IxODciLz48cGF0aCBkPSJNMjQwLjE2MiAxNjYuMDQ1YzExLjk3NS0zLjg5IDE4LjUyNi0xNi43NSAxNC42MzYtMjguNzI2LTMuODktMTEuOTc0LTE2Ljc1Mi0xOC41MjgtMjguNzI1LTE0LjYzN2wtMTgxLjM2NSA1OC45NWMtMTEuMTg3IDQuMDQ1LTE3LjQ3MyAxNi4xMy0xNC4xMzUgMjcuNzMgMy40ODMgMTIuMDk4IDE2LjMzNCAxOS40NzQgMjguMjE3IDE1LjYxM2wxODEuMzcyLTU4LjkzIiBmaWxsPSIjQ0UxRTVCIi8+PHBhdGggZD0iTTgyLjUwOCAyMTcuMjdsNDMuMzQ3LTE0LjA4NC0xNC4wODYtNDMuMzUyLTQzLjM1IDE0LjA5IDE0LjA4OCA0My4zNDciIGZpbGw9IiMzOTI1MzgiLz48cGF0aCBkPSJNMTczLjg0NyAxODcuNTljMTYuMzg4LTUuMzIyIDMxLjYyLTEwLjI3MiA0My4zNDgtMTQuMDgzbC0xNC4wODgtNDMuMzYtNDMuMzUgMTQuMDkgMTQuMDkgNDMuMzU0IiBmaWxsPSIjQkIyNDJBIi8+PHBhdGggZD0iTTIxMC40ODQgNzQuNzA2YzExLjk3NC0zLjg5IDE4LjUyNy0xNi43NSAxNC42MzctMjguNzI3LTMuODktMTEuOTc0LTE2Ljc1LTE4LjUyNy0yOC43MjYtMTQuNjM3TDE1LjAyOCA5MC4yOTNDMy44NDIgOTQuMzM3LTIuNDQ1IDEwNi40MjIuODk2IDExOC4wMjJjMy40OCAxMi4wOTggMTYuMzMyIDE5LjQ3NCAyOC4yMTcgMTUuNjEzbDE4MS4zNy01OC45MyIgZmlsbD0iIzcyQzVDRCIvPjxwYXRoIGQ9Ik01Mi44MjIgMTI1LjkzM2MxMS44MDUtMy44MzYgMjcuMDI1LTguNzgyIDQzLjM1NC0xNC4wODYtNS4zMjMtMTYuMzktMTAuMjczLTMxLjYyMi0xNC4wODQtNDMuMzUybC00My4zNiAxNC4wOTIgMTQuMDkgNDMuMzQ2IiBmaWxsPSIjMjQ4QzczIi8+PHBhdGggZD0iTTE0NC4xNiA5Ni4yNTZsNDMuMzU2LTE0LjA4OGMtNS4zMjYtMTYuMzkzLTEwLjI3Ni0zMS42My0xNC4wOS00My4zNkwxMzAuMDcgNTIuOWwxNC4wOSA0My4zNTYiIGZpbGw9IiM2MjgwM0EiLz48L3N2Zz4=) no-repeat 0 1px;
	background-size: 13px 13px;
	background-position: 1px 4px;
}

body, button, input, select, textarea,
.site-header .site-title {
	font-family: 'Open Sans', sans-serif;
}

/* wp4.css overrides */
p a,
p a:hover {
	border-bottom: none;
}

input[type="submit"] {
	height: auto;
}

/* wporg-header overrides */
#wporg-header input.text {
	font-size: inherit !important;
	padding: 3px;
}

#wporg-header input[type="submit"] {
	box-shadow: none;
}

.site,
.custom-menu .site,
.site-branding {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}

.site-header {
	background: #0073aa;
	float: none;
	margin: 0 0 4em;
	padding: 18px 0;
	width: auto;
}

.site-header .site-branding {
	height: 32px;
}

.site-header .site-title {
	line-height: 1;
	margin: 0;
	padding: 0;
}

.site-header .site-title a {
	color: #fff;
	font-size: 28px;
	font-weight: 300;
	line-height: 1;
}

@media (max-width: 400px) {
	.site-header .site-title a {
		font-size: 16px;
	}
}

.site-header .site-title a:hover {
	color: rgba( 255, 255, 255, 0.8 );
}

.navigation-main {
	background: transparent;
	position: static;
	max-width: 940px;
	height: 32px;
	margin: -32px auto 0px auto;
	text-align: right;
}

.navigation-main ul li {
	display: inline-block;
	float: none;
	margin-right: 21px;
}

.rtl .navigation-main ul li {
	margin-left: 21px;
	margin-right: 0;
}

.navigation-main ul li:last-of-type {
	margin: 0;
}

.navigation-main ul li a {
	padding: 4px 0;
}

.navigation-main ul li:hover > a,
.navigation-main ul li.current-menu-item a {
	background: transparent;
	text-decoration: underline;
}

.navigation-main a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}

#secondary-content .navigation-main {
	margin-top: 32px;
	text-align: left;
}

#secondary-content .navigation-main ul li {
	display: block;
	float: left;
	width: 100%;
}

#secondary-content .navigation-main a {
	color: #0073aa;
}

#secondary-content .navigation-main ul li:hover > a,
#secondary-content .navigation-main ul li.current-menu-item a {
}

/*
 * p2-breathe/style.css overrides
 */
body {
	line-height: 1.5;
}

body,
.widget,
.o2-app-page-title,
.comment.alt,
.comment.alt .comment.alt {
	background-color: transparent;
}

.error404 .o2-app-page-title,
.archive .o2-app-page-title,
.search .o2-app-page-title,
.page .o2-app-page-title {
	color: inherit;
}

@media (max-width: 876px) {
	body.responsive-show {
		overflow-y: visible;
		position: static;
	}

	#page {
		overflow-x: hidden;
	}

	body.responsive-show #page {
		overflow-x: visible;
	}
}

.content-area {
	width: 71%;
}

.o2-app-page-title {
  font-weight: 400;
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: none;
}

.o2-app-page-title a {
	color: #3498db;
}
.o2-app-page-title a:visited {
	color: #4ca6cf;
}

.home .o2-app-page-title {
	display: none;
}

.o2-app-controls {
	font-size: 0.9em;
}

.o2-app-new-post {
	margin-bottom: 2em;
}

.o2-post {
	border-top: 2px solid #ddd;
}
.o2-post .o2-post {
	border-top: 1px solid #ddd;
}

article.post .o2-post,
article#post-new .o2-post,
article.page .o2-post,
.entry-date,
.o2-xpost-author .entry-date,
.o2-xpost-entry-date {
	display: block;
}

.entry-header,
article.post .entry-header,
article#post-new .entry-header,
article.page .entry-header,
.entry-title,
article.post .entry-title,
article#post-new .entry-title,
article.page .entry-title,
.entry-content,
article footer.entry-meta {
	display: block;
	margin-left: 0;
	padding-left: 0;
	clear: both;
}

.entry-meta,
article.post .entry-header .entry-meta,
article#post-new .entry-header .entry-meta,
article.page .entry-header .entry-meta {
	margin-left: 60px;
}

.entry-title,
article.post .entry-title,
article#post-new .entry-title,
article.page .entry-title,
.entry-content,
.post-content,
.o2-xpost-content {
	display: block;
	clear: both;
	padding-top: 15px;
}

.author-avatar,
article.post a.author-avatar,
article#post-new a.author-avatar,
article.page a.author-avatar {
	border: 0;
	box-shadow: none;
}

.author-avatar .avatar,
.o2-comment .avatar,
.tag-p2-xpost .avatar {
	border-radius: 50%;
}

.author-avatar img.avatar:hover {
	border-radius: 0 !important;
}

article.post a.author-avatar img.avatar,
article#post-new a.author-avatar img.avatar,
article.page a.author-avatar img.avatar {
	height: 50px !important;
	width: 50px !important;
}

/*
 * Resolved/unresolved
 */
article.state-resolved,
article.state-unresolved {
	border-top: 0;
}

/*
 * Private post status
 */
article.status-private,
article.status-private .comment.alt {
	background: #fef0f0;
}

.status-private .o2-post {
	position: relative;
}

.status-private .o2-post:after {
	content: "\f530";
	font-family: dashicons;
	position: absolute;
	top: -2px;
	right: 45px;
	color: #FFF;
	font-size: 18px;
	padding: 13px 5px 0px;
	background: #dc3232;
}

article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon:hover,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericon.open,
article.status-private nav.o2-dropdown-actions button.o2-dropdown-actions-disclosure.genericons.open:hover {
	color: #dc3232;
	background: #fef0f0;
}

.widget {
	margin: 0 0 4em;
	padding: 0;
}

/* Hide image upload button. No image uploads on make blogs. */
.o2-editor-toolbar-button.genericon-picture {
	display: none;
}

@media screen and (min-width: 769px) {
	#wporg-header ul li a.current ~ .uparrow {
		border-bottom-color: #0073aa;
	}
}

.make-welcome {
	background: #eee;
	/* jQuery slideUp overrides the margin, causing the animation to be a bit funky. !important stops that. */
	margin: -4em 0 4em 0 !important;
	padding: 2em 0;
	position: relative;
	width: 100%;
}

.make-welcome .entry-content {
	font-size: 14px;
	color: #333;
	line-height: 1.45;
	width: 100%;
	max-width: 940px;
	margin: 0px auto;
	padding: 0;
}

.make-welcome .entry-content h4 {
	margin: 14px 0;
}

.make-welcome .entry-content p {
	display: inline;
}

.make-welcome .entry-content h4,
.make-welcome .entry-content .welcome p:first-child {
	font-weight: normal;
	font-size: 18px;
	font-family: "Open Sans", serif;
}

.make-welcome .entry-content .column {
	vertical-align: top;
	display: inline-block;
	padding: 0 1.5%;
}

.make-welcome .entry-content .welcome {
	padding-top: 1%;
}

.make-welcome .entry-content .o2-appended-tags,
.make-welcome .entry-content .o2-post-footer-actions {
	display: none;
}

.make-welcome .entry-meta {
	margin: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.make-welcome .entry-meta .post-edit-link {
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: normal;
	padding-right: 15px;
	border-right: 1px solid #ccc;
}

.make-welcome .entry-meta [type="button"] {
	background: transparent;
	border: 0;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 0;
	text-shadow: none;
}

.make-welcome .entry-meta [type="button"]:focus {
	outline: thin dotted;
}

@media screen and (min-width: 960px) {
	.make-welcome .entry-content p {
		display: block;
	}

	.make-welcome .entry-content .column {
		width: 30%;
		padding: 1.5%;
	}

	.make-welcome .entry-content .welcome p:first-child {
		font-size: 22px;
		margin: 12px 0 23px;
	}

	.make-welcome .entry-content h4,
	.make-welcome .entry-content p {
		margin-bottom: 14px;
	}
}

@media screen and (max-width: 1000px) {
	.make-welcome .entry-content .content-area,
	.make-welcome .entry-content .widget-area {
		clear: both;
		float: none;
		padding: 0 20px;
		width: auto;
	}
}

.js-disabled-notice {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em 0;
	background: #fbeaea;
	border-top: 2px solid #dc3232;
	text-align: center;
	font-size: 18px;
	color: #333;
}

/*
 * Handbook
 */

.single-handbook #secondary {
	clear: left;
}

.single-handbook .widget-area {
	float: left;
	margin-right: 4%;
}
.handbook-header {
	line-height: 2em;
}
.handbook-header h1 {
	margin-top: 0;
}

.post-type-archive-handbook .handbook-name a:not(:hover),
.single-handbook .handbook-name a:not(:hover) {
	color: inherit;
}

.handbook-name {
	text-align: center;
	color: #aaa;
	margin-bottom: 1.5em;
	overflow: hidden;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
	border-bottom: 0;
}
.handbook-name span {
	display: inline-block;
	position: relative;
}
.handbook-name span:before,
.handbook-name span:after {
	content: "";
	position: absolute;
	border-top: 1px solid #ccc;
	top: 49%;
	width: 600px;
}
.handbook-name span:before {
	right: 100%;
	margin-right: 10px;
}
.handbook-name span:after {
	left: 100%;
	margin-left: 10px;
}

nav.handbook-navigation {
	font-size: 14px;
	margin: 2em 0;
	overflow: auto;
}
nav.handbook-navigation .nav-links a {
	width: 49%;
	border: 0;
	display: inline-block;
}
nav-handbook-navigation .nav-links a[rel="prev"] {
	text-align: left;
}
nav.handbook-navigation .nav-links a[rel="next"] {
	text-align: right;
	float: right;
}

