<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:py="http://genshi.edgewall.org/"
	  py:strip="">

	<div id="headline">
		<div class="wrapper">
			<h2><a href="https://make.wordpress.org/core/">Make WordPress Core</a></h2>
			<div class="menu-container"><ul class="menu">
				<li><a href="https://make.wordpress.org/core/">Blog</a></li>
				<li><a href="https://make.wordpress.org/core/handbook/">Handbook</a></li>
				<li><a class="open-ticket-report" href="https://make.wordpress.org/core/reports/">Tickets</a></li>
				<li><a href="https://make.wordpress.org/core/components/">Components</a></li>
				<li class="icon browser"><a title="Browse Source" href="https://core.trac.wordpress.org/browser">Browse Source</a></li>
				<li class="icon timeline"><a title="Trac Timeline" href="https://core.trac.wordpress.org/timeline">Trac Timeline</a></li>
				<li class="icon newticket"><a title="Create a New Ticket" href="https://wordpress.org/support/bb-login.php?redirect_to=https://core.trac.wordpress.org/newticket">Create a New Ticket</a></li>
			</ul></div>
		</div>
	</div>

</html>
