.plugin-adopt-me {
    background: #e6f4fa;
    font-size: ms( -2 );
    padding: 12px;
    margin-top: 36px;
    .widget-title {
        margin-top: 0;
    }
    p {
        margin-bottom: 0;
    }
}