.widget {
	margin: 0 0 1.5em;
}

.home .widget-area {
	margin: 0 auto;
	max-width: $size__site-main;
	padding: 0 ms( 4 ) ms( 10 ) ms( 4 );

	@media screen and ( min-width: $ms-breakpoint ) {
		padding: 0 10px ms(10);
	}

	.widget {
		display: inline-block;
		font-size: ms( -2 );
		margin: 0;
		vertical-align: top;

		@media screen and ( min-width: $ms-breakpoint ) {
			margin-right: 5%;
			width: 30%;

			&:last-child {
				margin-right: 0;
			}
		}

		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}
	}
}

.plugin-ratings {
	font-size: ms( -2 );
	position: relative;

	.reviews-link {
		position: absolute;
		right: 0;
		top: 0.3rem;

		&:after {
			content: "\f345";
			font-family: dashicons;
			padding-left: 5px;
			vertical-align: top;
		}
	}

	[class*='dashicons-star-'] {
		color: #FFB900;
		display: inline-block;
		font-size: ms( 4 );
		height: auto;
		margin: 0;
		width: auto;
	}

	.ratings-list {
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;

		.counter-container,
		.counter-container a {
			width: 100%;
		}

		.counter-label {
			display: inline-block;
			min-width: 58px;
		}

		.counter-back,
		.counter-bar {
			display: inline-block;
			height: 1rem;
			vertical-align: middle;
		}

		.counter-back {
			background-color: #ececec;
			width: 58%;
			width: calc(100% - 130px);
		}

		.counter-bar {
			background-color: #ffc733;
			display: block;
		}

		.counter-count {
			margin-left: 3px;
		}
	}
}

.plugin-support {
	font-size: ms( -2 );

	.counter-container {
		margin-bottom: 1rem;
		position: relative;
	}

	.counter-back,
	.counter-bar {
		display: inline-block;
		height: 30px;
		vertical-align: middle;
	}

	.counter-back {
		background-color: #ececec;
		width: 100%;
	}

	.counter-bar {
		background-color: #c7e8ca;
		display: block;
	}

	.counter-count {
		font-size: ms( -4 );
		left: 8px;
		position: absolute;
		top: 8px;
		width: 100%;
		width: calc(100% - 8px);

		@media screen and ( min-width: $ms-breakpoint ) {
			top: 5px;
		}
	}
}

.plugin-meta {
	@extend .clear;
	margin-top: 2rem;

	ul {
		font-size: ms( -2 );
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		border-top: 1px solid $color__border;
		padding: 0.5rem 0;

		strong {
			float: right;
		}
	}

	.tags {
		float: right;
		text-align: right;
		width: 60%;
	}

	[rel="tag"] {
		background: $color__background-pre;
		border-radius: 2px;
		color: #000;
		display: inline-block;
		font-size: ms( -4 );
		margin: 2px;
		padding: 3px 6px;
		position: relative;
		white-space: nowrap;
		width: auto;

		&:hover {
			background: #f3f3f3;
		}
		&:active {
			background: #dfdfdf;
		}
	}
}
