.entry-content {
	hyphens: auto;
	word-wrap: break-word;

	> p:first-child {
		margin-top: 0;
	}

	[class*="col-"] {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			clear: none;
		}
	}
}
