.entry-meta {
	color: #999999;
	font-size: ms( -2 );
	margin-bottom: 1rem;

	a {
		color: #777777;
	}

	> span {
		margin-right: 1rem;

		:last-of-type {
			margin: 0;
		}
	}

	.updated:not(.published) {
		display: none;
	}

	.sticky & .posted-on,
	.byline {
		display: none;
	}

	.single & .byline,
	.group-blog & .byline {
		display: inline;
	}
}
