.main-navigation {
	background: $color__wp-blue;
	clear: both;
	left: 0;
	position: absolute;
	top: 60px;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: 1.5em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		border-top: 1px solid rgba( 255, 255, 255, 0.2 );
		padding: 1rem;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		color: rgba( 255, 255, 255, 0.8 );
		display: block;
		font-size: ms( -2 );
		text-decoration: none;

		&:hover,
		&.active {
			color: #fff;
		}

		@media screen and (min-width: $ms-breakpoint) {
			&.active {
				border-bottom: 1px solid;
			}
		}
	}
}

/* Small menu. */
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: none;
	color: #fff;
	font-size: ms( 4 );
	height: 3.5rem;
	overflow: hidden;
	position: absolute;
	right: 1rem;
	top: -58px;
	width: 3.5rem;
	-webkit-appearance: none;

	.toggled &:before {
		content: "\f343";
	}
}

@media screen and ( min-width: $ms-breakpoint ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		float: right;
		position: initial;
		width: initial;

		&.toggled {
			padding: 1px 0;
		}

		ul {
			display: inline-block;
			font-size: 0;

			li {
				border: 0;
				display: inline-block;
				font-size: ms( 0 );
				margin-right: 1rem;
				padding: 0;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}
