.site-content {
	margin: 0 auto;
	max-width: $size__site-main;
	padding: 0 ms( 4 );

	@include breakpoint( $ms-breakpoint) {
		padding: 0 10px ms( 10 );
	}

	@include breakpoint( 0, $ms-breakpoint) {
		.site-main {
			float: none;
			margin: 0;
			width: auto;
		}
	}

	.home &,
	.page &,
	&.page {
		margin: auto;
		max-width: none;
		padding: 0;
	}

	.page-title {
		font-size: ms( 2 );
		font-weight: 400;
	}

	.no-results {
		margin: 0 auto ms( 10 );
		max-width: 40em;
		padding: 0 2rem;
	}
}
