
body,
button,
input,
select,
textarea {
	color: #1e1e1e;
	font-size: 100%;
	line-height: $font__line-height-body;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	font-size: 0.9375rem;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	word-wrap: normal;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: 0.9375rem;
	hyphens: none;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

strong {
	font-weight: 600;
}
