table {
	border: 1px solid var( --wp--preset--color--light-grey-1 );
	//border-spacing: .1rem;
	border-collapse: collapse;
	font-size: 0.8em;
	margin: 0 0 1rem;
	padding: 0;
	width: 100%;

	thead {
		background: $color__base-gray;
		color: #fff;
	}

	th, td {
		border: 1px solid var( --wp--preset--color--light-grey-1 );
		font-weight: normal;
		margin: 0;
		padding: 0.4rem;
		text-align: left;
		vertical-align: top;
	}

	tbody {
		tr:nth-child( even ) {
			background: var( --wp--preset--color--light-grey-2 );
		}
	}
}
