@import "../../variables-site/variables-site";

.home .widget-area {
	margin: 0 auto;
	max-width: $size__site-main;
	padding: 0 ms(4) ms(10) ms(4);

	.widget {
		display: inline-block;
		width: 30%;
		margin-right: 5%;
		@include font-size( ms-unitless( ms(-2) ) );

		&:last-child {
			margin-right: 0;
		}

		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}
	}
}
