@import "../variables-site/variables-site";
@import "../mixins/mixins-master";

h1, h2, h3, h4, h5, h6 {
	clear: both;

	// Override wp4.css.
	font-family: inherit;
	line-height: $font__line-height-body;
	margin: 2rem 0 1rem;
}

h1 {
	font-size: ms( 12 );
	font-weight: 300;
}

h1.title {
	font-size: ms( -2 );
	color: $color__link;
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

h2 {
	font-size: ms( 8 );
	font-weight: 300;
}

h3 {
	font-size: ms( 4 );
	font-weight: 400;
}

h4 {
	font-size: ms( 2 );

	// Override wp4.css.
	border: none;
	color: $color__text-main;
	font-weight: 600;
	padding: 0;
}

h5 {
	font-size: ms( 0 );
	font-weight: 600;
	letter-spacing: 0.01rem;
	text-transform: uppercase;
}

h6 {
	font-size: ms( -2 );
	font-weight: 600;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
