.wp-block-wporg-release-checks {
	padding: 0;

	.wp-block-heading {
		font-weight: 500;
		font-size: var(--wp--preset--font-size--small);
	}
}

.wp-block-wporg-release-checks-results {
    list-style: none;
	padding-left: 0;

	li ul {
		list-style: disc;
	}

    li:not(:last-child) {
        margin-bottom: 8px;
    }
}