/**
 * #.# wp-login CSS overwrites
 *
 * These selectors overwrite the core css on the wp-login page
 */

body.login {
	/* Using flexbox to control the vertical alignment of the form and white box */
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
}

.login-action-lostpassword.login .message,
.login-action-rp.login .message,
.login-action-login.login .message,
.login .message.reset-pass {
	border-left: none;
	background-color: transparent;
	color: #555D66;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-core-ui .button-primary, .wp-core-ui.login .button-primary {
	width:100%;
	height:40px;
	font-size:14px;
}

#backtoblog {
	display: none;
}

#pass-strength-result {
	background: #FFF;
}

#pass-strength-result.strong {
	background-color:#FFF;
	border-color:transparent;
	color: #46b450;  /* Green */
	-webkit-box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -100px 0 #46b450,
		inset 100px 0 #46b450;
	box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -100px 0 #46b450,
		inset 100px 0 #46b450;
}

#pass-strength-result.good {
	background-color:#FFF;
	border-color:transparent;
	color: #ffb900; /* Orange */
	-webkit-box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -80px 0 #ffb900,
		inset 80px 0 #ffb900;
	box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -80px 0 #ffb900,
		inset 80px 0 #ffb900;
}

#pass-strength-result.bad, #pass-strength-result.short {
	background-color:#FFF;
	border-color:transparent;
	color: #dc3232; /* Red */
	-webkit-box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -80px 0 #dc3232,
		inset 80px 0 #dc3232;
	box-shadow:
		inset 0 14px #FFF,
		inset 0 -14px #FFF,
		inset -80px 0 #dc3232,
		inset 80px 0 #dc3232;
}

.reset-pass {
	margin-bottom:0;
}

#loginform {
	margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#login form p {
	margin:0;
}

.g-recaptcha {
	width: 304px;
	margin: 0 auto;
}

/**
 * #.# Basic CSS
 *
 * The rest of the CSS is for all login pages.
 */

body {
	color: #555D66;
	font-size: 14px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #555D66 !important;
	text-decoration: underline !important;
	font-weight: normal;
	outline: 0;
}

a:hover, a:active {
	text-decoration: underline;
}

h2 {
	font-size: 1.5em;
}

p {
	line-height: 1.5;
	margin-bottom: 1em;
}

strong {
	font-weight: bolder;
}

.small {
	font-size: 0.8em;
	font-weight: normal;
}

.center {
	text-align: center;
}

.wp-core-ui .button-primary {
	-webkit-box-shadow:none;
	box-shadow:none;
}

.singleline {
	position:relative;
	left:-12px;
	width:278px;
}

#login {
	width: 304px;
	padding: 24px;
	margin: 0 auto 0;
	background: #FFF;
	position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#login h1 {
	text-align: center;
    margin-bottom: 24px;
    position: absolute;
    top: -72px;
    width: 100%;
    left: 0;
}

#login h1 a {
	background-image: url(../images/wporg-logo.png);
	background-image: none, url(../images/wporg-logo.svg);
	-webkit-background-size: 256px;
	background-size: 256px;
	background-position: center top;
	background-repeat: no-repeat;
	color: #999;
	height: 52px;
	margin: 0 auto;
	padding: 0;
	width: auto;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
	-webkit-transition:none;
	transition:none;
}

p.intro, #login .message {
	margin-bottom:24px !important;
}

#login .message + #login_error {
	margin-top:0 !important;
	border-top:1px solid #f5f5f5;
}

#login #login_error {
	border-left: 4px solid #00a0d2;
	padding: 12px;
	margin:-24px 0 24px -24px;
	background-color: #fbfbfb;
	width:304px;
	border-bottom:1px solid #f5f5f5;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

#login #login_error {
	border-left-color: #dc3232;
}

#login #nav {
	font-size: 13px;
    padding: 0;
    margin: 24px auto;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -68px;
    width: 100%;
}

.login form {
	margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: visible;
}

.mobile #login {
	padding:24px;
}

.container {
	padding: 0 0 64px;
	margin-top: 24px;
}

form {
	margin-top: 24px;
}

form p {
	margin-bottom: 0;
}

form .forgetmenot,
form .login-remember {
	font-weight: normal;
	margin-bottom: 16px !important;
}

form .forgetmenot label,
form .login-remember label {
	font-size:12px;
	line-height: 1;
	cursor: pointer;
}

form .submit {
	margin: 8px 0 0 0 !important;
	padding: 0;
}

form input[type="text"],
form input[type="password"] {
	width: 100%;
	padding: 3px 10px;
	margin: 2px 6px 16px 0;
	height: 40px;
	color: #23282d;
	font-weight: 400;
}

#loginform p.submit,
.login-action-lostpassword p.submit {
	border: none;
}

.login #pass-strength-result {
	font-weight: 600;
	margin: -1px 5px 16px 0;
	padding: 6px 5px;
	text-align: center;
	width: 100%;
}


body.route-register,
body.route-register-profile,
body.route-register-confirm {
    padding-top: 105px;
    height: auto;
}

body.route-register #login,
body.route-register-profile #login,
body.route-register-confirm #login {
	width: 365px;
}

body.route-register input.input,
body.route-register-profile input.input,
body.route-register-confirm input.input {
	margin-bottom: 0;
}
body.route-register #login form p,
body.route-register-profile #login form p,
body.route-register-confirm #login form p {
	margin-bottom: 16px;
}

body.login form input.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 0.5;
}
body.login form input.input::-moz-placeholder { /* Firefox 19+ */
	opacity: 0.5;
}
body.login form input.input:-ms-input-placeholder { /* IE 10+ */
	opacity: 0.5;
}
body.login form input.input:-moz-placeholder { /* Firefox 18- */
	opacity: 0.5;
}
body.login form input.error {
	background-color: #FAE5E8;
	border: 3px solid #D42A41;
}
body.login form input.good {
	border-color: #83c373;
}

body.route-register #login .message.error,
body.route-register-profile #login .message.error,
body.route-register-confirm #login .message.error {
	border-left-color: #dc3232;
	margin-bottom: auto !important;
	margin-left: -24px;
	padding-left: 24px;
	padding-right: 0;
}
body.route-register .message.error .avatar {
	float: left;
	border-radius: 50%;
	margin-right: 1em;
}

form .login-mailinglist label {
	font-size: 12px;
	line-height: 1;
	cursor: pointer;
}

@media (max-width:375px) {
	body, html { 
		background:#FFF; 
	}
	body.login {
		display:block; /* Overwriting flexbox to remove vertical positioning */
		align-items:center;
		margin-top:100px; /* Fix for displaying logo correctly */
	}
	#login, .mobile #login {
		-webkit-box-shadow:none;
		box-shadow:none;
		padding:24px;
	}
	#login #login_error {
		margin-left:0;
		width:100%;
	}
}

@media (max-width:360px) {
	#login {
		width:100%;
		padding:20px 24px;
	}
	#login h1 {
		padding:0 24px 24px;
	}
	#login h1 a {
		-webkit-background-size:100%;
		background-size:100%;
	}
}
