<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="handbook">
			<directory suffix=".php">./phpunit/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
