.page {
	.entry-header {
		margin-top: 2rem;

		@include breakpoint( $ms-breakpoint ) {
			padding: 0 2rem;
		}

		.entry-title {
			font-size: ms( 4 );
			font-weight: 400;
		}
	}

	.entry-content {
		font-size: 16px;

		@include breakpoint( $ms-breakpoint ) {
			padding: 0 2rem;
		}

		h2 {
			font-size: ms( 4 );
			font-weight: 400;
		}

		h3 {
			font-size: ms( 0 );
			font-weight: 600;
			letter-spacing: 0.01rem;
		}

		section {
			padding: 2rem 0;

			&:first-of-type {
				padding-top: 0;
			}

			& + section {
				border-top: 2px solid $color__background-hr;
			}
		}
	}
}
