# This should mirror the aggregated `svn:ignore` properties. It's just a convenience for those using Git.
#
# Core, plugins, and themes are auto-updated by Core (including major versions), rather than SVN checkouts
# of trunk (which isn't guaranteed to be stable), or specific tags (which are a hassle to keep updated).
#

config-private.php
public_html/content/cache
public_html/content/languages
public_html/content/upgrade
public_html/content/uploads
public_html/content/mu-plugins/locale-detection
public_html/content/mu-plugins/locales
public_html/content/plugins/tagregator
public_html/content/plugins/wp-super-cache
public_html/content/plugins/wp15-meetup-events/libraries/meetup-client.php
public_html/content/themes/twentyseventeen
public_html/wordpress
