.wp-block-wporg-release-status {
	padding: 2px 10px;
	border: 1px solid var(--wp--preset--color--blueberry-3);
	font-size: var(--wp--preset--font-size--extra-small);
	border-radius: var(--wp--custom--button--border--radius);
}