@import "../variables-site/variables-site";

/* User badges */

.type-reported_topics {
	border-right: 2px solid var(--wp--custom--color--thread-reporter);
}

.author-badge {
	position: absolute;
	top: 15px;
	left: 0;
	padding: 2px 6px;
	color: #fff;
	font-size: 11px;
	border-radius: var(--wp--custom--button--border--radius);
}

.reply.author-has-badge,
.reply.topic-author,
.reply.by-moderator {
	padding-top: 40px !important;
}

.author-badge-moderator {
	background-color: var(--wp--preset--color--dark-blueberry);
}

.author-badge-thread-starter {
	background-color: var(--wp--preset--color--charcoal-3);
}

.author-badge-plugin {
	background-color: var(--wp--preset--color--dark-blueberry);
}

.author-badge-theme {
	background-color: var(--wp--preset--color--dark-blueberry);
}

.author-badge-reporter {
	background-color: var(--wp--custom--color--thread-reporter);
	right: -2px;
	left: initial;
	border-radius: 2px 0 0 2px;
}

.bbp-view .bbp-topics,
.bbp-search .bbp-search-results,
.bbp-user-replies-created,
.bbp-user-reports-submitted {

	div.author-has-badge {
		box-shadow: none;
		border-left-style: solid;
		border-left-width: 3px;
	}

	// .by-moderator {
	// 	border-left-color: var(--wp--custom--color--moderator);
	// }

	// .by-plugin-author,
	// .by-plugin-contributor,
	// .by-plugin-support-rep {
	// 	border-left-color: var(--wp--custom--color--plugin-author);
	// }

	// .by-theme-author,
	// .by-theme-contributor,
	// .by-theme-support-rep {
	// 	border-left-color: var(--wp--custom--color--theme-author);
	// }

	.author-badge {
		left: 0;
	}

	.author-badge-reporter {
		left: initial;
		right: 0;
	}
}

@media screen and ( max-width: 480px ) {

	.author-badge,
	.author-badge-reporter {
		top: -28px;
	}
}
