/* We include this top match the homepage language bar  */
#lang-guess {
	width: inherit;
	max-width: inherit;
	margin: 0;
	border: inherit;
	font: inherit;
	padding: 0.5rem;
	background: #c7e8ca;
	text-align: center;
	font-size: 0.8rem;
	border-radius: inherit;
}

#lang-guess a {
	text-decoration: underline;
}
