:root {
    --header-height: 117px;
}

@media (min-width: 890px) {
    :root {
        --header-height: 104.453px;
    }
}


#openverse_embed {
    display: block;

    width: 100%;
    height: calc(100vh - var(--header-height));

    border: none;
}

#main,
.site,
.site-content {
    width: 100% !important;
    padding: 0 !important;
    max-width: 100% !important;
}
