#openverse_embed {
    display: block;

    width: 100%;
    height: var(--openverse-embed-height, 100vh); /* This will be updated by JavaScript */

    border: none;
}

#main {
    width: 100% !important;
    padding: 0 !important;
    max-width: 100% !important;
}
