$color__background-body: var(--wp--preset--color--white);
$color__background-screen: var(--wp--preset--color--light-grey-2);
$color__background-hr: var(--wp--preset--color--light-grey-1);
$color__background-button: var(--wp--preset--color--light-grey-1);
$color__background-pre: var(--wp--preset--color--light-grey-1);
$color__background-ins: var(--wp--preset--color--lemon-1);

$color__text-screen: #21759b;
$color__text-input: var(--wp--custom--form--search--color--text);
$color__text-input-focus: #111;
$color__link: var(--wp--custom--link--color--text);
$color__link-visited: var(--wp--custom--link--color--text);
$color__link-hover: var(--wp--custom--link--color--text);
$color__text-main: var(--wp--preset--color--charcoal-1);
$color__blockquote: var(--wp--preset--color--charcoal-4);

$color__border: var(--wp--preset--color--light-grey-1);
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ddd;
$color__border-abbr: #666;

$color__table-odd: var(--wp--preset--color--light-grey-2);


// Colors
$color__wp-blue: var(--wp--preset--color--blueberry-1);
$color__base-gray: $color__text-main;
$color__green: var(--wp--preset--color--acid-green-2);

// Badges
$color__moderator: #33b4ce;
$color__plugin-author: #f06723;
$color__theme-author: #4e3288;
$color__thread-starter: #43cc99;
$color__thread-reporter: #ff4141;
