.home .widget,
.widget-area.home .widget {
	display: inline-block;
	font-size: ms( -2 );
	margin: 0;
	vertical-align: top;

	@media screen and ( min-width: $ms-breakpoint ) {
		margin-right: 5%;
		width: 30%;

		&:last-child {
			margin-right: 0;
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
