.entry-thumbnail {
	display: none;
	max-width: 80px;
	margin-right: 20px;
	margin-bottom: 20px;

	.plugin-icon {
		background-size: cover;
		height: 80px;
		width: 80px;
	}

	@media screen and ( min-width: 21em ) {
		display: inline-block;
		vertical-align: top;
		float: left;
	}

	.single & {
		display: none;
		float: left;
		height: 96px;
		margin-right: 1rem;
		width: 96px;

		@media screen and ( min-width: 26em ) {
			display: block;
		}

		.plugin-icon {
			background-size: contain !important;
			height: 96px !important;
			width: 96px !important;
		}

	}
}
