#main .plugin-section { /* #main prefix is to overrule inline block styles */
    margin: 0 auto var( --wp--preset--spacing--40 );

	&:last-of-type {
		margin-bottom: 0;
	}

	.section-header {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 2rem;
		column-gap: 10px;
	}

	.section-title {
		flex: 1 1 auto;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: 0;
		margin-left: var( --wp--style--block-gap );

		@media screen and ( min-width: $ms-breakpoint ) {
			margin-left: 0;
		}
	}

	.section-link {
		align-self: center;
		flex: 0 0 auto;

		margin-right: var( --wp--style--block-gap );

		@media screen and ( min-width: $ms-breakpoint ) {
			margin-right: 0;
		}
	}
}