@import "../variables-site/variables-site";

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	// Override for wp4.css.
	p &:not(.button),
	p &:not(.button):hover {
		border: none;
	}
}

