@import "../variables-site/variables-site";

.main-navigation {
	background: $color__wp-blue;
	clear: both;
	left: 0;
	position: absolute;
	top: 60px;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		border-top: 1px solid rgba( 255, 255, 255, 0.2 );
		padding: 16px;
		padding: 1rem;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		color: rgba( 255, 255, 255, 0.8 );
		display: block;
		@include font-size( ms-unitless( ms(-2) ) );
		text-decoration: none;

		&:hover,
		&.active {
			color: #fff;
		}

		@media screen and (min-width: $ms-breakpoint) {
			&.active {
				border-bottom: 1px solid;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	-webkit-appearance: none;
	background: transparent;
	border: none;
	color: #fff;
	@include font-size( ms-unitless( ms(4) ) );
	height: 56px;
	height: 3.5rem;
	overflow: hidden;
	width: 56px;
	width: 3.5rem;
	position: absolute;
	top: -58px;
	right: 1rem;

	.toggled &:before {
		content: "\f343";
	}
}

@media screen and ( min-width: $ms-breakpoint ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		float: right;
		position: initial;
		width: initial;

		&.toggled {
			padding: 1px 0;
		}

		ul {
			display: inline-block;

			li {
				border: 0;
				display: inline-block;
				margin-right: 16px;
				margin-right: 1rem;
				padding: 0;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
