// stylelint-disable scss/at-extend-no-missing-placeholder
// ^ Disabled to avoid changing the built CSS.

/* bbPress specific styles */

/* Many of these override the styles from the plugin */

#bbpress-forums {
	font-size: var(--wp--preset--font-size--normal);
	line-height: inherit;
	overflow: inherit;

	h1 {
		font-size: var(--wp--preset--font-size--heading-1);
		line-height: var(--wp--custom--heading--level-1--typography--line-height);
		padding-bottom: unset;
	}

	hr {
		border-color: var(--wp--custom--color--border);
		border-style: solid;
		border-width: 1px 0 0;
		margin-bottom: var(--wp--style--block-gap);
	}
}

$paginationBreakPoint: "600px";

.bbpress,
.page-template-page-forums-sidebar {

	main#main {

		.entry-content,
		.entry-footer {
			margin-bottom: var(--wp--preset--spacing--40);
		}

		.entry-content,
		.entry-meta,
		.entry-header .entry-title,
		.entry-content .container {
			padding: 0;
		}

		.wp-block-group > .entry-content,
		.wp-block-group > article {

			@media screen and ( min-width: $ms-breakpoint ) {
				float: left;
				padding: 0;
				width: calc(75% - var(--wp--preset--spacing--40));
			}
		}

		@media screen and ( min-width: $ms-breakpoint ) {

			.entry-content,
			.entry-meta {
				padding-left: 0;
				padding-right: 0;
			}

			.entry-meta {
				float: right;
				width: 25%;
			}
		}
	}
}

.bbpress {

	main#main {

		@extend .clear;
	}

	&.bbp-view-all-replies {

		#bbpress-forums .status-pending {

			.even,
			.odd {
				background: none;
			}
		}
	}

	#bbpress-forums {

		.bbp-topic-content > div.bbp-template-notice,
		.bbp-reply-content > div.bbp-template-notice {
			margin-bottom: 30px;
		}

		.status-pending {

			&.even,
			&.odd {
				background: none;
			}

			a {
				background: none;
			}

			div.bbp-template-notice {
				background: var(--wp--preset--color--lemon-3);
			}
		}

		.status-archived,
		.status-spam {

			div.bbp-template-notice {
				background: var(--wp--preset--color--pomegrade-3);
			}
		}

		.bbp-forum-content ul.sticky,
		.bbp-topics ul.sticky,
		.bbp-topics ul.super-sticky,
		.bbp-topics-front ul.super-sticky {
			background-color: var(--wp--preset--color--lemon-3) !important;
		}

		.bbp-body {

			.bbp-topic-freshness,
			.bbp-topic-voice-count,
			.bbp-topic-reply-count {
				font-size: var(--wp--preset--font-size--small);
			}

			ul.forum,
			ul.topic {
				border-top-color: var(--wp--custom--color--border);
			}

			ul.topic a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			.bbp-topic-content,
			.bbp-reply-content {

				ul {
					margin-bottom: var(--wp--style--block-gap);
				}
			}
		}

		.bbp-header,
		.bbp-body {

			li.bbp-forum-freshness,
			li.bbp-topic-freshness {
				width: 58%;

				@media (min-width: 321px) {
					width: 25%;
				}
			}
		}

		.bbp-topic-header .bbp-meta .bbp-topic-permalink,
		.bbp-reply-header .bbp-meta .bbp-reply-permalink {
			color: var(--wp--custom--link--color--text);
		}

		.bbp-topics ul.sticky {
			background-color: var(--wp--preset--color--lemon-3) !important;
		}

		.bbp-forums,
		.bbp-topics {
			border: 1px solid var(--wp--custom--color--border);
			line-height: var(--wp--custom--body--short-text--typography--line-height);

			> .bbp-header {
				background: var(--wp--preset--color--white);
				border-top: none;
				font-size: var(--wp--preset--font-size--small);
			}
		}

		ul.bbp-lead-topic,
		ul.bbp-replies,
		ul.bbp-search-results,
		ul.bbp-topics.full-posts,
		li.bbp-body div.hentry {
			overflow: visible;
			word-wrap: break-word;
		}

		ul.bbp-lead-topic {
			margin: 0;
		}

		ul.bbp-lead-topic li.bbp-body {
			border: 0;
		}

		ul.bbp-lead-topic li.bbp-body div.topic {
			background: var(--wp--preset--color--light-grey-3);
		}

		.bbp-search-results div.topic .topic-indicator {
			display: none;
		}

		div.bbp-topic-author img.avatar,
		div.bbp-reply-author img.avatar {
			border-radius: 50%;
			float: left;
			width: 50px;
			height: 50px;
			max-width: 50px;
			max-height: 50px;
			margin: 0 10px var(--wp--preset--spacing--20) 0;
		}

		div.bbp-topic-author img.avatar {
			margin-left: 0;
			margin-top: 0;
			width: 80px;
			height: 80px;
			max-width: 80px;
			max-height: 80px;
		}

		@media only screen and (max-width: 1200px) {

			div.bbp-reply-author img.avatar,
			div.bbp-topic-author img.avatar {
				position: relative;
			}
		}

		div.bbp-reply-author .bbp-author-name,
		div.bbp-topic-author .bbp-author-name {
			clear: none;
			font-size: ms(0);
			display: inline-block;
			margin: 0;
			word-break: break-word;
		}

		div.bbp-reply-author,
		div.bbp-topic-author {
			float: none;
			text-align: left;
			width: 100%;
			margin: 0 0 var(--wp--preset--spacing--20);
			padding-left: 0;

			@media screen and ( max-width: 480px ) {
				min-height: auto;
				border-bottom: 0;
				position: unset;
			}
		}

		.bbp-user-replies-created div.bbp-reply-author,
		.bbp-user-replies-created div.bbp-topic-author {
			padding-left: 0;
		}

		.bbp-author-title {
			margin: 0;
		}

		.bbp-user-nicename,
		.bbp-topic-post-date,
		.bbp-topic-ip,
		.bbp-reply-post-date,
		.bbp-reply-ip,
		.wporg-bbp-user-notes-toggle,
		.wporg-bbp-user-flag {
			font-size: ms(-2);
			font-weight: 400;
			margin: 0;
			margin-right: 10px;
			display: inline-block;
		}

		span.bbp-author-ip {
			font-size: ms(-2);
			font-weight: 400;
		}

		div.topic,
		div.reply,
		div.reported_topics {
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) 40px;

			&.author-has-badge,
			&.topic-author,
			&.by-moderator {
				padding-top: 60px;
			}
		}

		div.reported_topics {
			padding-top: 60px;
			background-color: unset;
			border: 2px solid var(--wp--custom--color--thread-reporter);
		}

		div.bbp-reply-content,
		div.bbp-topic-content {
			padding: 0;
			clear: left;
			margin: var(--wp--preset--spacing--20) 0 0;

			code,
			pre {
				background-color: var(--wp--preset--color--light-grey-2);
			}

			pre {
				padding: var(--wp--preset--spacing--20);
				border: 1px solid var(--wp--custom--color--border);
				max-width: 100%;
				border-radius: 2px;
			}
		}

		.bbp-user-replies-created div.bbp-reply-content,
		.bbp-user-replies-created div.bbp-topic-content {
			margin-left: 0;
		}

		div.bbp-reply-content a,
		div.bbp-topic-content a {
			text-decoration: underline;
			font-weight: inherit;
		}

		div.bbp-reply-content a.mention,
		div.bbp-topic-content a.mention {
			text-decoration: none;
			font-weight: 700;
		}

		ul.bbp-topic-revision-log {
			color: var(--wp--preset--color--charcoal-1);
			font-size: var(--wp--preset--font-size--extra-small);
			border-top: 1px solid var(--wp--custom--color--border);
		}

		div.bbp-reply-content .bbp-reply-revision-log-item a,
		div.bbp-topic-content .bbp-topic-revision-log-item a {
			text-decoration: none;
		}

		li.bbp-body div.type-topic span.bbp-admin-links,
		li.bbp-body div.type-reply span.bbp-admin-links {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			background: none;
			padding: var(--wp--preset--spacing--10) calc(var(--wp--preset--spacing--20) - 5px);
			font-size: 0; // hide the pipe character separators for a11y

			a {
				color: var(--wp--custom--link--color--text);
				text-transform: inherit;
				font-size: var(--wp--preset--font-size--extra-small);
				padding: 3px 5px;

				&:not(:last-child) {
					border-right: 1px solid var(--wp--custom--color--border);
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul.status-closed,
		ul.status-closed a {
			color: inherit;
		}

		.bbp-topic-meta .bbp-topic-started-by,
		.bbp-topic-meta .bbp-topic-freshness-author,
		.bbp-topic-revision-log-item,
		.bbp-reply-revision-log-item {

			img.avatar {
				display: none; // Hides the avatar from single forum view.
			}

			a ~ a {
				margin-left: -3px; // Hides non-breaking space after the avatar.
			}
		}

		p.bbp-topic-meta .bbp-topic-started-in a {
			background: #eee;
		}

		p.bbp-topic-meta a {

			/* Override bb-base/style.css */
			color: var(--wp--custom--link--color--text);

			&:hover,
			&:focus,
			&:active {

				/* Override bb-base/style.css */
				text-decoration: underline;
			}
		}

		p.bbp-topic-meta span.bbp-author-name {
			white-space: normal;
		}

		p.wporg-bbp-topic-site-url {
			border-top: 1px solid var(--wp--custom--color--border);
			padding-top: 0.5rem;
		}

		p.wporg-bbp-topic-site-url::before {
			content: "\f103";
			color: #000;
			font-family: dashicons;
			font: 400 16px/1 dashicons;
			margin-right: 5px;
			float: left;
			padding-top: 3px;
		}

		p.wporg-bbp-topic-site-url a {
			display: inline-block;
			word-break: break-all;
		}

		.wporg-bbp-user-flag.flagged a {
			color: #f00;
		}

		p.wporg-bbp-user-is-blocked {
			display: inline-block;
			color: #f00;
		}

		.create-topic {

			@media (min-width: $paginationBreakPoint) {
				float: left;
			}
		}

		.bbp-create-topic-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin-bottom: var(--wp--style--block-gap);

			.create-topic {
				// Match search field
				line-height: var(--wp--custom--button--typography--line-height);
				padding-inline: var(--wp--custom--form--padding--inline);
				padding-block: var(--wp--custom--form--padding--block);
			}
		}

		.bbp-pagination {
			font-size: ms(-2);
			float: none;
			width: auto;
			display: flex;
			flex-direction: column;

			@media (min-width: $paginationBreakPoint) {
				display: block;
			}

			.page-numbers {
				background: #fff;
				border: 1px solid #b4b9be;
				color: #757575;
				font-size: inherit;
				line-height: inherit;
				padding: 2px 8px;
				margin-left: -1px;
				opacity: 1;
				flex: 1;

				// See: https://meta.trac.wordpress.org/ticket/6321
				@media (max-width: 375px) {
					padding: 2px 6px;
				}

				@media (min-width: $paginationBreakPoint) {
					flex: inherit;
				}

				&:not(.current):not(.dots):hover {
					background: var(--wp--preset--color--blueberry-1);
					color: #fff;
					text-decoration: none;
					border: 1px solid var(--wp--preset--color--blueberry-1);
				}

				&.current {
					background: #eee;
					color: #000;
				}

				&.dots {
					background: #fff;
					color: var(--wp--preset--color--charcoal-1);
				}

				&:first-child {
					border-radius: 3px 0 0 3px;
				}

				&:last-child {
					border-radius: 0 3px 3px 0;
				}
			}
		}

		h1 + .bbp-pagination {
			display: none !important;
		}

		.bbp-topic-pagination a {
			border: 1px solid #ddd;
		}
	}

	#bbpress-forums .bbp-pagination-links {
		display: flex;
		text-align: center;
		flex-wrap: wrap;
	}

	#bbpress-forums .bbp-pagination-count {
		color: var(--wp--preset--color--charcoal-3);
	}

	#bbpress-forums ul.bbp-forums,
	#bbpress-forums ul.bbp-lead-topic,
	#bbpress-forums ul.bbp-replies,
	#bbpress-forums ul.bbp-search-results,
	#bbpress-forums ul.bbp-topics,
	#bbpress-forums #bbp-user-wrapper {
		font-size: var(--wp--preset--font-size--normal);
	}

	#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
	#bbpress-forums #bbp-user-wrapper ul.bbp-replies {
		clear: both;
	}

	#wp-link-wrap {
		font-size: ms(-3);
	}

	#wp-link-wrap #wp-link #link-options label span,
	#wp-link-wrap #wp-link #search-panel label span.search-label {
		width: 90px;
	}

	@media screen and (min-width: 321px) {

		#bbpress-forums {

			.bbp-header,
			.bbp-body {

				li.bbp-topic-title {
					width: 60%;
				}

				li.bbp-topic-voice-count,
				li.bbp-topic-reply-count {
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				li.bbp-topic-voice-count {
					width: 12%;
				}

				li.bbp-topic-reply-count {
					width: 8%;
				}

				li.bbp-forum-freshness,
				li.bbp-topic-freshness {
					text-align: right;
					width: 20%;
				}
			}
		}
	}

	#bbpress-forums .bbp-forum-info .bbp-forum-content,
	#bbpress-forums p.bbp-topic-meta {
		font-size: var(--wp--preset--font-size--small);
	}

	#bbpress-forums p.bbp-topic-meta .bbp-topic-started-in a {
		font-size: var(--wp--preset--font-size--extra-small);
	}

	li.bbp-header li.bbp-forum-info,
	li.bbp-header li.bbp-topic-title {
		text-align: left !important;
	}

	li.bbp-topic-title {
		overflow-wrap: anywhere;
	}
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

#bbpress-forums {

	.bbp-reply-form {
		clear: both;
	}

	.bbp-topic-form fieldset.bbp-form button,
	.bbp-reply-form fieldset.bbp-form button { // specifc overwrites
		float: none;
		margin-top: 0;
	}

	#bbp-your-profile fieldset.submit button,
	.bbp-submit-wrapper {
		float: none;
	}

	fieldset.bbp-form .button.submit {

		@extend .button-primary;
	}

	.reviews-submit-link > .btn,
	.subscription-toggle,
	.favorite-toggle {

		@extend .button-primary;
	}

	.wporg-bbp-term-subscription {
		margin-bottom: var(--wp--style--block-gap);
	}
}

.viewmore {
	position: relative;
	padding-right: 18px;

	&:hover {
		text-decoration: underline !important;
	}

	&::after {
		content: "\f345";
		font-family: dashicons;
		position: absolute;
		top: 1px;
		right: 0;
	}
}

.rtl .viewmore {

	&::after {
		content: "\f341";
	}
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

#bbpress-forums {

	fieldset.log-edit {
		margin: 12px 0 8px 0;

		legend {
			padding: 0;
		}
	}

	#bbp-your-profile fieldset {
		padding: 0;
		margin: 0 0 var(--wp--style--block-gap);
		border: none;
	}

	fieldset.bbp-form select,
	fieldset.bbp-form input[type="text"],
	#bbp-your-profile fieldset input,
	#bbp-your-profile fieldset textarea,
	#bbp-your-profile fieldset select {
		height: unset;
		border-color: var(--wp--custom--form--border--color);
		padding: var(--wp--custom--form--padding--block) var(--wp--custom--form--padding--inline);
		background-color: var(--wp--custom--form--color--background);
		border-radius: var(--wp--custom--form--border--radius);
		min-height: 40px;

		&:focus {
			box-shadow: none;
		}

		&:focus-visible {
			box-shadow: none;
			outline: -webkit-focus-ring-color auto 1px;
		}

		&:disabled {
			border-color: var(--wp--custom--form--disabled--border-color);
		}
	}

	fieldset.bbp-form {

		input[type="checkbox"],
		input[type="radio"] {
			margin: 0;

			+ label {
				margin-left: 0.5em;
			}

			&:focus {
				box-shadow: none;
			}

			&:focus-visible {
				box-shadow: none;
				outline: -webkit-focus-ring-color auto 1px;
			}
		}

		label input[type="checkbox"],
		label input[type="radio"] {
			margin-right: 0.5em;
		}
	}

	#bbp-user-body {

		div.bbp-search-form {

			form > div {
				margin-bottom: var(--wp--style--block-gap);
				display: flex;

				input[type="text"] {
					flex: 1;
					margin-right: calc(var(--wp--preset--spacing--10) / 2);
				}
			}

			button,
			input {

				@media only screen and (max-width: 480px) {
					font-size: var(--wp--preset--font-size--small);
					padding: var(--wp--custom--form--padding--block) var(--wp--custom--form--padding--inline);
				}
			}
		}
	}

	@media (max-width: 767px) {

		#bbp-user-body {

			div.bbp-search-form {
				float: none;
			}

			h2.entry-title {
				clear: right;
			}
		}

		input[type="text"] {
			width: 100%;
		}
	}
}

body.single-forum #bbpress-forums .bbp-topic-form,
.bbp-view .bbp-topic-form {
	margin-top: var(--wp--preset--spacing--30);
	clear: both;
	border-top: none;

	ul {
		padding: 0 16px !important;

		li {
			list-style: initial !important;
		}
	}
}

.topic-edit #bbpress-forums .bbp-topic-form legend,
.reply-edit #bbpress-forums .bbp-reply-form legend {
	display: block;
}

body.reply-edit #bbpress-forums fieldset.bbp-form,
body.topic-edit #bbpress-forums fieldset.bbp-form {
	border: none;
	margin: 0 0 var(--wp--style--block-gap);
}

.reply-edit #bbpress-forums .form-reply-to {
	display: inline-block;
}

.reply-edit #bbpress-forums .form-reply-to #bbp_reply_to {
	width: 100%;
}

.topic-resolved {

	form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: calc(var(--wp--preset--spacing--10) / 2);
	}

	select {
		width: 130px;
	}
}

.topic-resolved-indicator {
	background-color: var(--wp--preset--color--vivid-green-cyan);
	top: var(--wp--preset--spacing--20);
	border-radius: 2px;
	color: var(--wp--preset--color--charcoal-1);

	&::before {
		color: var(--wp--preset--color--charcoal-1);
	}

	@media screen and (max-width: 480px) {
		top: -1px;
		right: -1px;
		border-top-left-radius: 0;
		border-bottom-right-radius: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

select {
	-webkit-appearance: menulist; // Get those arrows back into the select box.
}

/*--------------------------------------------------------------
# Notices
--------------------------------------------------------------*/

div.bbp-template-notice,
div.indicator-hint {
	margin: 0 0 var(--wp--style--block-gap);
	border: none;
	font-size: var(--wp--preset--font-size--small);
	// Matches notice block
	padding: 1.25em;
	color: var(--wp--preset--color--charcoal-1);
	background-color: var(--wp--preset--color--acid-green-3);
	border-radius: 2px;

	&.info {
		border: none;
		background-color: var(--wp--preset--color--blueberry-4);
	}

	&.error {
		border: none;
		background-color: var(--wp--preset--color--pomegrade-3);
	}

	&.warning,
	&.important {
		border: none;
		background-color: var(--wp--preset--color--lemon-3);
	}

	a {
		color: var(--wp--preset--color--blueberry-1);
		text-decoration: underline;

		&:hover {
			color: var(--wp--preset--color--blueberry-1);
		}
	}

	ul:last-child {
		margin-bottom: 0;
	}

	p,
	li {
		font-size: var(--wp--preset--font-size--small);
		padding: 0;
	}
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.forum-archive.wporg-support,
.home.wporg-support {

	.helphub-front-page {

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				padding: calc(var(--wp--preset--spacing--10) / 2) 0;
			}
		}


		.icon-wrapper,
		.dashicons {
			display: none;
		}


		#bbp-search-form #bbp_search {
			width: 100%;
		}
	}

	#bbpress-forums {

		.bbp-forums {
			border: none;
		}

		div.odd {
			background: transparent;
		}
	}

	.col-8 {
		margin-left: 0;
	}

	ul#views {
		text-align: center;
		font-size: ms(-2);
		margin: 0;
	}

	.helpful-links {

		> div:last-child {
			font-size: ms(-2);
		}

		@media (min-width: $ms-breakpoint) {

			> div {
				width: 65%;
				float: left;
				margin-right: 5%;

				&:last-child {
					width: 30%;
					margin-right: 0;
				}
			}
		}
	}

	.forums-homepage-themes-plugins {

		@media screen and (min-width: 600px) {
			grid-column: 1 / 4;

			&.span-1 {
				grid-column: 3 / 4;
			}

			&.span-2 {
				grid-column: 2 / 4;
			}
		}
	}
}


/*--------------------------------------------------------------
# Single Forum
--------------------------------------------------------------*/
.sidebar {

	.forum-info li::before,
	.topic-info li::before,
	div ul li a::before {
		float: left;
		margin-right: 5px;
	}

	.forum-info .forum-freshness-time::before,
	.topic-info .topic-freshness-time::before,
	.topic-info .topic-freshness-author::before {
		height: 30px;
	}

	.forum-info .forum-freshness-time a,
	.topic-info .topic-freshness-time a,
	.topic-info .topic-freshness-author a {
		display: inline-block;
	}

	.feed {
		background: none;
		padding-left: 0;
	}
}


/*--------------------------------------------------------------
# Single Topic
--------------------------------------------------------------*/
body.single-topic:not(body.topic-edit) {

	.entry-content {

		#bbpress-forums {
			overflow: visible;

			ul.bbp-lead-topic {
				margin-bottom: 15px;
			}

			div.bbp-pagination .bbp-pagination-count {
				margin-bottom: 0;
			}

			ul.bbp-replies {
				border-top: 1px solid var(--wp--custom--color--border);
				margin-top: var(--wp--preset--spacing--30);
				padding-top: var(--wp--preset--spacing--30);
			}

			ul.bbp-lead-topic li.bbp-body,
			div.reply.status-publish {
				border: 1px solid var(--wp--custom--color--border);
				border-radius: 2px;
			}

			ul.bbp-lead-topic li.bbp-body div.topic,
			div.reply.status-publish {
				background: var(--wp--preset--color--light-grey-3);
			}

			ul.bbp-lead-topic li.bbp-body div.topic {

				&.status-closed,
				&.sticky,
				&.super-sticky {
					padding-top: var(--wp--preset--spacing--30);
				}

				&.author-has-badge {
					padding-top: 80px;
				}
			}

			div.reply.status-publish {
				scroll-margin-top: var(--wp--custom--local-navigation-bar--spacing--height);
				margin-bottom: var(--wp--preset--spacing--30);
			}

			div.even:not(.topic):not(.reply):not(.reported_topics),
			ul.even,
			div.odd:not(.reply),
			ul.odd {
				background: var(--wp--preset--color--white);
				border-top: 2px solid var(--wp--custom--color--border);
			}

			// Ratings
			.wporg-ratings {
				margin: var(--wp--preset--spacing--20) 0;
			}

			// Show dashicon if topic is sticky or closed
			.topic {
				position: relative;

				> .topic-indicator {
					display: none;

					.dashicons {
						display: none;
					}
				}

				&.sticky,
				&.super-sticky,
				&.status-closed {

					> .topic-indicator {
						display: block;
						position: absolute;
						top: -1px;
						left: -1px;
						width: 30px;
					}
				}

				&.sticky .dashicons-admin-post,
				&.super-sticky .dashicons-admin-post,
				&.status-closed .dashicons-lock {
					display: block;
					float: left;
					color: #fff;
					background: #ffd700;
					padding-top: 3px;
					width: 30px;
					height: 25px;
					border-radius: 0 0 3px 0;
				}

				&.status-closed .dashicons-admin-post,
				&.status-closed .dashicons-lock {
					background: var(--wp--preset--color--charcoal-5);
				}
			}
		}

		header {
			background: unset;
			border: unset;
			padding: unset;
		}
	}
}

div.bbp-breadcrumb {
	font-size: var(--wp--preset--font-size--small);
	margin: 0;
	float: none;
	padding: 15px 0;

	p {
		display: flex;
		position: relative;
		max-width: 100%;
		margin: 0 !important;
		overflow-x: auto;
		mask-image: linear-gradient(to right, #000 calc(100% - 60px), transparent);
		color: var(--wp--preset--color--charcoal-1);
		text-overflow: clip;
		white-space: nowrap;

		&::after {
			content: "";
			display: inline-block;
			width: 60px;
		}
	}

	a {
		color: var(--wp--preset--color--charcoal-4);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.bbp-breadcrumb-sep {
		margin: 0 10px;
		color: var(--wp--preset--color--light-grey-1);
	}
}

.sidebar {

	.topic-info li.topic-report {

		select,
		input[type="text"],
		textarea {
			width: 100%;
			margin: 4px 0 8px;
		}

		.topic-report-notice {
			margin-bottom: 1em;
			padding: 4px;
			background-color: #dfffe9;

			&.topic-report-notice-type-error {
				background-color: #ffdbdb;
			}

			&.topic-report-notice-type-warning {
				background-color: #fbffdf;
			}
		}

		/* Remove the margin bottom of a bbpress <p> tag. */
		#topic-report-reason + p {
			margin-bottom: 0;
		}
	}

	.topic-info li.topic-previous-reports {

		.previous-reports {
			padding-left: 0;

			li {
				list-style: inside;
			}
		}
	}

	.plugin-meta-icon,
	.theme-meta-icon {
		border-top: 0;
	}

	.plugin-icon {
		margin: 0;
		height: 128px;
		width: 128px;
		background-size: contain;
	}
}


/*--------------------------------------------------------------
# User Profile
--------------------------------------------------------------*/
.bbp-single-user {

	input[type="text"] {

		@media (max-width: 767px) {

			&#ts {
				margin-bottom: 6px;
			}
		}
	}
}

.bbpress #bbpress-forums #bbp-user-wrapper {
	font-size: var(--wp--preset--font-size--small);

	h2.entry-title {
		font-size: var(--wp--preset--font-size--heading-4);
		padding-bottom: unset;
		margin: 0 0 var(--wp--style--block-gap);
	}

	.bbp-user-section {
		margin-top: var(--wp--style--block-gap);
	}
}

#bbpress-forums #bbp-single-user-details {

	#bbp-user-avatar {

		a {
			display: block;
		}

		img.avatar {
			margin-bottom: unset;
		}
	}

	#bbp-user-navigation li {

		a {
			padding-left: unset;
		}

		&.current a {
			background: unset;
			opacity: unset;
			font-weight: 600;
		}
	}
}


/*--------------------------------------------------------------
# Plugin / Theme specific support pages
--------------------------------------------------------------*/

.bbp-view { // This is my hook for both the plugin/theme support review page and the actual plugin/theme support forum
	// Review page
	.review-ratings {

		@extend .clear;
		margin-bottom: ms(0);
		padding-bottom: 10px;
		border-bottom: 1px solid var(--wp--custom--color--border);
		display: flex;
		flex-direction: row-reverse;

		.col-3 {
			font-size: ms(-2);
			margin: 0;
			min-width: 40%;
			border-top: 1px solid var(--wp--custom--color--border);
			flex-shrink: 0;

			.reviews-total-count {
				font-weight: 700;
				padding-bottom: 5px;
				padding-top: 5px;
			}

			.counter-bar {
				background-color: var(--wp--preset--color--pomegrade-1) !important;
			}
		}

		.col-5 {
			margin: 0 0 10px 0;
			padding-right: 10px;
			width: 60%;
			min-width: 54%;
			font-size: ms(-2);

			> div:first-child {

				@extend h4;
				margin-top: 0;
			}

			.wporg-ratings {
				display: inline-block;
				margin-right: ms(0);
			}

			.reviews-submit-link {
				margin-top: ms(0);
			}
		}

		@media (max-width: 499px) {
			flex-direction: column-reverse;

			.col-3, .col-5 {
				width: 100%;
			}
		}
	}
}
