/*
Theme Name: P2 for make.wordpress.org
Template: p2
Description: Child theme of p2, with modifications specifically for make.wordpress.org p2 blogs.
*/

/* Handbook-specific styles */
.post-type-archive-handbook .postcontent,
.single-handbook .postcontent {
	padding-left: 0;
}

.post-type-archive-handbook ul#menu-table-of-contents a[href="#"],
.single-handbook ul#menu-table-of-contents a[href="#"] {
	font-weight: bold;
	color: #555;
	font-size: 115%;
	padding: 4px 0;
	display: block;
	cursor: text;
}

.post-type-archive-handbook ul#menu-table-of-contents a[href="#"]:hover,
.single-handbook ul#menu-table-of-contents a[href="#"]:hover {
	color: #555!important;
}

.post-type-archive-handbook ul#menu-table-of-contents a,
.single-handbook ul#menu-table-of-contents a {
	color: #555;
}

.post-type-archive-handbook h2.widgettitle,
.single-handbook h2.widgettitle {
	background: #d6d6d6;
	margin-bottom: 0!important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 13px!important;
	padding: 5px 0;
}

.post-type-archive-handbook #wrapper a,
.single-handbook #wrapper a {
	color: #267db2;
}

.post-type-archive-handbook #wrapper .handbook-name a,
.single-handbook #wrapper .handbook-name a {
	color: inherit;
}

.post-type-archive-handbook .current-menu-item a,
.single-handbook .current-menu-item a {
	color: #267db2!important;
	font-weight: bold!important;
}

.post-type-archive-handbook .current-menu-item ul li a,
.single-handbook .current-menu-item ul li a {
	color: #555!important;
	font-weight: normal!important;
}

.single-handbook #wrapper a:hover,
.post-type-archive-handbook #wrapper a:hover,
.single-handbook .current-menu-item ul li a:hover,
.post-type-archive-handbook .current-menu-item ul li a:hover {
	color: #d54e21!important;
}

.post-type-archive-handbook div.table-of-contents,
.single-handbook div.table-of-contents {
	float: right;
	width: 200px;
	background: #f5f5f5;
	border: 1px solid #d6d6d6;
	margin: 0 0 0 10px;
	z-index: 1;
	position: relative;
}

.post-type-archive-handbook div.table-of-contents h2,
.single-handbook div.table-of-contents h2 {
	margin: 0;
	padding-bottom: 8px!important;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em!important;
	letter-spacing: 3px;
	background: #d6d6d6;
}

.post-type-archive-handbook ul.items,
.single-handbook ul.items {
	margin-bottom: 8px!important;
	list-style-type: none!important;
	padding-right: 10px;
}

.post-type-archive-handbook ul.items li,
.single-handbook ul.items li {
	padding-bottom: 6px!important;
}

.post-type-archive-handbook ul.items li ul li,
.post-type-archive-handbook ul.items li ul li ul li,
.single-handbook ul.items li ul li,
.single-handbook ul.items li ul li ul li {
	padding-bottom: 0!important;
}

.post-type-archive-handbook ul.items li a,
.single-handbook ul.items li a {
	color: #555!important;
}

li.type-handbook {
	padding-top: 0!important;
}

li.type-handbook code {
	background: #eee;
	text-shadow: 0 1px 0 #fff;
	padding: 4px 6px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.handbook-page-title {
	font-size: 2em;
}

li.type-handbook h2 {
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	margin: 1em 0;
}

li.type-handbook h3 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0;
}

li.type-handbook h4 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.post-type-archive-handbook ul#menu-table-of-contents,
.single-handbook ul#menu-table-of-contents {
	padding: 12px;
	background: #f5f5f5;
}

.post-type-archive-handbook ul#menu-table-of-contents > li,
.single-handbook ul#menu-table-of-contents > li {
	list-style: none;
}

.post-type-archive-handbook ul#menu-table-of-contents li ul a ,
.single-handbook ul#menu-table-of-contents li ul a {
	font-weight: normal;
}

.post-type-archive-handbook .sleeve_main,
.single-handbook .sleeve_main {
	float: right;
}

.post-type-archive-handbook #wrapper,
.single-handbook #wrapper {
	padding-right: 0;
	padding-left: 236px;
}

.post-type-archive-handbook #sidebar,
.single-handbook #sidebar {
	float: left;
	margin-right: 0;
	margin-left: -236px;
}

.handbook-name {
	text-align: center;
	color: #aaa;
	margin-left: -225px;
	margin-right: 14px;
	overflow-x: hidden;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
}
.handbook-name span {
	display: inline-block;
	position: relative;
}
.handbook-name span:before,
.handbook-name span:after {
	content: "";
	position: absolute;
	border-top: 1px solid #ccc;
	top: 49%;
	width: 600px;
}
.handbook-name span:before {
	right: 100%;
	margin-right: 10px;
}
.handbook-name span:after {
	left: 100%;
	margin-left: 10px;
}

/* Responsive design for handbooks */
@media (max-width: 320px) {
	.post-type-archive-handbook	#main h2,
	.single-handbook #main h2 {
		display: inline !important; /* override P2 iPhone styles */
	}
}

@media (max-width: 480px) {
	.post-type-archive-handbook .sleeve_main,
	.single-handbook .sleeve_main {
		margin: 0;
		padding: 0 10px;
	}

	.post-type-archive-handbook #wrapper,
	.single-handbook #wrapper {
		padding: 0 !important;
	}

	.post-type-archive-handbook .sleeve_main,
	.single-handbook .sleeve_main {
		padding: 0;
	}

	.post-type-archive-handbook #main h6 span.meta span.actions,
	.single-handbook #main h6 span.meta span.actions {
		font-size: 11px !important;
	}

	.post-type-archive-handbook #main ul#postlist li span.actions a.comment-reply-link,
	.single-handbook #main ul#postlist li span.actions a.comment-reply-link {
		display: inline-block !important;
		padding: 0 !important;
	}

	.post-type-archive-handbook #main ul#postlist li span.actions a.comment-reply-link:hover,
	.post-type-archive-handbook #main ul#postlist li span.actions a.comment-reply-link:focus,
	.post-type-archive-handbook #main ul#postlist li span.actions a.comment-reply-link:active,
	.single-handbook #main ul#postlist li span.actions a.comment-reply-link:hover,
	.single-handbook #main ul#postlist li span.actions a.comment-reply-link:focus,
	.single-handbook #main ul#postlist li span.actions a.comment-reply-link:active {
		color: #d54e21 !important;
	}

	.post-type-archive-handbook #main h6,
	.single-handbook #main h6 {
		margin: 0 0 20px 0;
	}

	.post-type-archive-handbook #main .actions,
	.single-handbook #main .actions {
		position: relative;
		float: right;
	}

	.post-type-archive-handbook #sidebar,
	.single-handbook #sidebar {
		margin-left: 0;
	}

	.post-type-archive-handbook #main #respond,
	.single-handbook #main #respond {
		margin-left: 0;
	}

	.post-type-archive-handbook .table-of-contents,
	.single-handbook .table-of-contents {
		display: none;
	}

	.post-type-archive-handbook #main h2,
	.single-handbook #main h2 {
		font-size: 20px !important;
		padding-bottom: 5px!important;
		font-weight: normal;
	}

	.post-type-archive-handbook #main ul#postlist,
	.single-handbook #main ul#postlist {
		margin: 0!important;
		clear: both;
	}

	/* Override P2 iPhone styles */
	#main ul#postlist li span.actions a.comment-reply-link {
		background: none!important;
		-webkit-border-radius: 0!important;
		-webkit-box-shadow: none!important;
		color: #555!important;
		display: block;
		font-weight: normal!important;
		padding: 0 10px 0 0!important;
		position: relative!important;
		top: 0!important;
		right: 0!important;
	}

	#main ul#postlist li abbr {
		display: inline!important;
	}
}

@media (max-width: 700px) {
	.post-type-archive-handbook #wrapper,
	.single-handbook #wrapper {
		margin: 0 13px 0 13px;
		padding-left: 0 !important;
		padding-bottom: 0!important;
	}

	.post-type-archive-handbook #sidebar,
	.single-handbook #sidebar {
		margin: 0;
		padding: 5px 0 0 0;
		display: block !important;
	}

	.post-type-archive-handbook #sidebar ul li,
	.single-handbook #sidebar ul li {
		padding: 4px 0 10px 0;
	}

	.post-type-archive-handbook #sidebar ul li ul li,
	.single-handbook #sidebar ul li ul li {
		padding: 4px 0;
	}

	.post-type-archive-handbook h2.widgettitle,
	.single-handbook h2.widgettitle {
		background-color: #267db2; /* #d6d6d6 when collapsed */
		color: white; /* #666 when collapsed */
	}

	.post-type-archive-handbook h2.widgettitle:after,
	.single-handbook h2.widgettitle:after {
		font-family: "dashicons";
		font-size: 2em;
		content: "\f140";
		position: absolute;
		right: 2px;
		top: -2px;
	}
	.handbook-name {
		margin: 1em 0 0;
	}
}
/* Header design */
#headline {
	height: auto;
	overflow: hidden;
}
#headline h2 {
	margin-bottom: 16px;
}

/* Secondary header design */
.menu-makecore-nav-container {
	overflow: hidden;
}

#headline .menu {
	list-style: none;
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding-top: 22px;
	margin-right: 15px;
}

#headline .menu li {
	display: inline;
	padding-left: 20px;
}

#headline .menu a:hover,
#headline .menu a:focus {
	color: #2ea2cc;
}

/* Responsive design for secondary header */
@media (max-width: 480px) {
	#headline h2 {
		margin-left: 6px;
		font-size: 20px;
	}

body.wporg-make #headline h2 a:before {
		font-size: 20px;
		width: 24px;
	}
}

@media (max-width: 740px) {
	#headline h2 {
		float: none;
	}
	#headline .menu {
		float: left;
		margin: 0;
		padding: 8px 0;
		background: #f5f5f5;
		border-top: 1px solid #d7d7d7;
		width: 100%;
	}
	.handbook-name {
		margin-top: 1em;
	}
}


html body {
	line-height: normal;
	background: white;
}

html #wporg-header {
	width: auto;
	min-height: 0;
}

#wporg-header h1 {
	display: block;
	padding: 0 0 0 10px;
}

#header2 {
	background: #dfdfdf;
}

body .main-navigation {
	width: 980px;
	margin: 0 auto;
	float: none;
}

.single #main .controls {
	position: relative;
}

html #wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: white;
}

html #wporg-footer {
	line-height: 22px;	/* should match value in wp4.css body element */
}

li a:hover {
	border: 0;
}

html .alt {
	background: transparent;
}

html h4 {
	border: 0;
}

#searchsubmit {
	padding: 0 !important;
}

/* To align subnav (including hover) with the rest of the header */
ul#menu-wp-org-headline-nav.menu {
	margin-left: 20px;
}

/* To account for modifications to the "Post it" button on open access P2s */
#postbox input#tags {
	width: 70%;
}

.jetpack_subscription_widget input[type="submit"] {
	padding: 0 10px !important;
}

/* Fix styling of action links which can clash with the content below it */
#main h4 {
	position: static;
}

#main ul#postlist li {
	position: relative;
}

#main h6 {
	background-color: #f5f5f5;
	height: 18px;
	padding: 0;
	margin: 0 0 20px 0;
}

#main h6 span.meta span.actions {
    font-size: 1.5em;
	font-family: Arial;
}

#main h6 span.meta span.actions a,
#main h6 span.meta span.actions a:active,
#main h6 span.meta span.actions a:visited,
#main .selected h6 span.meta span.actions a,
#main .selected h6 span.meta span.actions a:active,
#main .selected h6 span.meta span.actions a:visited {
	color: #555;
	text-decoration: none!important;
	border-bottom: 0;
}

#main h6 span.meta span.actions a:hover,
#main .selected h6 span.meta span.actions a:hover {
	color: #d54e21;
}

#main p, #main ul, #main ol {
	line-height: 1.4; /* override 1.4em which will compress headlines */
}

/* Fix display of empty comments (which can happen on edit) */
#main .commentlist .commentcontent {
	min-height: 2.4em;
}

/* Fix display of multi-line table cell content */
.postcontent table td {
	vertical-align: top;
}

/* Add some space below tag/category descriptions */
#tag-description,
#category-description {
	margin-bottom: 2em;
}

/*- bbPress Specific Styles ----------*/
body.bbPress #main ul#postlist li {
	border-top-style: none;
	border-top-width: 0;
	padding: 0;
	margin: 0;
}

body.bbPress #main ul#postlist li.bbp-header,
body.bbPress #main ul#postlist li.bbp-footer {
	padding: 10px;
}

body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-reply-revision-log img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-topic-revision-log img.avatar,
body.bbPress #main #bbpress-forums div.bbp-template-notice img.avatar,
body.bbPress #main #bbpress-forums .widget_display_topics img.avatar,
body.bbPress #main #bbpress-forums .widget_display_replies img.avatar,
body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar {
	display: inline;
	margin: -2px 2px 0 0;
	border: 1px solid #eee;
}

body.bbPress #main #bbpress-forums p a {
	border: none;
}

body.bbPress #main #bbpress-forums div.bbp-topic-author a.bbp-author-name,
body.bbPress #main #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 10px auto -10px;
	display: block;
}

.make-welcome {
	font-size: 14px;
	color: #333;
	line-height: 1.45;
	background: #e4f2fd;
	border: 1px solid #d9e1e7;
	max-width: 978px;
	margin: 10px auto 0;
}
.make-welcome {
	padding-bottom: 14px;
}
.make-welcome h4 {
	margin: 14px 0;
}
.make-welcome p {
	display: inline;
}
.make-welcome h4,
.make-welcome .welcome p:first-child {
	font-weight: normal;
	font-size: 18px;
	font-family: "Open Sans", serif;
}
.make-welcome .column {
	vertical-align: top;
	display: inline-block;
	padding: 0 1.5%;
}
.make-welcome .welcome {
	padding-top: 1%;
}

@media screen and (min-width: 960px) {
	.make-welcome {
		padding-bottom: 0;
	}
	.make-welcome p {
		display: block;
	}
	.make-welcome .column {
		width: 30%;
		padding: 1.5%;
	}
	.make-welcome .welcome p:first-child {
		font-size: 22px;
		margin: 12px 0 23px;
	}
	.make-welcome h4, .make-welcome p {
		margin-bottom: 14px;
	}
}

/* Styles for docs issue tracker */
table#issuelist, #issuelist th, #issuelist td {
	width: 950px;
	border: 2px solid;
	border-color: #f1f1f1;
	border-collapse:collapse;
	margin:0;
	padding:4px;
	border-spacing:0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

#issuelist th {
	font-weight:bold;
	color: #000;
}

.issue-report, .issue-link, .issue-assignee {
	color: #1374A2;
}

.issue-type {
	color: #C52617;
}

.issue-status {
	color: #6EB015;
}

.issue-resolved {
	background-color: #f1f1f1;
}

.issueinputarea div, .issueinputarea textarea {
	width:100%;
	margin-top:12px;
}

.issueinputarea .thanks {
	background: #f1f1f1;
	font-weight:bold;
	padding: 5px 0px 0px 5px;
	margin:0;
}

.issueinputarea .issuelink input {
	width:98%;
	margin:6px 0;
	padding:0;
}

.issueinputarea .issuelink .right{
	float:right;
	font-style:italic;
}

.issueinputarea .issuetype, .issueinputarea .recommended {
	clear:both;
}

.issueinputarea .issuetype select {
	float:right;
}

.issue-pagenav {
	float:right;
	clear:both;
	font-size:14px;
}

.issue-pagenav .page-numbers{
	display:inline-block;
	border:1px solid #f7f7f7;
	background-color:#f7f7f7;
	margin:1px;
	padding:3px;
	color:black;
}


.issue-pagenav .page-numbers.current{
	background-color:#0274A2;
	color:white;
}

/* General responsive overrides */
#wrapper {
	width: auto;
	max-width: 742px; /* 978 - 236 */
	padding-right: 236px;
}
#post-types {
	width: auto;
}
#postbox div.avatar {
	clear: left;
}
#postbox input#posttitle,
#postbox input#postcitation,
#postbox textarea#posttext, textarea.posttext {
	display: block;
}
#postbox .inputarea {
	float: left;
	padding-left: 10px;
	width: calc(100% - 60px);
}
#postbox form#new_post {
	margin-top: 0;
}
#postbox textarea#posttext {
	clear: left;
}
#postbox .clear {
	clear: both;
}
.sleeve_main {
	float: left;
	margin-right: 0;
	width: 100% !important; /* important overrides p2/style-iphone.css:512 */
}
#sidebar {
	margin-right: -236px;
}

@media screen and (max-width: 700px) {
	#wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	#sidebar {
		clear: both;
		margin: 0;
		position: static;
		width: 100%;
		float: none;
	}
	#sidebar ul {
		margin-bottom: 0;
	}
	#sidebar ul li {
		margin-bottom: 0;
	}
	#main {
		padding: 0 0 10px 0;
	}
	#main .controls {
		position: static;
	}
}
