/*
Theme Name: P2 for make.wordpress.org
Template: p2
Description: Child theme of p2, with modifications specifically for make.wordpress.org p2 blogs.
*/

.post-type-archive-handbook .postcontent,
.single-handbook .postcontent {
	padding-left: 0;
}

.post-type-archive-handbook .sleeve_main,
.single-handbook .sleeve_main {
	margin-left: 242px;
	margin-right: 0;
}

.post-type-archive-handbook #sidebar,
.single-handbook #sidebar {
	float: left;
	margin-left: 0;
	margin-right: -1px;
}

li.type-handbook code {
    background: #eee;
	text-shadow: 0 1px 0 #fff;
	padding: 4px 6px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.handbook-page-title {
    font-size: 2em;
    padding-bottom: 4px;
    color: #777;
}
li.type-handbook h2 {
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	margin: 1em 0;
}

li.type-handbook h3 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0;
}

li.type-handbook h4 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 16px;
	font-weight: bold;
	margin: 1em 0;
}

ul#menu-table-of-contents > li {
	list-style: none;
	margin-bottom: 16px;
}

ul#menu-table-of-contents li ul a {
	font-weight: normal;
}

#headline .menu {
	list-style: none;
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding-top: 22px;
	margin-right: 15px;
}

#headline .menu li {
	display: inline;
	padding-left: 20px;
}

html body {
	line-height:normal;
	background:white;
}

html #header {
	width:auto;
	min-height:0;
}

#header h1 {
	display:inline;
	padding:0;
}

#header2 {
	background: #dfdfdf;
}

body .main-navigation {
	width: 980px;
	margin: 0 auto;
	float: none;
}

.single #main .controls {
	position:relative;
}

html #wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background:white;
}

html #footer {
	width:952px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin:0 auto 20px;
	border:0;
	padding-bottom:20px;
}

html #footer p {
	float:none;
	font-size:12px;
}

li a:hover {
	border:0;
}

html .alt {
	background:transparent;
}

html h4 {
	border:0;
}

#searchsubmit {
	padding:0 !important;
}

.jetpack_subscription_widget input[type="submit"] {
	padding:0 10px !important;
}

/*- bbPress Specific Styles ----------*/

body.bbPress #main ul#postlist li {
	border-top-style: none;
	border-top-width: 0;
	padding: 0;
	margin: 0;
}

body.bbPress #main ul#postlist li.bbp-header,
body.bbPress #main ul#postlist li.bbp-footer {
	padding: 10px;
}

body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-reply-revision-log img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-topic-revision-log img.avatar,
body.bbPress #main #bbpress-forums div.bbp-template-notice img.avatar,
body.bbPress #main #bbpress-forums .widget_display_topics img.avatar,
body.bbPress #main #bbpress-forums .widget_display_replies img.avatar,
body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar {
	display: inline;
	margin: -2px 2px 0 0;
	border: 1px solid #eee;
}

body.bbPress #main #bbpress-forums p a {
	border: none;
}

body.bbPress #main #bbpress-forums div.bbp-topic-author a.bbp-author-name,
body.bbPress #main #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 10px auto -10px;
	display: block;
}
