/*
Theme Name: P2 for make.wordpress.org
Template: p2
Description: Child theme of p2, with modifications specifically for make.wordpress.org p2 blogs.
*/

.post-type-archive-handbook .postcontent,
.single-handbook .postcontent {
	padding-left: 0;
}

.post-type-archive-handbook .sleeve_main,
.single-handbook .sleeve_main {
	margin-left: 242px;
	margin-right: 0;
}

.post-type-archive-handbook #sidebar,
.single-handbook #sidebar {
	float: left;
	margin-left: 6px;
}

/* Better styling for handbook sidebars if they use a "Table of Contents" menu */
.post-type-archive-handbook ul#menu-table-of-contents a[href="#"],
.single-handbook ul#menu-table-of-contents a[href="#"]{
	font-weight: bold;
	color: #555;
	font-size: 115%;
	padding: 4px 0;
	display: block;
	cursor: text;
}

.post-type-archive-handbook ul#menu-table-of-contents a,
.single-handbook ul#menu-table-of-contents a {
	color: #555;
}

.post-type-archive-handbook h2.widgettitle,
.single-handbook h2.widgettitle {
	background: #d6d6d6;
	margin-bottom: 0!important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 13px!important;
	padding: 5px 0;
}

.single-handbook a {
	color: #267db2;
}

.single-handbook .current-menu-item a {
	color: #267db2!important;
	font-weight: bold!important;
}

.single-handbook .current-menu-item ul li a {
	color: #555!important;
	font-weight: normal!important;
}

.single-handbook a:hover,
.single-handbook .current-menu-item ul li a:hover {
	color: #d54e21!important;
}

.single-handbook div.table-of-contents {
	float: right;
	width: 200px;
	background: #f5f5f5;
	border: 1px solid #d6d6d6;
	margin: 0 0 0 10px;
	z-index: 1;
	position: relative;
}

.single-handbook div.table-of-contents h2 {
	margin: 0;
	padding-bottom: 8px!important;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em!important;
	letter-spacing: 3px;
	background: #d6d6d6;
}

.single-handbook ul.items {
	margin-bottom: 8px!important;
	list-style-type: none!important;
	padding-right: 10px;
}

.single-handbook ul.items li {
	padding-bottom: 6px!important;
}

.single-handbook ul.items li ul li,
.single-handbook ul.items li ul li ul li {
	padding-bottom: 0!important;
}

.single-handbook ul.items li a {
	color: #555;
}

li.type-handbook {
	padding-top: 0!important;
}

li.type-handbook code {
	background: #eee;
	text-shadow: 0 1px 0 #fff;
	padding: 4px 6px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.handbook-page-title {
	font-size: 2em;
}

li.type-handbook h2 {
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	margin: 1em 0;
}

li.type-handbook h3 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0;
}

li.type-handbook h4 {
	text-transform: none;
	letter-spacing: 0;
	color: #555;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

ul#menu-table-of-contents {
	padding: 12px;
	background: #f5f5f5;
}

ul#menu-table-of-contents > li {
	list-style: none;
	margin-bottom: 16px;
}

ul#menu-table-of-contents li ul a {
	font-weight: normal;
}

#headline .menu {
	list-style: none;
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding-top: 22px;
	margin-right: 15px;
}

#headline .menu li {
	display: inline;
	padding-left: 20px;
}

html body {
	line-height: normal;
	background: white;
}

html #wporg-header {
	width: auto;
	min-height: 0;
}

#wporg-header h1 {
	display: block;
	padding: 0 0 0 10px;
}

#header2 {
	background: #dfdfdf;
}

body .main-navigation {
	width: 980px;
	margin: 0 auto;
	float: none;
}

.single #main .controls {
	position: relative;
}

html #wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: white;
}

html #wporg-footer {
	line-height: 22px;	/* should match value in wp4.css body element */
}

li a:hover {
	border: 0;
}

html .alt {
	background: transparent;
}

html h4 {
	border: 0;
}

#searchsubmit {
	padding: 0 !important;
}

/* To align subnav (including hover) with the rest of the header */
ul#menu-wp-org-headline-nav.menu {
	margin-left: 20px;
}

/* To account for modifications to the "Post it" button on open access P2s */
#postbox input#tags {
	width: 70%;
}

.jetpack_subscription_widget input[type="submit"] {
	padding: 0 10px !important;
}

/* Fix styling of action links which can clash with the content below it */
#main h4 {
	position: static;
}

#main ul#postlist li {
	position: relative;
}

#main h6 {
	background-color: #f5f5f5;
	height: 20px;
	padding: 0;
	margin: 0 0 20px 0;
}

#main h6 span.meta span.actions {
    font-size: 1.5em;
	font-family: Arial;
}

#main h6 span.meta span.actions a,
#main h6 span.meta span.actions a:active,
#main h6 span.meta span.actions a:visited,
#main .selected h6 span.meta span.actions a,
#main .selected h6 span.meta span.actions a:active,
#main .selected h6 span.meta span.actions a:visited {
	color: #555;
	text-decoration: none!important;
	border-bottom: 0;
}

#main h6 span.meta span.actions a:hover,
#main .selected h6 span.meta span.actions a:hover {
	color: #d54e21;
}

/* Fix display of empty comments (which can happen on edit) */
#main .commentlist .commentcontent {
	min-height: 2.4em;
}

/* Fix display of multi-line table cell content */
.postcontent table td {
	vertical-align: top;
}

/* Add some space below tag/category descriptions */
#tag-description,
#category-description {
	margin-bottom: 2em;
}

/*- bbPress Specific Styles ----------*/
body.bbPress #main ul#postlist li {
	border-top-style: none;
	border-top-width: 0;
	padding: 0;
	margin: 0;
}

body.bbPress #main ul#postlist li.bbp-header,
body.bbPress #main ul#postlist li.bbp-footer {
	padding: 10px;
}

body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-reply-revision-log img.avatar,
body.bbPress #main #bbpress-forums ul.bbp-topic-revision-log img.avatar,
body.bbPress #main #bbpress-forums div.bbp-template-notice img.avatar,
body.bbPress #main #bbpress-forums .widget_display_topics img.avatar,
body.bbPress #main #bbpress-forums .widget_display_replies img.avatar,
body.bbPress #main #bbpress-forums p.bbp-topic-meta img.avatar {
	display: inline;
	margin: -2px 2px 0 0;
	border: 1px solid #eee;
}

body.bbPress #main #bbpress-forums p a {
	border: none;
}

body.bbPress #main #bbpress-forums div.bbp-topic-author a.bbp-author-name,
body.bbPress #main #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 10px auto -10px;
	display: block;
}

.make-welcome {
	font-size: 14px;
	color: #333;
	line-height: 1.45;
	background: #e4f2fd;
	border: 1px solid #d9e1e7;
	margin-bottom: 10px;
}
.make-welcome h4 {
	font-weight: normal;
	font-size: 18px;
	font-family: "Open Sans", serif;
}
.make-welcome h4, .make-welcome p {
	margin-bottom: 14px;
}
.make-welcome .welcome p:first-child {
	font-size: 22px;
	margin: 12px 0 23px;
	font-family: "Open Sans", serif;
}
.make-welcome .column {
	vertical-align: top;
	display: inline-block;
	width: 30%;
	min-width: 290px;
	padding: 1.5%;
}
.make-welcome .welcome {
	padding-top: 1%;
}


/* Styles for docs issue tracker */
table#issuelist, #issuelist th, #issuelist td {
	width: 950px;
	border: 2px solid;
	border-color: #f1f1f1;
	border-collapse:collapse;
	margin:0;
	padding:4px;
	border-spacing:0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

#issuelist th {
	font-weight:bold;
	color: #000;
}

.issue-report, .issue-link, .issue-assignee {
	color: #1374A2;
}

.issue-type {
	color: #C52617;
}

.issue-status {
	color: #6EB015;
}

.issue-resolved {
	background-color: #f1f1f1;
}

.issueinputarea div, .issueinputarea textarea {
	width:100%;
	margin-top:12px;
}

.issueinputarea .thanks {
	background: #f1f1f1;	
	font-weight:bold;
	padding: 5px 0px 0px 5px;
	margin:0;
}

.issueinputarea .issuelink input {
	width:98%;
	margin:6px 0;
	padding:0;
}

.issueinputarea .issuelink .right{
	float:right;
	font-style:italic;
}

.issueinputarea .issuetype, .issueinputarea .recommended {
	clear:both;
}

.issueinputarea .issuetype select {
	float:right;
}

.issue-pagenav {
	float:right;
	clear:both;
	font-size:14px;
}

.issue-pagenav .page-numbers{
	display:inline-block;
	border:1px solid #f7f7f7;
	background-color:#f7f7f7;
	margin:1px;
	padding:3px;
	color:black;
}


.issue-pagenav .page-numbers.current{
	background-color:#0274A2;
	color:white;
}
