@import "../variables-site/variables-site";
@import "../mixins/mixins-master";

h1, h2, h3, h4, h5, h6 {
	clear: both;

	// Override wp4.css.
	font-family: inherit;
	line-height: $font__line-height-body;
	margin: 2rem 0 1rem;
}

h1 {
	@include font-size( ms-unitless( ms(12) ) );
	font-weight: 300;
}

h1.title {
	@include font-size( ms-unitless( ms(-2) ) );
	color: $color__link;
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

h2 {
	@include font-size( ms-unitless( ms(8) ) );
	font-weight: 300;
}

h3 {
	@include font-size( ms-unitless( ms(4) ) );
	font-weight: 400;
}

h4 {
	@include font-size( ms-unitless( ms(2) ) );

	// Override wp4.css.
	border: none;
	color: $color__text-main;
	font-weight: 600;
	padding: 0;
}

h5 {
	@include font-size( ms-unitless( ms(0) ) );
	font-weight: 600;
	letter-spacing: 0.01rem;
	text-transform: uppercase;
}

h6 {
	@include font-size( ms-unitless( ms(-2) ) );
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
