/* =Admin CSS
----------------------------------------------- */

#wporg_parsed_ticket {
	width: 100px;
}

#ticket_info_icon {
	font-size: 14px;
	color: #a00;
}

.attachment_controls .spinner {
	position: relative;
	margin-top: 3px;
	bottom: 4px;
	float: none;
}

.attachment_controls {
	margin-bottom: 10px;
	display: block;
}


/* Explanations */

.post-type-wporg_explanations .page-title-action {
	display: none;
}

.expl-row-actions {
	display: block;

	a {
		display: inline-block;

		&:first-child {
			padding-right: 6px;
			padding-left: 0;
		}
		&:nth-child(n+2) {
			padding-left: 8px;
			border-left: 1px solid #ccc;
		}
	}
}

.status {
	font-weight: bold;

	&.pending {
		color: red;
	}

	&.publish {
		color: green;
	}
}
.post-type-wp-parser-function,
.post-type-wp-parser-class,
.post-type-wp-parser-method,
.post-type-wp-parser-hook {
	.form-table {
		th {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		td {
			padding: 10px;

			p {
				margin-top: 0;
			}
		}
	}
}

/* Parsed Content Meta Box */
.wporg_parsed_content {
	width: 100%;
}