.wporg-release-menu-options {
	.wp-block-navigation__submenu-container {
		top: calc( 100% + 4px ) !important;
		right: 0 !important;
		left: auto !important;
	}

	.wp-block-navigation-item {
		background-color: initial; /* Stops the hidden overflow on focus */
	}

	.wp-block-navigation__submenu-icon {
		display: none; /* Hide dropdown caret */
	}

	/* Manually apply screen reader text styles */
	button > .wp-block-navigation-item__label {
		word-wrap: normal !important;
		border: 0;
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	button {
		content: '';
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' aria-hidden='true' focusable='false'%3E%3Cpath d='M13 19h-2v-2h2v2zm0-6h-2v-2h2v2zm0-6h-2V5h2v2z'%3E%3C/path%3E%3C/svg>");
		background-repeat: no-repeat;
		background-position: center;
		width: 32px;
		height: 32px;
	}
}
