html, body {
	margin: 0;
}

.gp-content {
	font-family: 'Open Sans', sans-serif !important;
	margin: 20px auto;
	max-width: 940px;
	padding: 0 10px;
}

.gp-content h2 {
	font-family: 'Open Sans', sans-serif !important;
	margin: 2px 0 .6em;
}

.gp-content span.breadcrumb {
	margin: .5em 0;
	display: block;
	float: none;
}

.actionlist a,
.actionlist a:link,
.actionlist a:visited,
.gp-content a {
	color: #0074a2;
}

.gp-content a:hover {
	color: #2ea2cc;
	text-decoration: none;
}

ul a.edit,
dt a.edit,
ul a.edit:hover,
dt a.edit:hover {
	color: #fff;
}

#hello {
	margin-top: 22px;
	font-size: 1em;
}

p.description {
	margin: 1em;
}

p.actionlist {
	margin-top: 1em;
	margin-bottom: 1em;
}

#gp-footer {
	clear: both;
	font-family: 'Open Sans' !important;
	background: none;
	color: #a0a5aa;
}

#gp-footer a {
	color: #0073aa;
}

/* custom markup */
#headline .menu-link {
	padding-right: 20px;
}

/* overrides the global stylesheet: */
.gp-content blockquote {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
}

.gp-content ul {
	padding-left: 20px;
}

.gp-content #submit {
	font-size: 1em;
	margin: 0.4em 0.1em 0 0;
}

.notice {
	background: #99d9ed;
	border-left: 3px solid #00a0d2;
	margin-bottom: 10px;
}

.notice a {
	color: #006799;
}

.intro {
	width: 75%;
	margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.5em;
}

.filter-header {
	font-family: 'Open Sans' !important;
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px 0 25px;
	padding: 0 20px;
	width: 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	border: 1px solid #dfdfdf;
	background: #efefef;
	color: #555;
	font-size: 13px;
}

ul.filter-header-links {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.filter-header-links li {
	display: inline-block;
	margin: 0;
}

.filter-header-links li > a,
.filter-header-links li > span {
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 4px solid #fff;
	color: #666;
	cursor: pointer;
}

.filter-header-links .current {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 4px solid #666;
	color: #222;
}

.filter-header .search-form {
	float: right;
	margin: 12px 0 11px;
}

.filter-header .filter-search {
	margin: 0;
	padding: 3px 5px;
	width: 280px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #333;
	outline: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: textfield;
}

.locales {
	margin-left: -2.083%;
}

.locales:before,
.locales:after {
	content: "";
	display: table;
}

.locales:after {
	clear: both;
}

.locale {
	float: left;
	margin: 0 0 2.083% 2.083%;
	width: 31.25%;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.locale.percent-100 {
	border-color: #509040;
}

.locale-button .button {
	height: 26px;
}

.locale-button .button a {
	vertical-align: baseline;
	color: #555;
	line-height: 26px;
	padding: 0 10px 5px;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
}

.locale-button .button a:hover {
	color: #333;
}

.locale-button {
	background: #f9f9f9;
	text-align: center;
	padding: 13px 0;
}

.locale-button a {
	color: #555;
	padding: 8px;
}

.locale .name {
	display: inline-block;
	margin: 0;
	padding: 20px;
}

.locale .name li {
	display: block;
}

.locale .name li.english a {
	font-weight: bold;
}

.locale .name li.code a {
	color: #999;
}

.locale .contributors {
	float: right;
	margin-top: 20px;
	padding: 10px 20px;
	color: #006799;
	border-left: 1px solid #eee;
	text-align: center;
}

.locale .contributors .dashicons {
	margin-left: -7px;
	font-size: 2em;
	padding-bottom: 10px;
}

.locale .percent {
	width: 100%;
	height: 4px;
	background-color: #d6d6d6;
}

.locale .percent-complete {
	height: 4px;
	background-color: #509040;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

/* Responsive styles */
@media (max-width: 700px) {
	.intro {
		width: 100%;
	}
}

@media only screen and (max-width: 1120px) {
	.locales .locale {
		width: 47.917%;
	}
}

@media only screen and (max-width: 480px) {
	.locales {
		margin-left: 0;
	}

	.locales .locale {
		width: 100%;
		margin-left: 0;
	}
}
