html, body {
	margin: 0;
}

.gp-content {
	font-family: 'Open Sans', sans-serif !important;
	margin: 20px auto;
	max-width: 940px;
	padding: 0 10px;
}

.gp-content h2 {
	font-family: 'Open Sans', sans-serif !important;
	margin: 2px 0 .6em;
}


.gp-content h3 {
	background: none;
	padding: 0;
	margin: 2px 0 .6em;
}

.gp-content span.breadcrumb {
	margin: .5em 0;
	display: block;
	float: none;
}

.actionlist a,
.actionlist a:link,
.actionlist a:visited,
.gp-content a {
	color: #0074a2;
}

.gp-content a:hover {
	color: #2ea2cc;
	text-decoration: none;
}

ul a.edit,
dt a.edit,
ul a.edit:hover,
dt a.edit:hover {
	color: #fff;
}

#hello {
	margin-top: 22px;
	font-size: 1em;
}

p.description {
	margin: 1em;
}

p.actionlist {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Change some colors (http://codepen.io/hugobaeta/full/RNOzoV/) */
span.morethan90 {
	background: none;
	font-size: 90%;
	color: #509040;
}

span.context {
	font-size: 90%;
	background-color: #a0a5aa;
}

table.translations td.translation li {
	border-bottom: 1px dotted #eee;
}

table.translations thead th,
table.translations tfoot th,
table.translation-sets thead th,
table.translations tfoot th,
table.glossary thead th,
table.locale-sub-projects thead th,
table.locales thead th {
	background-color: #72777c;
	color: #fff;
}

table.translations,
table.translation-sets,
table.glossary,
table.locale-sub-projects {
	border-spacing: 0;
}

table.translations td,
table.translations th,
table.translation-sets td,
table.translation-sets th,
table.locales td,
table.locales th,
table.glossary th,
table.glossary td,
table.locale-sub-projects th,
table.locale-sub-projects td {
	border: 0;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}

table.translations td:first-child,
table.translations th:first-child,
table.translation-sets td:first-child,
table.translation-sets th:first-child,
table.locales td:first-child,
table.locales th:first-child,
table.glossary th:first-child,
table.glossary td:first-child,
table.locale-sub-projects th:first-child,
table.locale-sub-projects td:first-child {
	border-left: 1px solid #eee;
}

table.translations tr:nth-child(4n+3),
.translation-sets tr,
.locales tr {
	background-color: #f9f9f9;
}

.translations tr.preview:hover,
.translation-sets tr:nth-child(odd):hover,
.locales tr:nth-child(odd):hover,
.translation-sets tr:hover,
.locales tr:hover,
.locale-sub-projects tr:hover td {
	background-color: #e5f5fa;
}

table.translations tr.preview.status-current,
#legend .status-current {
	background-color: #c1e1b9;
}

table.translations tr.preview.status-waiting,
#legend .status-waiting {
	background-color: #ffe399;
}

table.translations tr.preview.status-fuzzy, #legend .status-fuzzy {
	background-color: #fbc5a9;
}

table.translations tr.preview.has-warnings td.original,
div#legend div.has-warnings {
	border-left: 3px solid #dc3232;
}

table.translations tr.preview.status-rejected,
#legend .status-rejected {
	background-color: #f1adad;
}

table.translations tr.preview.status-old,
#legend .status-old {
	background-color: #cdc5e1;
}

table.translations tr.editor {
	background-color: #eff7ed;
}

.gp-content .meta {
	color: #333;
}

.gp-content .meta a {
	color: #0074a2;
	border-bottom: 0;
}

.gp-content .meta a:hover {
	color: #2ea2cc;
	border-bottom: 0;
}

.editor .original {
	margin-bottom: 1em;
	word-break: break-all;
}

.editor .textareas textarea {
	width: 100%;
	box-sizing: border-box;
}

.editor .meta {
	margin: 0;
	padding-left: 2em;
	width: 40%;
	box-sizing: border-box;
}

#gp-footer {
	clear: both;
	font-family: 'Open Sans' !important;
	background: none;
	color: #a0a5aa;
}

#gp-footer a {
	color: #0073aa;
}

/* custom markup */
#headline .menu-link {
	padding-right: 20px;
}

/* overrides the global stylesheet: */
.gp-content blockquote {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
}

.gp-content ul {
	padding-left: 20px;
}

.gp-content #submit {
	font-size: 1em;
	margin: 0.4em 0.1em 0 0;
}

.notice {
	background: #e5f5fa;
	border-left: 3px solid #00a0d2;
	margin-bottom: 10px;
}

.notice a {
	color: #006799;
}

.intro {
	width: 75%;
	margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.5em;
}

.filter-header {
	font-family: 'Open Sans' !important;
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 30px 0;
	padding: 0 20px;
	width: 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	border: 1px solid #dfdfdf;
	background: #efefef;
	color: #555;
	font-size: 13px;
}

ul.filter-header-links {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.filter-header-links li {
	display: inline-block;
	margin: 0;
}

.filter-header-links li > a,
.filter-header-links li > span {
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 4px solid #efefef;
	color: #666;
	cursor: pointer;
}

.filter-header-links .current {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 4px solid #666;
	color: #222;
}

.filter-header .search-form {
	float: right;
	margin: 12px 0 11px;
}

.filter-header .filter-search {
	margin: 0;
	padding: 3px 5px;
	width: 280px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #333;
	outline: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: textfield;
}

.locales {
	margin-left: -2.083%;
}

/* Clearfix */
.locale-header:before,
.locale-header:after,
.project-header:before,
.project-header:after,
.projects:before,
.projects:after,
.project-box-header:before,
.project-box-header:after,
.project-status:before,
.project-status:after,
.locales:before,
.locales:after {
	content: "";
	display: table;
}

.locale-header:after,
.project-header:after,
.projects:after,
.project-box-header:after,
.project-status:after,
.locales:after {
	clear: both;
}

.locale {
	float: left;
	margin: 0 0 2.083% 2.083%;
	width: 31.25%;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.locale.percent-100 {
	border-color: #509040;
}

.contribute-button {
	height: 26px;
}

.contribute-button a {
	vertical-align: baseline;
	color: #555;
	line-height: 26px;
	padding: 0 10px 5px;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
}

.contribute-button a:hover {
	color: #333;
}

.locale-button {
	background: #f9f9f9;
	text-align: center;
	padding: 20px 0;
}

.locale .name,
.locale-box .name {
	display: inline-block;
	margin: 0;
	padding: 20px;
}

.locale .name li,
.locale-box .name li {
	display: block;
}

.locale .name li.english a,
.locale-box .name li.english {
	font-weight: bold;
}

.locale-box.project .name li.english {
	font-weight: normal;
}

.locale .name li.code a,
.locale-box .name li.code {
	color: #999;
}

.locale .contributors,
.locale-box .contributors,
.locale-box .project-status {
	float: right;
	margin-top: 20px;
	padding: 10px 20px;
	color: #006799;
	border-left: 1px solid #eee;
	text-align: center;
}

.locale-box .project-status {
	color: #509040;
	font-weight: 600;
}

.locale .contributors .dashicons,
.locale-box .contributors .dashicons {
	font-size: 2em;
	padding-bottom: 10px;
	display: inline;
}

.locale-box .contributors .dashicons {
	font-size: 1.5em;
}

.locale .percent,
.project-box .percent,
.project .percent {
	width: 100%;
	height: 4px;
	background-color: #d6d6d6;
}

.locale .percent-complete,
.project-box .percent-complete,
.project .percent-complete {
	height: 4px;
	background-color: #509040;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.locale-intro {
	float: left;
	width: 100%;
	max-width: 600px;
	margin-top: 20px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	line-height: 1.6em;
}

.locale-box {
	float: right;
	width: 250px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.projects {
	margin-left: -2.083%;
}

.projects .project {
	float: left;
	margin: 0 0 2.083% 2.083%;
	width: 47.917%;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.projects .project:nth-child(odd) {
	clear: both;
}

.projects .project.percent-100 {
	border-color: #509040;
}

.projects .project-top {
	position: relative;
	padding: 20px 20px 10px;
	min-height: 135px;
}

.projects .project-name,
.projects .project-description {
	margin-left: 148px;
	word-break: break-word;
}

.projects .project-name h4 {
	border: 0;
	margin: 0 0 12px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
}

.projects .project-description {
	font-size: 13px;
}

.projects .project-icon {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 128px;
	height: 128px;
	margin: 0 20px 20px 0;
}

.projects .project-icon .plugin-icon {
	margin: 0 !important;
}

.projects .project-icon .default-icon,
.projects .project-icon .wordpress-icon {
	width: 128px;
	height: 128px;
	background: #dedede;
}

.projects .project-icon .default-icon span,
.projects .project-icon .wordpress-icon span {
	height: 128px;
	width: 128px;
	font-size: 85px;
	line-height: 128px;
	color: #a0a5aa;
}

.projects .project-icon .wordpress-icon {
	background: #464646;
}

.projects .project-icon .wordpress-icon span {
	color: #fff;
}

.projects .project-icon .icon img {
	width: 128px;
	height: auto;
}

.projects .project-status {
	font-size: 13px;
}

.projects .project-status > div {
	width: 33.333%;
	float: left;
	margin: 20px 0;
	padding: 0 20px;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.projects .project-status-waiting {
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}

.projects .project-status-title {
	display: inline-block;
	margin-bottom: 6px;
	color: #82878c;
}

.projects .project-status-value {
	display: block;
	font-size: 16px;
	font-weight: 600;
}

.projects .project-status-progress .project-status-value {
	color: #509040;
}

.projects .project-bottom {
	background: #f9f9f9;
	text-align: center;
	padding: 20px 0;
}

/* Project */
.project-header {
	margin-bottom: 30px;
}

.project-header .project-description {
	float: left;
	width: 100%;
	max-width: 520px;
	margin-top: 20px;
}

.project-header .project-box {
	position: relative;
	float: right;
	width: 350px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.project-box.percent-100 {
	border-color: #509040;
}

.project-box .project-box-header {
	position: relative;
	padding: 15px;
}

.project-box .project-icon {
	float: left;
	width: 64px;
	height: 64px;
	margin: 0 20px 20px 0;
}

.project-box .project-icon .plugin-icon {
	margin: 0 !important;
}

.project-box .project-icon .default-icon,
.project-box .project-icon .wordpress-icon {
	width: 64px;
	height: 64px;
	background: #dedede;
}

.project-box .project-icon .default-icon span,
.project-box .project-icon .wordpress-icon span {
	height: 64px;
	width: 64px;
	font-size: 42px;
	line-height: 64px;
	color: #a0a5aa;
}

.project-box .project-icon .wordpress-icon {
	background: #464646;
}

.project-box .project-icon .wordpress-icon span {
	color: #fff;
}

.projects .project-icon .icon img {
	width: 64px;
	height: auto;
}

.project-box .project-meta {
	float: left;
	width: 165px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.project-meta .project-name {
	font-weight: 600;
}

.project-meta .locale-code {
	color: #999;
}

.project-box .project-status {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 20px;
	font-weight: 600;
	color: #509040;
	padding: 10px 0 10px 15px;
	border-left: 1px solid #eee;
}

.project-box .project-box-footer {
	background: #f9f9f9;
}

ul.projects-dropdown,
ul.projects-dropdown ul {
	padding: 0;
}

.projects-dropdown li {
	list-style: none;
}

.projects-dropdown a,
.projects-dropdown a:hover,
.projects-dropdown a:focus {
	color: #333;
}

.projects-dropdown a:hover,
.projects-dropdown a:focus {
	background: #ddd;
}

ul.projects-dropdown ul {
	position: absolute;
	left: -1px;
	width: 100%;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-top: 0;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04);
	display: none;
}

ul.projects-dropdown.open ul {
	display: block;
}

ul.projects-dropdown li > span,
ul.projects-dropdown li > a  {
	position: relative;
	display: block;
	padding: 10px 50px 10px 15px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Dropdown arrow */
ul.projects-dropdown > li > span:after {
	position: absolute;
	top: 5px;
	right: 15px;
	content: "\f140";
	width: 20px;
	height: 20px;
	font: 20px/1 "dashicons";
	border-left: 1px solid #eee;
	padding: 5px 0 5px 12px;
	box-shadow: inset 1px 0 0 #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul.projects-dropdown.open > li > span:after {
	content: "\f142";
}

/* Percentage */
ul.projects-dropdown li > a > span {
	position: absolute;
	right: 15px;
}

/* Responsive styles */
@media (max-width: 700px) {
	#hello {
		margin: 25px 10px 15px;
	}

	#hello a {
		white-space: nowrap;
	}

	.intro {
		width: 100%;
	}

	.locales,
	.projects {
		margin-left: 0;
	}

	.locales .locale,
	.projects .project {
		width: 100%;
		margin-left: 0;
	}

	.locale-intro {
		float: none;
	}

	.locale-box {
		float: none;
		width: 100%;
		margin-top: 20px;
	}

	.project-header .project-description {
		float: none;
	}

	.project-header .project-box {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 1120px) {
	.locales .locale {
		width: 47.917%;
	}
}
