/**
 * 1.0 General
 */

html,
body {
	background: #fff;
}

/* Override styles from bbpress.org */
body {
	text-align: left;
}

body:not(.trac):not(.home-page):not(.home) #main {
	margin-top: 2rem;
}

#headline {
	background: #f7f7f7;
	border-bottom: 1px solid #dfdfdf;
}

a:hover {
	text-decoration: none;
}

/**
* 2.0 Accesibility
*/

.hidden,
#accessibility {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	background: none;
	left: -999em;
}

.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}


/**
* 3.0 Clearfix
*/

.wrapper::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/**
 * 4.0 Overrides
 */
@media only screen and (min-width: 960px) {

	.col-6 #bbpress-forums {
		margin-left: 0;
	}
}

#bbpress-forums #topic-tag h1 {
	clear: both;
	font-size: 1.5625rem;
	line-height: 1.5;
	padding-bottom: 0;
}

#bbpress-forums li.bbp-forum-info {
	width: 60%;
}

#bbpress-forums li.bbp-forum-topic-count,
#bbpress-forums li.bbp-forum-reply-count {
	width: 20%;
}

#pagebody ul.forum-info,
#pagebody ul.forum-feeds,
#pagebody ul.topic-info,
#pagebody ul.topic-tags,
#pagebody ul.topic-views,
#pagebody ul.topic-admin-links {
	margin-left: 0;
}

#pagebody ul a.feed {
	background: none;
	padding-left: 0;
}

ul#views {
	margin: 2px 0 20px;
	font-size: 12px;
}

#views li {
	list-style: none;
	display: inline;
}

.bbp-topic-header .bbp-meta .bbp-topic-permalink,
.bbp-reply-header .bbp-meta .bbp-reply-permalink {
	float: none;
	margin-left: 0;
	color: $color__link;
}


div.sidebar #bbpress-forums {
	margin-bottom: 0;
}

#bbpress-forums .bbp-author-role {
	margin: -20px 12px 10px;
	border: 1px solid #ddd;
	background-color: #eee;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	border: none;
}

#bbp-your-profile fieldset input,
#bbp-your-profile fieldset textarea {
	padding: 7px;
}

#bbp-your-profile fieldset span.description {
	padding: 5px 15px;
}

#bbp-your-profile fieldset.submit {
	border: none;
}

@media screen and ( max-width: 782px ) {
	#bbpress-forums #bbp-your-profile fieldset {
		padding: 0px 20px 30px;
	}

	#bbpress-forums #bbp-your-profile fieldset label[for] {
		text-align: left;
		width: 100%;
		white-space: inherit;
	}

	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset select,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		width: 100%;
	}
}

@media screen and ( max-width: 482px ) {
	#bbpress-forums #bbp-single-user-details {
		margin-bottom: 20px;
		text-align: center;
		width: 100%;

		#bbp-user-avatar {
			width: inherit;
		}
	}
}

#bbpress-forums li.bbp-footer {
	display: none;
}

#bbpress-forums ul.bbp-lead-topic li.bbp-footer {
	display: block;
}

#bbpress-forums .bbp-pagination {
	color: #888;
	float: none;
}

#bbpress-forums .bbp-pagination-count {
	float: none;
}

#bbpress-forums .bbp-pagination-links {
	float: right;
}

#bbpress-forums .bbp-pagination-count,
#bbpress-forums .bbp-pagination-links {
	display: inline-block;
	margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form button {
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
}

#bbpress-forums fieldset.bbp-form {
	padding: 10px 0 0 0;
	border-width: 0 0 1px 0;
}

body.page #bbpress-forums .bbp-topic-form fieldset {
	padding-top: 0;
}

body.page .bbp-topic-form legend,
body.topic .bbp-reply-form legend {
	display: none;
}

body.forum #bbpress-forums .bbp-topic-form {
	border-top: 1px solid #eee;
}

body.reply-edit #bbpress-forums fieldset.bbp-form,
body.topic-edit #bbpress-forums fieldset.bbp-form {
	border-top: none;
	padding: 0;
}

#bbpress-forums .bbp-reply-form fieldset,
#bbpress-forums .bbp-topic-form fieldset {
	border-width: 0;
	padding-top: 0;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	width: auto;
}

#bbpress-forums div.reply {
	width: auto;
}

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-reply-content,
#bbpress-forums div.bbp-topic-content {
	padding: 12px 12px 12px 10px;
}

#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	background-color: #f0f0f0;
	max-height: 20em;
}

body.topic-edit #bbpress-forums fieldset legend,
body.reply-edit #bbpress-forums fieldset legend {
	display: none;
}

#bbpress-forums fieldset fieldset legend {
	display: block;
}

#bbpress-forums .bbp-reply-form input,
#bbpress-forums .bbp-topic-form input,
#bbpress-forums .bbp-reply-form textarea,
#bbpress-forums .bbp-topic-form textarea,
#bbpress-forums .bbp-reply-form select,
#bbpress-forums .bbp-topic-form select {
	padding: 6px 8px;
}

#bbpress-forums fieldset {
	margin-top: 0;
	padding: 20px 0 0 0;
}

#bbpress-forums fieldset.bbp-form legend,
#bbpress-forums fieldset.bbp-form legend {
	font-weight: 700;
	font-size: 15px;
	color: #333;
	padding: 10px 0 10px 0;
}

.sidebar .bbp-forums-list,
.sidebar .bbp-breadcrumb {
	display: none;
}

.sidebar .bbp-forums .bbp-forum-info {
	width: 80%;
}

.sidebar .bbp-forums .bbp-forum-topic-count {
	width: 20%;
}

.sidebar .forum-info,
.sidebar .topic-info {
	font-size: 12px;
}

#bbp-search-form {
	right: 0;
	margin-top: -40px;
	position: absolute;
}

#bbp_search,
.sidebar #ts,
.sidebar #rs {
	width: 140px;
	margin-top: -1px;
	margin-right: 8px;
	margin-bottom: 20px;
	padding: 3px;
}

.sidebar div ul {
	margin: 0 0 24px 0;
}

.sidebar div li {
	list-style: none;
}

.sidebar .forum-info li::before,
.sidebar .topic-info li::before,
.sidebar div ul li a::before {
	font: 400 16px/1 dashicons;
	margin-right: 5px;
	float: left;
	padding-top: 3px;
	color: #000;
}

.sidebar a.feed::before {
	content: "\f303";
}

.sidebar a.bbp-view-title::before {
	content: "\f109";
}

.sidebar .forum-info li.topic-count::before {
	content: "\f450";
}

.sidebar .topic-info li.topic-forum::before {
	content: "\f449";
}

.sidebar .topic-info li.voice-count::before {
	content: "\f307";
}

.sidebar .topic-info li.reply-count::before,
.sidebar .forum-info li.reply-count::before {
	content: "\f451";
}

.sidebar .topic-info li.topic-freshness-author::before,
.sidebar .forum-info li.forum-freshness-author::before {
	content: "\f338";
}

.sidebar .topic-info li.topic-freshness-time::before,
.sidebar .forum-info li.forum-freshness-time::before {
	content: "\f469";
}

.sidebar .forum-info li.forum-subscribe::before,
.sidebar .topic-info li.topic-subscribe::before {
	content: "\f147";
}

.sidebar .topic-info li.topic-favorite::before {
	content: "\f155";
}

#bbpress-forums li.bbp-body {
	border-bottom: 1px solid #eee;
}

#bbpress-forums li.bbp-body div.bbp-topic-content ul,
#bbpress-forums li.bbp-body div.bbp-reply-content ul {
	margin-bottom: 10px;
}

#bbpress-forums li.bbp-body div.bbp-topic-content ul:hover,
#bbpress-forums li.bbp-body div.bbp-reply-content ul:hover {
	background-color: inherit;
}

#bbpress-forums li.bbp-body div.bbp-topic-content ul li,
#bbpress-forums li.bbp-body div.bbp-reply-content ul li {
	list-style: square;
}

#bbpress-forums li.bbp-body div.bbp-topic-content li,
#bbpress-forums li.bbp-body div.bbp-reply-content li {
	margin-left: 10px;
}

#bbpress-forums ul.sticky li.bbp-topic-title a.bbp-topic-permalink::before,
#bbpress-forums ul.super-sticky li.bbp-topic-title a.bbp-topic-permalink::before {
	font: 400 16px/1 dashicons;
	content: "\f450";
	margin-right: 5px;
	float: left;
	padding-top: 3px;
	color: #bb0;
}

#bbpress-forums ul.sticky.status-closed li.bbp-topic-title a.bbp-topic-permalink::before,
#bbpress-forums ul.super-sticky.status-closed li.bbp-topic-title a.bbp-topic-permalink::before {
	color: #bbb;
}

#bbpress-forums li.bbp-body ul li.bbp-topic-title a.page-numbers {
	padding: 1px 5px;
}

#bbpress-forums ul.status-closed,
#bbpress-forums ul.status-closed a {
	color: #aaa;
}

#bbpress-forums p.bbp-topic-meta {
	margin: 4px 0 0;
}

#bbpress-forums p.bbp-topic-meta a {
	color: #888;
	text-decoration: none;
}

#bbpress-forums p.bbp-topic-meta .bbp-topic-started-in a {
	color: #eee;
	background-color: #888;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 10px;
	font-weight: 700;
}

#bbpress-forums div.bbp-template-notice {
	margin-top: 0;
}

#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 15px;
}

#bbpress-forums li.bbp-body div.type-topic,
#bbpress-forums li.bbp-body div.type-reply,
#bbpress-forums li.bbp-body div.type-reported_topics {
	position: relative;
}

#bbpress-forums li.bbp-body div.type-reply {
	border-top: 1px solid #eee;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	margin-bottom: 15px;
}

#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	width: 130px;
}

#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
}

/* =bbPress Lead Topic
-------------------------------------------------------------- */

#bbpress-forums ul.bbp-lead-topic li.bbp-body {
	border: 1px solid #dd6;
}

#bbpress-forums ul.bbp-lead-topic li.bbp-body div.topic {
	background-color: #ffe;
}

/* =bbPress Markdown
-------------------------------------------------------------- */

#wmd-button-barbbp_reply_content,
#wmd-button-barbbp_topic_content,
.wmd-panel {
	margin-bottom: 10px;
}

#bbpress-forums .wmd-preview {
	width: 98%;
}

#bbpress-forums .wmd-preview ul li {
	list-style: square;
	margin-left: 20px;
}

#bbpress-forums .wmd-preview ol li {
	list-style: decimal;
	margin-left: 20px;
}

#bbpress-forums .bbp-reply-content pre,
#bbpress-forums .bbp-topic-content pre {
	background-color: #f2f2f2;
	overflow: auto;
	margin: 5px;
	padding: 10px;
	border: 1px dotted #bbb;
}

#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	border: 1px solid #ccc;
	outline-color: rgb( 131, 189, 102 );
}

/* Notices */
div.bbp-template-notice,
div.indicator-hint {
	background: #fff8e5;
	border: 1px solid #ffb900;
	border-radius: 0;
}

div.bbp-template-notice.error,
div.bbp-template-notice.warning {
	background: #fbeaea;
	border: 1px solid #dc3232;
}

div.bbp-template-notice.updated {
	background: #ecf7ed;
}

/* Reply button */
// div.bbp-submit-wrapper {
// 	float: none;
// }

// #bbpress-forums .bbp-reply-form fieldset.bbp-form button,
// #bbpress-forums .bbp-topic-form fieldset.bbp-form button {
// 	float: none;
// 	margin-top: 0;
// }

// #bbpress-forums .bbp-submit-wrapper .button {
// 	display: inline-block;
// 	text-decoration: none;
// 	font-size: 12px;
// 	line-height: 23px;
// 	color: #333;
// 	text-shadow: 0 1px 0 #fff;
// 	height: 24px;
// 	margin: 0;
// 	padding: 0 10px 1px;
// 	border: 1px solid #bbb;
// 	-webkit-appearance: none;
// 	-webkit-border-radius: 3px;
// 	border-radius: 3px;
// 	white-space: nowrap;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// 	background: #f3f3f3;
// 	background-image:
//  -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
// 	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
// 	background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
// }

// #bbpress-forums .bbp-submit-wrapper .button:hover {
// 	color: #222;
// 	border-color: #999;
// 	background: #f3f3f3;
// 	background-image:
//  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
// 	background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
// 	background-image: linear-gradient(to bottom, #fff, #f3f3f3);
// }

/* Focus outline */
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	outline: 0;
}

#bbpress-forums fieldset.bbp-form textarea:focus,
#bbpress-forums fieldset.bbp-form select:focus,
#bbpress-forums fieldset.bbp-form input:focus {
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}

/* Search forms */
#bbp-search-form {
	clear: left;
	position: relative;
	margin-top: 0;
}

#bbp-search-form #bbp_search {
	width: 320px;
}

#bbp-search-form #bbp_search_submit {
	height: ms(4);
}

.sidebar #ts,
.sidebar #rs {
	width: 90%;
	margin: 0 0 5px;
}

/* Sticky topics */
#bbpress-forums ul.sticky li.bbp-topic-title a.bbp-topic-permalink::before,
#bbpress-forums ul.super-sticky li.bbp-topic-title a.bbp-topic-permalink::before {
	content: "\f109";
	color: #ffb900;
}

.bbp-forum-content ul.sticky,
.bbp-topics ul.sticky,
.bbp-topics ul.super-sticky,
.bbp-topics-front ul.super-sticky {
	background-color: #fff8e5 !important;
}

/* Closed topics */
#bbpress-forums ul.status-closed:not(.sticky) li.bbp-topic-title a.bbp-topic-permalink::before {
	content: "\f160";
	color: #bbb;
	font: 400 16px/1 dashicons;
	margin-right: 5px;
	float: left;
	padding-top: 2px;
}

/* Resolved topics */
.topic-resolved-indicator {
	background-color: #64b450;
	color: #fff;
	position: absolute;
	padding: 4px 12px 4px 6px;
	right: -3px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.resolved::before,
.topic-resolved-indicator::before {
	content: "\f147";
	color: #64b450; /*#46b450;*/
	font: 400 18px/0.8 dashicons;
	margin-right: 3px;
	position: relative;
	top: 4px;
}

.topic-resolved-indicator::before {
	color: #fff;
	font-size: 21px;
	padding-top: 0;
}

/* Force widths for desktops */
@media screen and ( min-width: 960px ) {

	#header-inner,
	#headline-inner,
	#subnav-inner,
	#showcase-inner,
	#main,
	#footer {
		width: 960px;
	}

	div.content {
		width: 692px;
	}

	div.leftcol {
		width: 340px;
	}

	div.rightcol {
		width: 340px;
	}

	div.sidebar {
		width: 212px;
	}

	div.group div.content {
		width: 660px;
	}

	div.group div.sidebar {
		width: 200px;
	}
}

/* Do not fix #header for non-desktops */
@media screen and ( max-width: 782px ) {

	#header {
		top: 0;
		z-index: 0;
		position: absolute;
	}

	#wpadminbar {
		position: absolute;
	}
}

@media screen and ( max-width: 480px ) {

	.topic-resolved-indicator {
		padding-top: 2px;
		padding-bottom: 2px;
		top: -2rem;
		right: -1.7rem;
	}

	.topic-resolved-indicator::before {
		font-size: 19px;
	}
}

/* Bump #header-inner height on mobile to support stacked elements */
@media screen and ( max-width: 460px ) {

	#header-inner {
		height: 140px;
		margin: 0 auto;
		padding: 0;
	}

	#main {
		margin: 100px 10px 40px 10px;
	}
}
