<?xml version="1.0" encoding="UTF-8"?>
<!--
Runs against a FreeScout install: /var/www/html, or the path in FREESCOUT_PATH. Locally: npm run freescout:test (from environments/).
Output goes to stderr because FreeScout middleware calls header(), which fails once anything is written to stdout.
-->
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	stderr="true"
	beStrictAboutOutputDuringTests="true"
	cacheResult="false"
>
	<testsuites>
		<testsuite name="modules">
			<directory suffix="Test.php">Modules/*/tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="APP_ENV" value="testing" force="true"/>
		<env name="DB_CONNECTION" value="testing" force="true"/>
		<env name="CACHE_DRIVER" value="array" force="true"/>
		<env name="SESSION_DRIVER" value="array" force="true"/>
		<env name="QUEUE_DRIVER" value="sync" force="true"/>
		<env name="WPORG_API_URL" value="http://127.0.0.1:9/" force="true"/>
		<env name="WPORG_API_SECRET" value="test-secret" force="true"/>
		<env name="WPORG_AKISMET_KEY" value="" force="true"/>
	</php>
</phpunit>
