.wp-block-wporg-release-details-form {
	label {
		display: block;
	} 

	ul {
		padding-left: var(--wp--preset--spacing--20) !important;
	}
}

.wp-block-wporg-release-details-form-actions {
	display: flex;
	margin-top: var(--wp--preset--spacing--20);
	gap: 8px;
}