.wporg-chart-block {
	width: 100%;
}

.wporg-chart-block__actions label {
	margin-right: 0.5rem;
	font-size: 14px;
}

.wporg-chart-block__notes {
	position: relative;
	font-size: 13px;
	height: 40px;
	z-index: 100000;
}

.wporg-chart-block__notes ul {
	position: absolute;
	left: 0;
	margin-top: 0.5rem;

	padding: 1rem 2rem;
	background: #fff;
	border: 1px solid #888;
}

.wporg-chart-block__notes__toggle {
	font-size: 14px;
	color: #666;
}