.site-header {
	.home & {
		background: #0073aa;

		@include breakpoint( $ms-breakpoint ) {
			padding: ms( 10 ) ms( 4 );
		}

		.site-title {
			color: #fff;
			display: block;
			font-size: ms( 10 );
			font-weight: 300;
			line-height: 1;
			margin: 2rem 0 1rem;
			text-align: center;

			@include breakpoint( $ms-breakpoint ) {
				font-size: ms( 12 );
			}
		}

		.site-description {
			color: #fff;
			max-width: ms( 32 );
			padding: 11px 0;
		}
	}
}
